
tbody .laytable-cell-1-productName,
tbody .laytable-cell-1-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-2-productName,
tbody .laytable-cell-2-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-3-productName,
tbody .laytable-cell-3-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-4-productName,
tbody .laytable-cell-4-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-5-productName,
tbody .laytable-cell-5-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-6-productName,
tbody .laytable-cell-6-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-7-productName,
tbody .laytable-cell-7-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-8-productName,
tbody .laytable-cell-8-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-9-productName,
tbody .laytable-cell-9-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-10-productName,
tbody .laytable-cell-10-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-11-productName,
tbody .laytable-cell-11-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-12-productName,
tbody .laytable-cell-12-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-13-productName,
tbody .laytable-cell-13-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-14-productName,
tbody .laytable-cell-14-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-15-productName,
tbody .laytable-cell-15-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-16-productName,
tbody .laytable-cell-16-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-17-productName,
tbody .laytable-cell-17-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-18-productName,
tbody .laytable-cell-18-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-19-productName,
tbody .laytable-cell-19-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-20-productName,
tbody .laytable-cell-20-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-21-productName,
tbody .laytable-cell-21-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-22-productName,
tbody .laytable-cell-22-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-23-productName,
tbody .laytable-cell-23-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-24-productName,
tbody .laytable-cell-24-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-24-productName,
tbody .laytable-cell-24-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-25-productName,
tbody .laytable-cell-25-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-26-productName,
tbody .laytable-cell-26-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-27-productName,
tbody .laytable-cell-27-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-28-productName,
tbody .laytable-cell-28-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-29-productName,
tbody .laytable-cell-29-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-30-productName,
tbody .laytable-cell-30-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-31-productName,
tbody .laytable-cell-31-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-32-productName,
tbody .laytable-cell-32-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-33-productName,
tbody .laytable-cell-33-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-34-productName,
tbody .laytable-cell-34-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-35-productName,
tbody .laytable-cell-35-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-36-productName,
tbody .laytable-cell-36-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-37-productName,
tbody .laytable-cell-37-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-38-productName,
tbody .laytable-cell-38-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-38-productName,
tbody .laytable-cell-38-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-39-productName,
tbody .laytable-cell-39-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-40-productName,
tbody .laytable-cell-40-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-41-productName,
tbody .laytable-cell-41-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-42-productName,
tbody .laytable-cell-42-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-43-productName,
tbody .laytable-cell-43-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-44-productName,
tbody .laytable-cell-44-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-45-productName,
tbody .laytable-cell-45-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-46-productName,
tbody .laytable-cell-46-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-47-productName,
tbody .laytable-cell-47-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-48-productName,
tbody .laytable-cell-48-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-49-productName,
tbody .laytable-cell-49-productNum {
	color: #357BEA !important;
}

tbody .laytable-cell-50-productName,
tbody .laytable-cell-50-productNum {
	color: #357BEA !important;
}