tbody .laytable-cell-1-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-2-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-3-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-4-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-5-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-6-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-7-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-8-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-9-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-10-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-11-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-12-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-13-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-14-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-15-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-16-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-17-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-18-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-19-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-20-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-21-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-22-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-23-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-24-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-25-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-26-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-27-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-28-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-29-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-30-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-31-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-32-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-33-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-34-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-35-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-36-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-37-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-38-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-39-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-40-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-41-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-42-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-43-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-44-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-45-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-46-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-47-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-48-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-49-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-50-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-51-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-52-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-53-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-54-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-55-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-56-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-57-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-58-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-59-productNum {
	color: #232323 !important;
}

tbody .laytable-cell-60-productNum {
	color: #232323 !important;
}
tbody .laytable-cell-1-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-2-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-3-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-4-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-5-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-6-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-7-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-8-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-9-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-10-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-11-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-12-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-13-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-14-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-15-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-16-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-17-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-18-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-19-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-20-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-21-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-22-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-23-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-24-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-25-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-26-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-27-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-28-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-29-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-30-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-31-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-32-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-33-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-34-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-35-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-36-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-37-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-38-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-39-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-40-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-41-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-42-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-43-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-44-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-45-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-46-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-47-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-48-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-49-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-50-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-51-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-52-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-53-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-54-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-55-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-56-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-57-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-58-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-59-productUnit {
	color: #357BEA !important;
}

tbody .laytable-cell-60-productUnit {
	color: #357BEA !important;
}
tbody .laytable-cell-1-productName {
	color: #232323 !important;
}

tbody .laytable-cell-2-productName {
	color: #232323 !important;
}

tbody .laytable-cell-3-productName {
	color: #232323 !important;
}

tbody .laytable-cell-4-productName {
	color: #232323 !important;
}

tbody .laytable-cell-5-productName {
	color: #232323 !important;
}

tbody .laytable-cell-6-productName {
	color: #232323 !important;
}

tbody .laytable-cell-7-productName {
	color: #232323 !important;
}

tbody .laytable-cell-8-productName {
	color: #232323 !important;
}

tbody .laytable-cell-9-productName {
	color: #232323 !important;
}

tbody .laytable-cell-10-productName {
	color: #232323 !important;
}

tbody .laytable-cell-11-productName {
	color: #232323 !important;
}

tbody .laytable-cell-12-productName {
	color: #232323 !important;
}

tbody .laytable-cell-13-productName {
	color: #232323 !important;
}

tbody .laytable-cell-14-productName {
	color: #232323 !important;
}

tbody .laytable-cell-15-productName {
	color: #232323 !important;
}

tbody .laytable-cell-16-productName {
	color: #232323 !important;
}

tbody .laytable-cell-17-productName {
	color: #232323 !important;
}

tbody .laytable-cell-18-productName {
	color: #232323 !important;
}

tbody .laytable-cell-19-productName {
	color: #232323 !important;
}

tbody .laytable-cell-20-productName {
	color: #232323 !important;
}

tbody .laytable-cell-21-productName {
	color: #232323 !important;
}

tbody .laytable-cell-22-productName {
	color: #232323 !important;
}

tbody .laytable-cell-23-productName {
	color: #232323 !important;
}

tbody .laytable-cell-24-productName {
	color: #232323 !important;
}

tbody .laytable-cell-25-productName {
	color: #232323 !important;
}

tbody .laytable-cell-26-productName {
	color: #232323 !important;
}

tbody .laytable-cell-27-productName {
	color: #232323 !important;
}

tbody .laytable-cell-28-productName {
	color: #232323 !important;
}

tbody .laytable-cell-29-productName {
	color: #232323 !important;
}

tbody .laytable-cell-30-productName {
	color: #232323 !important;
}

tbody .laytable-cell-31-productName {
	color: #232323 !important;
}

tbody .laytable-cell-32-productName {
	color: #232323 !important;
}

tbody .laytable-cell-33-productName {
	color: #232323 !important;
}

tbody .laytable-cell-34-productName {
	color: #232323 !important;
}

tbody .laytable-cell-35-productName {
	color: #232323 !important;
}

tbody .laytable-cell-36-productName {
	color: #232323 !important;
}

tbody .laytable-cell-37-productName {
	color: #232323 !important;
}

tbody .laytable-cell-38-productName {
	color: #232323 !important;
}

tbody .laytable-cell-39-productName {
	color: #232323 !important;
}

tbody .laytable-cell-40-productName {
	color: #232323 !important;
}

tbody .laytable-cell-41-productName {
	color: #232323 !important;
}

tbody .laytable-cell-42-productName {
	color: #232323 !important;
}

tbody .laytable-cell-43-productName {
	color: #232323 !important;
}

tbody .laytable-cell-44-productName {
	color: #232323 !important;
}

tbody .laytable-cell-45-productName {
	color: #232323 !important;
}

tbody .laytable-cell-46-productName {
	color: #232323 !important;
}

tbody .laytable-cell-47-productName {
	color: #232323 !important;
}

tbody .laytable-cell-48-productName {
	color: #232323 !important;
}

tbody .laytable-cell-49-productName {
	color: #232323 !important;
}

tbody .laytable-cell-50-productName {
	color: #232323 !important;
}

tbody .laytable-cell-51-productName {
	color: #232323 !important;
}

tbody .laytable-cell-52-productName {
	color: #232323 !important;
}

tbody .laytable-cell-53-productName {
	color: #232323 !important;
}

tbody .laytable-cell-54-productName {
	color: #232323 !important;
}

tbody .laytable-cell-55-productName {
	color: #232323 !important;
}

tbody .laytable-cell-56-productName {
	color: #232323 !important;
}

tbody .laytable-cell-57-productName {
	color: #232323 !important;
}

tbody .laytable-cell-58-productName {
	color: #232323 !important;
}

tbody .laytable-cell-59-productName {
	color: #232323 !important;
}

tbody .laytable-cell-60-productName {
	color: #232323 !important;
}