<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>库房巡检记录</title>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.inspectionRecord {
			font-family: "PingFang SC" !important;
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 20px;
		}
		
		.btns {
			float: right;
		}
		
		label {
			padding: 0 !important;
			margin-left: 20px;
		}
		
		.btns button,
		.find,
		.import {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 90px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
			font-size: 9pt;
		}
		
		.find {
			width: 76px;
		}
		
		.action {
			right: 0px !important;
		}
		
		.inputs {
			margin-bottom: 8px;
		}
		
		.cs_container {
			width: 250px !important;
		}
		
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		
				.cleardata{
			cursor: pointer;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />

	<body>
		<div class="inspectionRecord">
			<div class="layui-tab">
				<div class="inspectionRecord_header">
					<div class="inputs" style="width: 100%;">
						<div class="layui-inline" style="width: 100%;">
							<label class="layui-form-label" style="margin-left: 0;margin-right: 12px;">库房名称</label>
							<div class="layui-input-inline" style="width: 250px;">
								<input autocomplete="off" class="layui-input warehouse" id="warehouse" type="text" style="width: 250px;">
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">日期范围</label>
							<div class="layui-input-inline">
								<input autocomplete="off" id="orderdate1" class="layui-input" type="text">
							</div>
							-
							<div class="layui-input-inline">
								<input autocomplete="off" id="orderdate2" class="layui-input" type="text" style="margin-left: 0;">
							</div>
						</div>
						<br />
						<div class="layui-inline" style="margin-top: 18px;">
							<div class="layui-input-inline">
								<input onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" autocomplete="off" class="layui-input seachContent" type="text" placeholder="请输入关键字" style="margin-left: 0;width: 240px;">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: 18px;">
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="btns" style="position: relative;margin-top: 18px;">
							<button class="layui-btn addRecord">新增</button>
							<!--<button class="layui-btn update">修改</button>-->
							<button class="layui-btn moreAction">更多操作</button>
							<ul class="action">
								<li>
									<a class="del" data-type="getCheckDel" lay-event='del'>批量删除</a>
								</li>

							</ul>
						</div>
					</div>

				</div>
				<table id="inspectionRecord" lay-filter="demo"></table>
			</div>
		</div>
	</body>
	<script src="../../../plugins/layui/layui.js"></script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>
		<script src="../../../js/public.js"></script>

	<script>
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			
			
			var laypage = layui.laypage;
			var laydate = layui.laydate;
			var myDate = new Date();
			
			var currentMothFirstDay = myDate.getFullYear() + '-' +  (myDate.getMonth() + 1) +"-" + '01';
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
			
			laydate.render({
				elem: '#orderdate1',
				value: currentMothFirstDay
			});
			laydate.render({
				elem: '#orderdate2',
				value: currentDate
			});
			
			$(".cleardata").click(function() {
		
					$('.warehouse').val("");
					$('#warehouse').val("");
	
				})
			
			$(function() {
				
				function staffList() {
					$.ajax({
						type: "get",
						url: localStorage.serIp+"/WebGetWarehouseDropDownList?jsoncallback=?",
						async: true,
						dataType: 'jsonp',
						data: {
							"userId": localStorage.userId,
							"userPw": localStorage.userPw,
							'database': localStorage.database,
							'groupCompanyId': localStorage.groupcompanyid
						},
						success: function(res) {
							var data = JSON.parse(res);
							//							console.log(data)
							$('#warehouse').bComboSelect({
								showField: 'warehousename',
								keyField: 'id',
								data: data
							});
						}
					});
					
				}
				staffList()
			})
			
			var limit = 50;
			var curpage = 1;
			var count;
		
			
			function getSHIinfo(jumpFlag) {
				
			var beginTime = $('#orderdate1').val() != "" ?   $('#orderdate1').val() : currentMothFirstDay;
			var endTime = $('#orderdate2').val() != "" ? $('#orderdate2').val() : currentDate;
			var seachContent = $(".seachContent").val();
			var warehouse = $("#warehouse").val();
			
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetWarehouseCheckRecordList?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'groupCompanyId': localStorage.groupcompanyid,
						'database': localStorage.database,
						'txtCondition': seachContent,
						'warehouseid': warehouse,
						'beginTime':beginTime,
						'endTime':endTime
					},
					success: function(res) {
						var storeData = JSON.parse(res);
						var data = JSON.parse(storeData.data);
						
						count = storeData.count;
						detail(data, limit);
						
						$("[data-field=statemark] div:gt(0)").each(function(i) {
							if(data[i].statemark == 0) {
								$(this).html("无");
							} else if(data[i].statemark == 1) {
								$(this).html("有");
							} else {
								$(this).html("正确");
							}
						});
						
						$("[data-field=goodsclassify] div:gt(0)").each(function(i) {
							if(data[i].goodsclassify == 0) {
								$(this).html("分区");
							} else if(data[i].goodsclassify == 1) {
								$(this).html("正确");
							} else {
								$(this).html("错误");
							}
						});
						
						$("[data-field=stackingmaterial] div:gt(0)").each(function(i) {
							if(data[i].stackingmaterial == 0) {
								$(this).html("整齐");
							} else if(data[i].stackingmaterial == 1) {
								$(this).html("分品种");
							} else if(data[i].stackingmaterial == 2) {
								$(this).html("分批");
							} else {
								$(this).html("分区");
							}
						});
						
						$("[data-field=stackdistance] div:gt(0)").each(function(i) {
							if(data[i].stackdistance == 0) {
								$(this).html("符合要求");
							} else {
								$(this).html("不符合要求");
							}
						});
						
						$("[data-field=zhangwu] div:gt(0)").each(function(i) {
							if(data[i].zhangwu == 0) {
								$(this).html("相符");
							} else {
								$(this).html("不相符");
							}
						});
						
						$("[data-field=medicinalpackage] div:gt(0)").each(function(i) {
							if(data[i].medicinalpackage == 0) {
								$(this).html("完好");
							} else {
								$(this).html("破损");
							}
						});
						
						$("[data-field=medicinalexterior] div:gt(0)").each(function(i) {
							if(data[i].medicinalexterior == 0) {
								$(this).html("潮湿");
							} else if(data[i].medicinalexterior == 1) {
								$(this).html("发霉");
							} else if(data[i].medicinalexterior == 2) {
								$(this).html("虫蛀");
							} else if(data[i].medicinalexterior == 3) {
								$(this).html("积热");
							} else {
								$(this).html("无异常");
							}
						});
						
						$("[data-field=facilities] div:gt(0)").each(function(i) {
							if(data[i].facilities == 0) {
								$(this).html("齐全");
							} else if(data[i].facilities == 1) {
								$(this).html("不齐全");
							} else if(data[i].facilities == 2) {
								$(this).html("完好");
							} else {
								$(this).html("不完好");
							}
						});
						
						$("[data-field=door] div:gt(0)").each(function(i) {
							if(data[i].door == 0) {
								$(this).html("完好");
							} else {
								$(this).html("有安全隐患");
							}
						});
						
						$("[data-field=firefightingequipment] div:gt(0)").each(function(i) {
							if(data[i].firefightingequipment == 0) {
								$(this).html("完好");
							} else if(data[i].firefightingequipment == 1) {
								$(this).html("不能正常使用");
							} else if(data[i].firefightingequipment == 2) {
								$(this).html("在规定位置");
							} else {
								$(this).html("被挪用");
							}
						});
						
						$("[data-field=powerline] div:gt(0)").each(function(i) {
							if(data[i].powerline == 0) {
								$(this).html("完好");
							} else {
								$(this).html("有裸露，破损");
							}
						});
						
						$("[data-field=sanitation] div:gt(0)").each(function(i) {
							if(data[i].sanitation == 0) {
								$(this).html("卫生整洁");
							} else {
								$(this).html("未清洁");
							}
						});
						
						if(jumpFlag) {
							pages();
						}
					}
				});
			}
			getSHIinfo(true);

			function detail(data, limit) {
				//展示已知数据
				table.render({
					elem: '#inspectionRecord',
					data: data,
					height: "full-150",
					id: 'idTest',
					cols: [
						[
							{
								checkbox: true,
								LAY_CHECKED: false,
								width: 40,
							}, {
								field: 'warehousename',
								title: '仓库名称',
								minWidth: 200,
								event: "detail",
								style: "color:#2D89DD;cursor:pointer",
								//								templet: '<div><span ondblclick="checkProSell({{=JSON.stringify(d)}})" class="layui-table-link">{{d.warehousename}}</span></div>'
							}, {
								field: 'shading',
								title: '遮光',
								minWidth: 100,
								//								templet: '<div><span ondblclick="checkProSell({{=JSON.stringify(d)}})" class="layui-table-link">{{d.shading}}</span></div>'
							},
							{
								field: 'ventilate',
								title: '通风',
								minWidth: 100,
								//								templet: '<div><span ondblclick="checkProSell({{=JSON.stringify(d)}})" class="layui-table-link">{{d.ventilate}}</span></div>'
							}, {
								field: 'checkdate',
								title: '检查日期',
								minWidth: 100
							}, {
								field: 'statemark',
								title: '状态标记',
								minWidth: 100
							}, {
								field: 'goodsclassify',
								title: '商品分类与存放',
								minWidth: 100,
							}, {
								field: 'stackingmaterial',
								title: '物料码放',
								minWidth: 100,
							}, {
								field: 'stackdistance',
								title: '垛距',
								minWidth: 100,
							}, {
								field: 'zhangwu',
								title: '帐物',
								minWidth: 100,
							}, {
								field: 'medicinalpackage',
								title: '药品包装',
								minWidth: 100,
							}, {
								field: 'medicinalexterior',
								title: '药品外观',
								minWidth: 100,
							}, {
								field: 'facilities',
								title: '设施',
								minWidth: 100,
							}, {
								field: 'door',
								title: '门窗销',
								minWidth: 100,
							}, {
								field: 'firefightingequipment',
								title: '消防器材',
								minWidth: 100,
							}, {
								field: 'powerline',
								title: '电源线',
								minWidth: 100,
							}, {
								field: 'sanitation',
								title: '清洁卫生',
								minWidth: 100,
							}, {
								field: 'maintenancername',
								title: '养护员名称',
								minWidth: 100,
							}
						]
					],
					skin: 'row' //表格风格
						,
					even: true,
					limit: limit //每页默认显示的数量
				});
			}
			//分页
			function pages() {
				laypage.render({
					elem: 'inspectionRecord', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj) {
						curpage = obj.curr;
						limit = obj.limit;
						getSHIinfo(false);
					}
				})
			}

			$(".find").click(function() {
				getSHIinfo(true);
			})
	
			table.on('tool(demo)', function(obj, index) {
				var data = obj.data;
				var id = data.id;
				if(obj.event === 'detail') {
					parent.layer.open({
						type: 2 //此处以iframe举例
							,
						title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">库房巡检记录</span>',
						area: ['700px', '90%'],
						offset: "rb",
						content: 'views/qualityManagement/storehouseInspectionRecord/addRecord.html',
						zIndex: parent.layer.zIndex, //重点1
						success: function(layero, index) {
							var body = layer.getChildFrame('body', 'index');
							paentIfarame = layero.find("iframe")[0].contentWindow.document;
							//页面一加载添加数据到页面中
							$(".warehouse", paentIfarame).val(data.warehousename)
							$("#warehouse", paentIfarame).val(data.warehouseid);
							$(".addRecord_zheguang", paentIfarame).val(data.shading)
							$(".addRecord_tongfeng", paentIfarame).val(data.ventilate)
							$("input[name='state'][value=" + data.statemark + "]", paentIfarame).attr("checked", true);
							$("input[name='cunfang'][value=" + data.goodsclassify + "]", paentIfarame).attr("checked", true);
							$("input[name='mafang'][value=" + data.stackingmaterial + "]", paentIfarame).attr("checked", true);
							$("input[name='duoju'][value=" + data.stackdistance + "]", paentIfarame).attr("checked", true);
							$("input[name='zhangwu'][value=" + data.zhangwu + "]", paentIfarame).attr("checked", true);
							$("input[name='baozhuang'][value=" + data.medicinalpackage + "]", paentIfarame).attr("checked", true);
							$("input[name='waiguan'][value=" + data.medicinalexterior + "]", paentIfarame).attr("checked", true);
							$("input[name='sheshi'][value=" + data.facilities + "]", paentIfarame).attr("checked", true);
							$("input[name='xiao'][value=" + data.door + "]", paentIfarame).attr("checked", true);
							$("input[name='qicai'][value=" + data.firefightingequipment + "]", paentIfarame).attr("checked", true);
							$("input[name='dianyuanxian'][value=" + data.powerline + "]", paentIfarame).attr("checked", true);
							$("input[name='weisheng'][value=" + data.sanitation + "]", paentIfarame).attr("checked", true);
							$(".cunfang", paentIfarame).val(data.goodsclassifynomo)
							$(".mafang", paentIfarame).val(data.stackingmaterialnomo)
							$(".duoju", paentIfarame).val(data.stackdistancenomo)
							$(".zhangwu", paentIfarame).val(data.zhangwunomo)
							$(".baozhuang", paentIfarame).val(data.medicinalpackagenomo)
							$(".waiguan", paentIfarame).val(data.medicinalexteriornomo)
							$(".sheshi", paentIfarame).val(data.facilitiesnomo)
							$(".xiao", paentIfarame).val(data.doornomo)
							$(".qicai", paentIfarame).val(data.firefightingequipmentnomo)
							$(".dianyuanxian", paentIfarame).val(data.firefightingequipment)
							$(".weisheng", paentIfarame).val(data.sanitationnomo)
							$(".addRecord_yanghuyuan", paentIfarame).val(data.maintenancername)
							$("#salesman", paentIfarame).val(data.maintenancer);
							$(".addRecord_date", paentIfarame).val(data.checkdate)
							
							//修改点击保存的时候
							$(".addRecord_submit", paentIfarame).click(function() {
								
									if(!checkPermissionStatus("库房巡检记录-保存1")){
									
										parent.layer.open({
											title: "提示",
											content: localStorage.jurisdictionTips,
											zIndex: parent.layer.zIndex //重点1
											,
											success: function(layero) {
												parent.layer.setTop(layero); //重点2
											}
										});
										return
										
									}
				
								
								
								
								
								//弹出层转圈圈的那个
								parent.layer.open({
								  type: 3, 
								  zIndex: parent.layer.zIndex, //重点1
								  success: function(layero, index){
								  		jiazaiIndex = index;
										}
								});
								var shading = $(".shading", paentIfarame).val();
								var ventilate = $('.ventilate', paentIfarame).val();
								var warehouseid = $('#warehouse', paentIfarame).val();
								var checkdate = $(".addRecord_date", paentIfarame).val();
								var statemark = $("input[name='state']:checked", paentIfarame).val();
								var goodsclassify = $("input[name='cunfang']:checked", paentIfarame).val();
								var stackingmaterial = $("input[name='mafang']:checked", paentIfarame).val();
								var stackdistance = $("input[name='duoju']:checked", paentIfarame).val();
								var zhangwu = $("input[name='zhangwu']:checked", paentIfarame).val();
								var medicinalpackage = $("input[name='baozhuang']:checked", paentIfarame).val();
								var medicinalexterior = $("input[name='waiguan']:checked", paentIfarame).val();
								var facilities = $("input[name='sheshi']:checked", paentIfarame).val();
								var door = $("input[name='xiao']:checked", paentIfarame).val();
								var firefightingequipment = $("input[name='qicai']:checked", paentIfarame).val();
								var powerline = $("input[name='dianyuanxian']:checked", paentIfarame).val();
								var sanitation = $("input[name='weisheng']:checked", paentIfarame).val();
								var maintenancer = $("#salesman", paentIfarame).val();
								var goodsclassifynomo = $(".cunfang", paentIfarame).val();
								var stackingmaterialnomo = $(".mafang", paentIfarame).val();
								var stackdistancenomo = $(".duoju", paentIfarame).val();
								var zhangwunomo = $(".zhangwu", paentIfarame).val();
								var medicinalpackagenomo = $(".baozhuang", paentIfarame).val();
								var medicinalexteriornomo = $(".waiguan", paentIfarame).val();
								var facilitiesnomo = $(".sheshi", paentIfarame).val();
								var doornomo = $(".xiao", paentIfarame).val();
								var firefightingequipmentnomo = $(".qicai", paentIfarame).val();
								var powerlinenomo = $(".dianyuanxian", paentIfarame).val();
								var sanitationnomo = $(".weisheng", paentIfarame).val();
								var master = {
									'shading': shading,
									'ventilate': ventilate,
									'warehouseid': warehouseid,
									'checkdate': checkdate,
									'statemark': statemark,
									'goodsclassify': goodsclassify,
									'goodsclassifynomo': goodsclassifynomo,
									'stackingmaterial': stackingmaterial,
									'stackingmaterialnomo': stackingmaterialnomo,
									'stackdistance': stackdistance,
									'stackdistancenomo': stackdistancenomo,
									'zhangwu': zhangwu,
									'zhangwunomo': zhangwunomo,
									'medicinalpackage': medicinalpackage,
									'medicinalpackagenomo': medicinalpackagenomo,
									'medicinalexterior': medicinalexterior,
									'medicinalexteriornomo': medicinalexteriornomo,
									'facilities': facilities,
									'facilitiesnomo': facilitiesnomo,
									'door': door,
									'doornomo': doornomo,
									'firefightingequipment': firefightingequipment,
									'firefightingequipmentnomo': firefightingequipmentnomo,
									'powerline': powerline,
									'powerlinenomo': powerlinenomo,
									'sanitation': sanitation,
									'sanitationnomo': sanitationnomo,
									'maintenancer': maintenancer,
								};
								if($("#warehouse", paentIfarame).val() == '') {
									parent.layer.open({
										title: "提示",
										zIndex: parent.layer.zIndex, //重点1
										content: '请填写库房名称'
									});
									parent.layer.close(jiazaiIndex);
									return false;
								} else if($("#salesman", paentIfarame).val() == '') {
									parent.layer.open({
										title: "提示",
										zIndex: parent.layer.zIndex, //重点1
										content: '请填写养护员'
									});
									parent.layer.close(jiazaiIndex);
									return false;
								}
								
								$.ajax({
									type: "get",
									url: localStorage.serIp+"/WebUpdateWarehouseCheckRecord?jsoncallback=?",
									async: true,
									dataType: 'jsonp',
									data: {
										"userId": localStorage.userId,
										"userPw": localStorage.userPw,
										'database': localStorage.database,
										'id': id,
										'master': JSON.stringify(master)
									},
									success: function(res) {
										parent.layer.close(jiazaiIndex);
										var data = JSON.parse(res);
										if(data.ResultValue == 1) {
											parent.layer.open({
												title: "提示",
												content: '修改成功',
												zIndex: parent.layer.zIndex, //重点1
												success: function(layero) {
													parent.layer.setTop(layero); //重点2
												},
												end: function(){  
													parent.layer.close(index); //再执行关闭     
												}
											});
										} else {
											parent.layer.open({
												title: "提示",
												zIndex: parent.layer.zIndex, //重点1
												content: '修改失败'
											});
										}
										getSHIinfo(true);
										
									}
								});

							})
						}
					});
				}
			});	
			
			//点击新增
			$(".addRecord").click(function() {
						if(!checkPermissionStatus("库房巡检记录-保存1")){
									
										parent.layer.open({
											title: "提示",
											content: localStorage.jurisdictionTips,
											zIndex: parent.layer.zIndex //重点1
											,
											success: function(layero) {
												parent.layer.setTop(layero); //重点2
											}
										});
										return
										
									}
						
						
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">添加库房巡检记录</span>',
					area: ['700px', '90%'],
					offset: "rb",
					content: 'views/qualityManagement/storehouseInspectionRecord/newaddRecord.html',
					zIndex: parent.layer.zIndex, //重点1
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
					},
					end: function() {
						getSHIinfo(true);
					}
				});
			});
			
			
			
			//点击删除
			var $ = layui.$,
				active = {
					getCheckDel: function() { //获取选中数据
								if(!checkPermissionStatus("库房巡检记录-保存1")){
									
										parent.layer.open({
											title: "提示",
											content: localStorage.jurisdictionTips,
											zIndex: parent.layer.zIndex //重点1
											,
											success: function(layero) {
												parent.layer.setTop(layero); //重点2
											}
										});
										return
										
									}
								
								
						var checkStatus = table.checkStatus('idTest'),
							data1 = checkStatus.data;
						var idstr = "";
						// 判断删除是否为空
						if(data1.length == 0){
							parent.layer.open({
								title: "提示",
								zIndex: parent.layer.zIndex, //重点1,
								content: '请选择要删除的数据!!!'
							});
							return;
						}
					    for(var i=0;i<data1.length;i++) { 
				      		idstr += "'"+data1[i].id + "'";
		
				      		if((i+1)!=data1.length){
				      			idstr += ",";
				      		}
						} 
						parent.layer.confirm('确定删除记录？', {
							icon: 3,
							zIndex: parent.layer.zIndex, //重点1
							title: '删除'
						}, function(index) {
							$.ajax({
								type: "get",
								url: localStorage.serIp+"/WebDeleteWarehouseCheckRecord?jsoncallback=?",
								async: true,
								dataType: 'jsonp',
								data: {
									"userId": localStorage.userId,
									"userPw": localStorage.userPw,
									'database': localStorage.database,
									'id': idstr
								},
								success: function(res) {
									var data = JSON.parse(res);
									if(data.ResultValue == 1) {
											parent.layer.open({
												title: "提示",
												zIndex: parent.layer.zIndex, //重点1
												content: '删除成功'
											});
										} else {
											parent.layer.open({
												title: "提示",
												zIndex: parent.layer.zIndex, //重点1
												content: '删除失败'
											});
										}
									getSHIinfo(true);
								}
							});
							parent.layer.close(index);
						});
					}
				};

			$('.del').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});

	$("body").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();

				}
		});
		

	</script>
	
	<!--
		日期转换格式
		replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')
	-->

</html>