<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>仓库调拨</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
	</head>
	<style type="text/css">
		.allocation {
			font-family: "PingFang SC" !important;

			font-size: 9pt !important;
			color: #232323 !important;

			margin-top: 10px;
		}
		
		.btns {
			float: right;
		}
		
		label {
			padding: 0 !important;
			margin-left: 20px;
		}
		
		.btns button,
		.find {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
		}
		
		.btns button {
			width: 90px;
		}
		
		.allocation_header {
			margin-bottom: 8px;
			margin: 0 10px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		#gridContainer{
			margin-top: 5px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />

	<body>
		<div class="allocation">
			<div class="layui-tab">
				<div class="allocation_header">
					<div class="inputs">
								<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
									
								</select>
							</div>
					</div>
					

						
						<div class="layui-inline">
							<label class="layui-form-label" style="margin-left: 0px;">日期范围</label>
							<div class="layui-input-inline">
								<input autoallocation="off" id="allocationdate1" class="layui-input" type="text">
							</div>
							-
							<div class="layui-input-inline">
								<input autoallocation="off" id="allocationdate2" class="layui-input" type="text" style="margin-left: 0;">
							</div>
						</div>
						<br />
						<div class="layui-inline" style="margin-top: 18px;">
							<div class="layui-input-inline">
								<input autoallocation="off" class="layui-input seachContent" type="text" style="width: 240px;margin-left: 0;">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: 18px;">
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="btns" style="margin-top: 18px;">
							<button class="layui-btn allocationadd">新增</button>
			
						</div>
					</div>

				</div>
				<table id="allocation" lay-filter="demo">
					<div id="gridContainer"></div>
				</table>
			</div>
		</div>
	</body>
	<script src="../../../js/public.js"></script>
	<script>
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			
			
			var laydate = layui.laydate;
			var laypage = layui.laypage;
			var myDate = new Date();
			var currentMothFirstDay = getCurrentMothFirstDay();
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
			
			
			laydate.render({
				elem: '#allocationdate1',
				value: currentMothFirstDay
			});
			laydate.render({
				elem: '#allocationdate2',
				value: new Date()
			});
			
			
			var limit = 50;
			var curpage = 1;
			var count;
				if(localStorage.groupcompanyid != "0"){
				$("#fengongsiId").css("display","none");
				allocationData(true);
			}else{
					dataFun1();
			}
			
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";

							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";

							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						allocationData(true);
						
					}
				});

			}	
			
			$(".companytypeid").change(function() {
			
				allocationData(true);
			})
			

			function allocationData(jumpFlag) {
				var seachContent = $(".seachContent").val();

				
				var beginTime = $('#allocationdate1').val() !='' ? $('#allocationdate1').val() :currentMothFirstDay;
				var endTime = $('#allocationdate2').val() != '' ? $('#allocationdate2').val() : currentDate;
			
				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
				var checkState = $(".checkstate option:selected").val();
							
			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
				$.ajax({
					type: "get",
					url: localStorage.serIp  + "/WebGetWarehouseAllotTableList?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'groupCompanyId': companytypeid,
						'database': localStorage.database,
						'beginTime': beginTime,
						'endTime': endTime,
						'checkState':0,
						'txtCondition': seachContent

					},
					success: function(res) {
												parent.layer.close(jiazaiIndex);

						var allocationData = JSON.parse(res);
						count = allocationData.count;
						var data = JSON.parse(allocationData.data)
						allocationInfo(data, limit);
						$("[data-field=states] div:gt(0)").each(function(i) {
							if(data[i].states == 1) {
								$(this).html("待验收");
							} else {
								$(this).html("已完结");
							}
						});
						$("[data-field=checkstate] div:gt(0)").each(function(i) {
									switch(data[i].checkstate) 
							{
							case 1:				
								
								$(this).html("已审核");
							  break;
							case 2:  
							
								$(this).html("已作废");
							  break;
							case 0:  				
								$(this).html("未审核");
							  break;
		
							}
						});

						
						$("[data-field=checkdate] div:gt(0)").each(function(i) {
							$(this).html($(this).text().substring(0,10))
						});
						
						$("[data-field=actiondate] div:gt(0)").each(function(i) {
							$(this).html($(this).text().substring(0,10))
						});
						
						
						if(jumpFlag) {
							allocation_pages();
						}
					}
									,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});
			}
            
				// 根据可视区的高度判断
		var viewHeight = $(window).height();
		$('#gridContainer').css('height', viewHeight * 0.76 + 'px');

		function allocationInfo(data) {
			var dataGrid = $("#gridContainer").dxDataGrid({
				dataSource: data,
				showBorders: true,
				columnChooser: {
					enabled: false,
					mode: "dragAndDrop",
				},
				headerFilter: {
					visible: false
				},
				sorting: {
					mode: "none"//none
				},
				filterRow: {
					visible: false,
				},
				selection: {
					mode: "multiple",
				},
				paging: {
					pageSize: 20000000,
				},
				allowColumnResizing: true,
				columnAutoWidth: true,
				columnFixing: {
					enabled: false
				},
				grouping: {
					contextMenuEnabled: false,
					expandMode: "rowClick"
				},
				groupPanel: {
					visible: false
				},
				columns: [{
					dataField: "ordernum",
					caption: "单据编号",
					cellTemplate: function (container, options) {
						$("<div>")
							.append($("<div style='color:#2D89DD'> " + options.value + "</div>"))
							.appendTo(container);
					}
				}
				,
				{
					dataField: "owncompanyname",
					caption: "所属公司",
					width: 160,
				}, {
					dataField: "oldwarehosename",
					caption: "源仓库",
				}, {
					dataField: "oldareaname",
					caption: "源货区",
				}, {
					dataField: "oldgoodsshelves_name",
					caption: "源货架",
				}, {
					dataField: "newwarehosename",
					caption: "目标仓库",
				}, {
					dataField: "newareaname",
					caption: "目标货区",
				}, {
					dataField: "newgoodsshelves_name",
					caption: "目标货架",
				}, {
					dataField: "allotdate",
					caption: "调拨日期",
				}, {
					dataField: 'operatorsidname',
					caption: '制单人',
					width: 100,
				}, {
					dataField: 'actiondate',
					caption: '制单日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100,
					
				}, {
					dataField: 'checkername',
					caption: '审核人',
					width: 100,
				}, {
					dataField: 'checkdate',
					caption: '审核日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100,
				}, {
					dataField: 'checkstate',
					caption: '单据状态',
					width: 100,
					alignment:'left',
					cellTemplate: function (container, options) {
						var str;
						if (options.value == 0) {
							str = "未审核"
						} else if(options.value == 1) {
							str = '已审核'
						}else if(options.value == 2){
                           str = '已作废'
						}
						$("<div>")
							.append($("<div > " + str + "</div>"))
							.appendTo(container);
					}
				}, {
					dataField: 'mynum',
					caption: '自定义单号',
					width: 180,
				}, {
					dataField: 'nomo',
					caption: '备注',
					width: 180,
				},
				],
				onSelectionChanged: function (e) {
					selectedArray = [];
					selectedArray = e.selectedRowsData;
				},
			    // 点击单号修改功能
                 onCellClick: function (e) {
					var data = e.data
					if (e.columnIndex == 1 && e.rowType == 'data') {
						parent.tab.tabAdd({
						icon: '',
						id: "DBLB" + data.ordernum,
						title: data.ordernum + '仓库调拨',
						url: 'views/stockManagement/allocation/allocationDetail.html'
					});


					}
				},
			}).dxDataGrid('instance');
		}
		var selectedArray = [];

			function allocation_pages() {
				laypage.render({
					elem: 'allocation', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						curpage = obj.curr;
						limit = obj.limit;
						if(!first){
							allocationData(false);

						}
					}
				})
			}
			
		
			
			

		
			
			$('.find').click(function() {
			
				allocationData(true);
			})
			
			$("body").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();
				}
			});
			//点击新增
			$(".allocationadd").click(function() {
				
							
					if(!checkPermissionStatus("仓库调拨-保存1")){
				
							parent.layer.open({
								title: "提示",
								content: localStorage.jurisdictionTips,
								zIndex: parent.layer.zIndex //重点1
								,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								}
							});
							return
						
					 }	
					 
					 
				var  num  = randomString();
				parent.tab.tabAdd({
					icon: '',
					id: 'xindan' + num,
					title: '新增仓库调拨',
					url: 'views/stockManagement/allocation/allocationDetail.html'
				});
			});
		});
	</script>

</html>