<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>待办列表</title>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
	</head>
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />
	<style type="text/css">
		.inputs {
			margin-bottom: 8px;
		}
		
		.find,
		.import {
			margin-left: 10px;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
		}
		
		.import {
			position: fixed;
			top: 20px;
			right: 20px;
		}
		
		label {
			margin-left: 14px;
		}
		
		.layui-form-label {
			padding: 0;
		}
		
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
			z-index: 5;
		}
	</style>

	<body>
		<div class="waitList">
			<div class="inputs">
				<div class="layui-inline" style="margin-top: 18px;">
					<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input" type="text" placeholder="请输入关键字" style="margin-left: 14px;width: 240px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-top: 18px;">
					<button class="layui-btn find" style="margin-left: 5px;">查询</button>
				</div>
				<div class="layui-inline" style="margin-top: 18px;">
					<button class="layui-btn import" data-type="getImport">确认导入</button>
				</div>
			</div>

			<table id="houselist" lay-filter="demo"></table>
		</div>

	</body>
	<script src="../../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use(['table', 'jquery', 'element', 'laypage', 'laydate'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laypage = layui.laypage;
			var laydate = layui.laydate;
			var unit, agentId, beginTime, endTime, orderNum;
			var limit = 50;
			var curpage = 1;
			var count;
			var off = true;

			function staffList() {
				$.ajax({
					type: "post",
					url: localStorage.serIp + "/WebGetEmployeeDropDownList?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid
					},
					success: function(res) {
						var data = JSON.parse(res);
						$('#salesman').bComboSelect({
							showField: 'employeename',
							keyField: 'employeesid',
							data: data
						});
						unit = $('.unit').attr('data-id');
						agentId = $("#salesman").val();
						orderNum = $(".seachContent").val();
						beginTime = $('#date1').val();
						endTime = $('#date2').val();
						state = $('.state').val();
						waitData();
					}
				});
			}
			staffList()

			function waitData() {
				$.ajax({
					type: "get",
					url: localStorage.serIp + "/WebTransBillDirectsellingmastertableByRealUse?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'orderNum': '',
						'agentId': '',
						'beginTime': '',
						'endTime': '',
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid
					},
					success: function(res) {
						var initData = JSON.parse(res);
						var data = JSON.parse(initData.data);
						count = initData.count;
						wait(data, limit);

						$(".layui-table-body [data-field=checkstate] div").each(function(i) {
							if($(this).text() == 0) {
								$(this).html("未审核");
							} else {
								$(this).html("已审核");
							}
						});
						//						$(".layui-table-body [data-field=state] div").each(function(i) {
						//							if($(this).html() == 1) {
						//								$(this).html("待验收");
						//							} else if($(this).html() == 2) {
						//								$(this).html("待核价");
						//							} else if($(this).html() == 3) {
						//								$(this).html("待财务结算");
						//							} else {
						//								$(this).html("完成");
						//							}
						//						});

						$("[data-field=checkdate] div:gt(0)").each(function(i) {
							$(this).html($(this).text().slice(0, 10))
						});
						$("[data-field=actiondate] div:gt(0)").each(function(i) {
							$(this).html($(this).text().slice(0, 10))
						});
						if(off) {
							off = false;
							complete_pages();
						}
					}
				});
			}

			function wait(data, limit) {
				//展示已知数据
				table.render({
					elem: '#houselist',
					data: data,
					id: 'idTest',
					cols: [
						[ //标题栏
							{
								checkbox: true,
								LAY_CHECKED: false,
								align: "center",
								width: 40,
							}, {
								field: 'ordernum',
								title: '备货单号',
								minWidth: 100
							}, {
								field: 'state',
								title: '操作状态',
								minWidth: 100
							},
							{
								field: 'companyname',
								title: '往来单位',
								minWidth: 100
							},
							{
								field: 'masterdoctorname',
								title: '主刀医生',
								minWidth: 100
							},

							{
								field: 'surgerydate',
								title: '预计手术日期',
								minWidth: 100
							},
							{
								field: 'warehousename',
								title: '对应仓库',
								minWidth: 100
							}, {
								field: 'agentname',
								title: '业务员',
								minWidth: 100
							},
							{
								field: 'operatorsidname',
								title: '制单人',
								minWidth: 100
							}, {
								field: 'actiondate',
								title: '制单日期',
								minWidth: 100
							},
							{
								field: 'checkername',
								title: '审核人',
								minWidth: 100
							}, {
								field: 'checkdate',
								title: '审核日期',
								minWidth: 100
							},
							{
								field: 'checkstate',
								title: '单据状态',
								minWidth: 100
							}, {
								field: 'lastnum',
								title: '关联单号',
								minWidth: 100
							},
							{
								field: 'mynum',
								title: '自定义单号',
								minWidth: 100
							}, {
								field: 'nomo',
								title: '备注',
								minWidth: 100
							},
						]
					],
					skin: 'row', //表格风格
					height: "full-106",
					even: true,
					limit: limit //每页默认显示的数量
				});
			}
			//分页
			function complete_pages() {
				laypage.render({
					elem: 'houselist', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj) {
						curpage = obj.curr;
						limit = obj.limit;
						waitData();
					}
				})
			}
			$(".find").click(function() {
				off = true;
				waitData();
			})
			var active = {
				getImport: function() { //获取选中数据
					var checkStatus = table.checkStatus('idTest'),
						data = checkStatus.data;
					if(data.length != 1){
						parent.layer.open({
							title: "提示",
							content: '请选择一条数据导入'
						});
						return;
					}
					sessionStorage.dir2_data = JSON.stringify(data);
					parent.layer.open({
						title: "提示",
						content: '导入成功',
						end: function(){  
            				var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index); //再执行关闭     
          			  	}
					});
				}
			};
			$(".import").click(function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			})
			table.on('edit(demo)', function(obj) {
				var value = obj.value //得到修改后的值
					,
					data = obj.data //得到所在行所有键值
					,
					field = obj.field; //得到字段
			})
		});
	</script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>

</html>