<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>待办列表</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
	</head>
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />
	<style type="text/css">
		.inputs {
			margin-bottom: 8px;
		}
		
		.find {
			margin-left: 10px;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
		}
		
		.action {
			right: 41px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		.layui-form-label {
			padding:0px;
			padding-left: 15px;
		}
	
	
	.layui-inline{
		margin-top: 10px;
	}
	</style>

	<body>
		<div class="waitList">
			<div class="inputs">
				<div class="layui-inline" id="fengongsiId" style="">
					<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
					<div class="layui-input-inline">
						<select name="" class="layui-input companytypeid" style="width: 200px;">
							<option value="-1">全部</option>
							
						</select>
					</div>
				</div>
				
					<div class="layui-inline" style="margin-left: 0px;">
					<div class="layui-input-inline">
						<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input seachContent" type="text" placeholder="请输入关键字" style="margin-left: 14px;width: 240px;">
					</div>
					<div class="layui-inline"style="margin-top: 0px;">
						<button class="layui-btn find" style="margin-left: 5px;">查询</button>
					</div>
				</div>
				
				<div class="btns">
		
				</div>
			</div>

			<table id="houselist" lay-filter="demo">
				 <div id="gridContainer"></div>
			</table>
		</div>

	</body>
	<script src="../../../js/public.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use(['table', 'jquery', 'element', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laypage = layui.laypage;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
	
			var seachContent = $(".seachContent").val();
			var limit = 50;
			var curpage = 1;
			var count;
			
			
			if(localStorage.groupcompanyid != "0"){
				$("#fengongsiId").css("display","none");
				consumeData(true);
			}else{
					dataFun1();
					
			}
			
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
			
							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";
			
							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						consumeData(true);
						
					}
				});
			
			}
			$(".companytypeid").change(function() {
				$('.unit').val("");
				$('.unit').attr('data-id',"");
				consumeData(true);
			})
			
			
			function consumeData(off) {
				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
				var seachContent = $(".seachContent").val();

								
			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebTransBillDirectsellingmastertable?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'groupCompanyId': companytypeid,
						'database': localStorage.database,
						'txtCondition': seachContent,
						'status' :3 //3实耗待办 4核价待办
					},
					success: function(res) {
												parent.layer.close(jiazaiIndex);

						var consumeData = JSON.parse(res);
						var data = JSON.parse(consumeData.data);
						count = consumeData.count;
						consumeInfo(data, limit);
						$("[data-field=checkstate] div:gt(0)").each(function(i) {
							if(data[i].checkstate == 0) {
								$(this).html("未审核");
							} else {
								$(this).html("未审核");
							}
						});
			
						if(off) {
							consume_pages();
						}
					}
										,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});
			}

		   function consumeInfo(data, limit) {
				//   Dev Extreme
				$(function () {
			var dataGrid = $("#gridContainer").dxDataGrid({
				dataSource: data,
				//keyExpr: "ordernum",
				allowColumnReordering: true,
				showBorders: true,
				paging: {
					pageSize: 200,
				},
				sorting: {
					mode: "none"//none
				},
				selection: {
					mode: "multiple"
				},
				filterRow: {
					visible: false,
					applyFilter: "auto"
				},
				headerFilter: {
					visible: false
				},
				allowColumnResizing: true,
				columnFixing: {
					enabled: false
				},
				columns: [{
					dataField: "ordernum",
					width: 160,
					caption: "直销备货单号",
					fixed: true,
					cellTemplate:function (container, options) {
						$("<div>")
							.append($("<div style='color:#2D89DD'> " + options.value + "</div>"))
							.appendTo(container);
					}
				}
				,
				{
					dataField: "companyname",
					//width: 160,
					caption: "往来单位",
				},
				{
					dataField: "owncompanyname",
					//width: 160,
					caption: "所属公司"
				},
				{
					dataField: "warehousename",
					width: 100,
					caption: "对应仓库",
				},{
					dataField: "masterdoctorname",
					width: 100,
					caption: "主刀医生",
				},{
					dataField: "surgery",
					width: 100,
					caption: "手术名称",
				},{
					dataField: "patienname",
					width: 100,
					caption: "患者姓名",
				},{
					dataField: "surgerydate",
					width: 100,
					caption: "预计手术日期",
					cellTemplate:function (container, options) {
						var value = options.text
						 value = value.slice(0,10);
						$("<div>")
							.append($("<div> " + value + "</div>"))
							.appendTo(container);
					}
				},
				{
					dataField: "agentname",
					width: 100,
					caption: "业务员",
				},{
					dataField: "operatorsidname",
					width: 100,
					caption: "制单人",
				},
				{
					dataField: "actiondate",
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100,
					caption: "制单日期",
					cellTemplate:function (container, options) {
						var value = options.text
						 value = value.slice(0,10);
						$("<div>")
							.append($("<div> " + value + "</div>"))
							.appendTo(container);
					}
				},{
					dataField: "checkername",
					width: 100,
					caption: "审核人",
				},
				{
					dataField: "checkdate",
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100,
					caption: "审核日期",
					cellTemplate:function (container, options) {
						var value = options.text
						 value = value.slice(0,10);
						$("<div>")
							.append($("<div> " + value + "</div>"))
							.appendTo(container);
					}
				}, {
					dataField: "checkstate",
					width: 100,
					caption: "单据状态",
					cellTemplate:function(container, options){
						var str;
                          if( options.value == 1){
                                  str="未审核"
						  }else{
							  str = "审核"
						  }
						  $("<div>")
							.append($("<div> " + str + "</div>"))
							.appendTo(container);
					}
				},{
					dataField: "lastnum",
					width: 100,
					caption: "关联单号",
				},{
					dataField: "mynum",
					width: 100,
					caption: "自定义单号",
				},{
					dataField: "nomo",
					width: 260,
					caption: "备注",
					format: {
						type: "fixedPoint",
						precision: 2
					},
					customizeText: function (arg) {
						return arg.valueText;
					}
				},
				],
				onCellClick:function(e){
					var data = e.data
					if (e.columnIndex == 1 && e.rowType != "header") {
					
						var consume = data.ordernum;
						sessionStorage.consumewait = data.ordernum;
						sessionStorage.lastnum = data.lastnum;
						
							parent.tab.tabAdd({
								icon: '',
								id: 'ZXSHQD' + data.lastnum,
								title: data.ordernum + '实耗详情',
								url: 'views/salesManagement/consume/consumeDaiBan.html'

							});
						

					}
		
				
			
				}
			}).dxDataGrid('instance');
		});
			}
				 // 根据可视区的高度判断
	var viewHeight = $(window).height();
	if (viewHeight == 855) {
		$('#gridContainer').css('height', 650 + 'px'); //855*0.76
	} else {
		$('#gridContainer').css('height', viewHeight * 0.805 + 'px');
	}
			//分页
			function consume_pages() {
				laypage.render({
					elem: 'houselist', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100],
					limit: limit,
					curr: curpage,
					group: 2,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						curpage = obj.curr;
						limit = obj.limit;
						if(!first){
							consumeData(false);
						}
						
					}
				})
			}
			
			table.on('tool(demo)', function(obj) {
			

			});
			$(".find").click(function() {
	
				consumeData();
			})
			
//			$(".addConsume").click(function() {
//				var  num  = randomString();
//				parent.tab.tabAdd({
//					icon: '',
//					id: 'xindan' + num,
//					title: '新增直销实耗清点',
//					url: 'views/salesManagement/consume/newaddConsume.html'
//				});
//			});
		});
	</script>

</html>