<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>实耗详情</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
	</head>

	<body>
		<div class="shihaoDetail">

			<table id="shihaoDetail" lay-filter="demo"></table>
		</div>

	</body>
	<script type="text/javascript">
		layui.use(['table', 'jquery', 'element'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			
			
			//展示已知数据
			function data() {
				$.ajax({
					type: "get",
					url:localStorage.serIp + "/WebGetSqbhTraceBackDetail?jsoncallback=?",
					dataType: "json",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						'orderNum': sessionStorage.zxdjOrder
					},
					success: function(res) {
						var res = JSON.parse(res);
						
						var data = res.NewDataSet[4].Table5;
						detail(data);
					}
				});
			}
			data()

			function detail(data) {
				table.render({
					elem: '#shihaoDetail',
					data: data,
					cols: [
						[ //标题栏
							 {
								field: 'producename',
								title: '产品名称',
								minWidth: 150,
							},
							{
								field: 'manufacturer',
								title: '品牌',
								minWidth: 100,
							}, {
								field: 'danwei',
								title: '规格',
								minWidth: 100
							}, {
								field: 'producemodel',
								title: '型号',
								minWidth: 100
							}, {
								field: 'producenum',
								title: '编号',
								minWidth: 100
							}, {
								field: 'producecode',
								title: '主条码',
								minWidth: 100
							}, {
								field: 'producesubbarcode',
								title: '副条码',
								minWidth: 100
							}, {
								field: 'produceunit',
								title: '单位',
								minWidth: 100
							}, {
								field: 'producecount',
								title: '数量',
								minWidth: 100
							}, {
								field: 'iots',
								title: '批号',
								minWidth: 100
							}, {
								field: 'productiondate',
								title: '生产日期',
								minWidth: 100
							}, {
								field: 'indate',
								title: '有效期',
								minWidth: 100
							}, {
								field: 'areaname',
								title: '货区',
								minWidth: 100
							}, {
								field: 'qs',
								title: '合格',
								minWidth: 100
							}, {
								field: 'storagecondition',
								title: '存储条件',
								minWidth: 100
							}, {
								field: 'produceusename',
								title: '通俗名称',
								minWidth: 100
							}, {
								field: 'produceseries',
								title: '产品系列',
								minWidth: 100
							}, {
								field: 'producematerial',
								title: '材质',
								minWidth: 100
							}, {
								field: 'referencenum',
								title: '注册证号',
								minWidth: 100
							}
						]
					],
					skin: 'row', //表格风格
					height: "full-353",
					even: true,
					page: false //是否显示分页
						,
					limits: [50,100,200],
					limit: 50 //每页默认显示的数量
				});
			}
		});
	</script>

</html>