<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>添加仓库权限</title>
				<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
	</head>
	<style type="text/css">
		#addbank {
			/*width: calc(100vw+17px);*/
			font-size: 9pt;
		}
		
		#addbank legend {
			font-family: "PingFang" !important;
			font-size: 14px !important;
			color: #2D89DD !important;
			font-weight: 800 !important;
		}
		
		#addbank label {
			width: 120px !important;
			font-size: 9pt !important;
			color: #232323 !important;
		}
		
		#addbank input {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
		}
		
		#addbank select {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
			/*border: 1px solid #DDDDDD !important;*/
		}
		
		#addbank textarea {
			font-size: 9pt !important;
			width: 400px !important;
			height: 80px;
			/*border: 1px solid #ddd !important;*/
		}
		
		#addbank .layui-form-title {
			width: 100%;
			right: 15px;
			padding-top: 5px;
			margin-bottom: -20px;
			position: fixed;
			z-index: 100;
			background-color: #FFFFFF !important;
			line-height: 32px;
			top: 1px;
		}
		
		#addbank button {
			margin-left: 8px;
			text-align: center;
			width: 76px;
			height: 28px;
			line-height: 28px;
			float: right;
			font-family: "PingFang" !important;
			font-size: 14px !important;
			color: #FFFFFF !important;
			background-color: #2D89DD !important;
		}
		
		.current {
			background-color: #357BEA;
		}
		
		#addbank {
			margin-bottom: 120px;
		}
	</style>

	<body>
		<div id="addbank">
			<div class="layui-form-item layui-form-title">
				<button class="layui-btn addbank_submit">提交</button>
			</div>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
				<legend>基础信息</legend>
			</fieldset>
									
			<div class="layui-form-item">
						<label class="layui-form-label" style="margin-left: 0px;"><b style="color: red !important;margin-right: 4px;">*</b>所属公司：</label>
						<div class="layui-input-inline">
							<select name="" class="layui-input companytypeid" style="width: 200px;">
								
							</select>
						</div>
				</div>
				
							
							
			<div class="layui-form-item">
				<label class="layui-form-label"><b style="color: red !important;margin-right: 4px;">*</b>对应仓库：</label>
				<div class="layui-input-block" id="warehouseId">
						<input id="targetWarehouseId" data-id='' value="" class="layui-input targetWarehouse" type="text" style="width: 250px;height: 28px;line-height: 28px;">

				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><b style="color: red !important;margin-right: 4px;">*</b>对应货区：</label>
				<div class="layui-input-block" id="stockareaId">
						<input name="title" lay-verify="title" value="" data-id='' autocomplete="off" id="duiyingstockareaId" class="layui-input stockarea" type="text" style="width: 250px;height: 28px;line-height: 28px;">

				</div>
			</div>
		
		</div>
	</body>
	<script src="../../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use(['jquery', 'layer'], function() {
			var $ = layui.$, //重点处
				layer = layui.layer;
				
			//获取公司信息
			function getCompanyInfo() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid

					},
					success: function(res) {
						var desData = JSON.parse(res);
						
						var optionsStr ="";
						if(desData.length == 0 && localStorage.groupcompanyid != "0"){  //子公司
							var companytypeid=localStorage.groupcompanyid
							optionsStr+= "<option value='"+companytypeid+"'>"+localStorage.companyname+"</option>";
							$(".companytypeid").append(optionsStr);
							$(".companytypeid").attr("disabled","disabled");
							

						}else{
							
								optionsStr = "<option value='-1'>[全部]</option>";
								for(var i=0;i<desData.length;i++){
									var id= desData[i].myg_companyid;
									var name= desData[i].companyname;
									
									if(sessionStorage.companytypeid == id){
										
										var companytypeid = sessionStorage.companytypeid
										optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
										 
									}else{
											optionsStr+= "<option value='"+id+"'>"+name+"</option>";
									}
								
								
								}
								
								$(".companytypeid").append(optionsStr);
								
								
								if(sessionStorage.companytypeid != "0"){

										$(".companytypeid").attr("disabled","disabled");
									
								}
						}
						
				
						
				
						
						targetWarehouseList($(".companytypeid").val());
				
						
					}
				});

			}
			getCompanyInfo();
			
			
			$(".companytypeid").change(function(){
				
		    	var warehouse = '<input id="targetWarehouseId"  value="" class="layui-input targetWarehouse" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
				
				$("#warehouseId").empty();
				$("#warehouseId").append(warehouse);
				
				var stockarea = '<input name="title" lay-verify="title" value="" autocomplete="off" id="duiyingstockareaId" class="layui-input stockarea" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
			
				$("#stockareaId").empty();
				$("#stockareaId").append(stockarea);
				
				
				targetWarehouseList($(".companytypeid").val()) 
				
			})
				
				
			$("body").delegate(".targetWarehouse","change",function(){
					
						
					var stockarea = '<input name="title" lay-verify="title" value="" autocomplete="off" id="duiyingstockareaId" class="layui-input stockarea" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
				
					$("#stockareaId").empty();
					$("#stockareaId").append(stockarea);
					
					
					
					getHouseByid($("#targetWarehouseId").val());
					
			
					
			})
				
			function targetWarehouseList(groupcompanyid) {
				$.ajax({
					type: "get",
					url:localStorage.serIp +  "/WebGetWarehouseListByDropDown?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': groupcompanyid,
						'type':2
					},
					success: function(res) {
						var data = JSON.parse(res);
						
						var warehouseDate =[];
						warehouseDate.push({
							warehouse_id : "-1",
							warehousename : "[全部]"
						})
						for(var i=0;i < data.length;i++){
							var slve = {};
							
							slve.warehouse_id = data[i].warehouse_id;
							slve.warehousename =  data[i].warehousename + "(" +data[i].naturename + ")";
							
							warehouseDate.push(slve);
						}
							
						$('#targetWarehouseId').bComboSelect({
							showField: 'warehousename',
							keyField: 'warehouse_id',
							data: warehouseDate
						});
					}
				});
			}
			
			//货区
			function getHouseByid(id){
			
				$.ajax({
					type: "post",
					url: localStorage.serIp  +"/WebGetGoodsareaListByDropDown?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'warehouseId': id,
						'type':2
					},
					success: function(res) {
						
						var data = JSON.parse(res);
						
						data.push({
							houseareaid : -1,
							areaname : "[全部]"
						})
						$('#duiyingstockareaId').bComboSelect({
							showField: 'areaname',
							keyField: 'houseareaid',
							data: data
						});

					}
				});
			}
			
			
			
			//点击新增
			$(".addbank_submit").click(function(){
				var g_companyid = $('.companytypeid').val();
				if(g_companyid == ""){
					parent.layer.open({
							title: "提示",
							content: '所属公司不能为空!',
							zIndex: parent.layer.zIndex, //重点1
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						
						return;
							
				}

				var targetstockid = $('#targetWarehouseId').val() 
				if(targetstockid == ""){
					parent.layer.open({
							title: "提示",
							content: '对应仓库不能为空!',
							zIndex: parent.layer.zIndex, //重点1
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						
						return;
							
				}
				
				var stockarea = $('#duiyingstockareaId').val();
				if(stockarea == ""){
					parent.layer.open({
							title: "提示",
							content: '对应货区不能为空',
							zIndex: parent.layer.zIndex, //重点1
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return;		
				}
			
		
				var  jiazaiIndex;
				parent.layer.open({
				  type: 3, zIndex: parent.layer.zIndex ,	//重点1
				  success: function(layero, index){
				  	jiazaiIndex = index;
		  			}
				});
				
			
				var master = {
					'g_companyid': '' + g_companyid + '',
					'targetstockid': '' + targetstockid + '',
					'stockarea': '' + stockarea + '',
					'employeesid': '' + sessionStorage.employeesid + ''
				};
				
				$.ajax({
					type: "post",
					url: localStorage.serIp+"/WebAddEmployeeStockOrder",
					async: true,
					crossDomain: true,
					contentType:'application/json; charset=utf-8',
					data: JSON.stringify({
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'master': JSON.stringify(master)
					}),
					success: function(res) {
						var data = JSON.parse(res);
							parent.layer.close(jiazaiIndex); //再执行关闭     	
						if(data.ResultValue == 1) {
		
							parent.layer.open({
								title: "提示",
								content: '提交成功',
								zIndex: parent.layer.zIndex, //重点1
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								}
							});
							
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index); //再执行关闭     	
						} 
						
						if(data.ResultValue == 2) {
		
							parent.layer.open({
								title: "提示",
								content: '已是最高权限不允许添加!',
								zIndex: parent.layer.zIndex, //重点1
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								}
							});
							
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index); //再执行关闭     	
						} 
						
						if(data.ResultValue == 0) {
							parent.layer.open({
								title: "提示",
								content: '服务器异常',								zIndex: parent.layer.zIndex, //重点1

							});
						}
					},
					error: function() {
						parent.layer.close(jiazaiIndex); 		
						
					}
				});
			})
		});
	</script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>
</html>