<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>员工详情</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
			<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.staffDetail {
			font-family: "PingFang SC" !important;
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 8px 14px;
		}
		
		.staffDetail fieldset {
			margin: 10px 0;
			margin-top: 20px;
		}
		
		.staffDetail legend {
			font-family: "PingFang" !important;
			font-size: 14px !important;
			color: #2D89DD !important;
			font-weight: 800 !important;
		}
		
		.staffDetail_header {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		.layui-input-inline {
			width: 400px !important;
		}
		
		.staffDetail .layui-form-item label {
			width: 120px !important;
			font-size: 9pt !important;
			color: #232323 !important;
		}
		
		.staffDetail .layui-form-item .layui-input-inline input {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
		}
		
		.staffDetail .layui-form-item .layui-input-inline select {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
			/*border: 1px solid #DDDDDD !important;*/
		}
		
		.staffDetail .layui-form-item .layui-input-inline textarea {
			font-size: 9pt !important;
			width: 400px !important;
			height: 80px;
			/*border: 1px solid #ddd !important;*/
		}
		
		.staffDetail .layui-form-title {
			width: 100%;
			right: 15px;
			padding-top: 10px;
			margin-bottom: -20px;
			position: fixed;
			z-index: 100;
			background-color: #FFFFFF !important;
			line-height: 32px;
			top: 0px;
		}
		
		.addstaff_submit {
			display: inline-block;
			text-align: center;
			height: 28px;
			line-height: 28px;
			float: right;
			font-family: "PingFang" !important;
			font-size: 9pt !important;
			color: #FFFFFF !important;
			background-color: #2D89DD !important;
			margin-right: 20px;
		}
		
		.layui-table tr:nth-child(odd) {
			background-color: #FFFFFF !important;
		}
		
		.layui-table tbody tr:nth-child(odd) {
			background-color: #EFF5FF !important;
		}
		
		.layui-table tbody tr:nth-child(even) {
			background-color: #FFFFFF !important;
		}
		
		.layui-form-item .layui-input-inline,
		.layui-form-item input,
		.layui-form-item label {
			line-height: 28px !important;
			height: 28px !important;
			min-height: 28px !important;
		}
		
		.layui-form-item .layui-input-inline {
			width: 235px;
		}
		
		.layui-form-item {
			margin-bottom: 10px;
		}
		
		.layui-tab-content .layui-form-item label {
			width: 60px;
			padding: 0 10px !important;
		}
		
		.layui-form-label {
			padding: 0 10px;
		}
		
		.caozuo #tree-view .layui-table-cell {
			padding: 0px!important;
		}
		
		/*#stock .layui-table-cell {
			padding: 0px 6px 0px 6px!important;
		}
		
		#job .layui-table-cell {
			padding: 0px 6px 0px 6px!important;
		}*/ 
		
	   .caozuo  #tree-view .layui-table td
		{
			padding: 0 1.8vw !important;
			text-align: center;
		}
		
		.caozuo .layui-table th {
			padding: 0 1.8vw !important;
			text-align: center;
		}
		
		
		.caozuo #tree-view .layui-table td,
		.layui-table input {
			margin-left: 13.5px;
		}

		.caozuo {
			position: relative;
		}
		
		#tree {
			position: absolute;
			top: 10px;
			width: 180px;
			display: inline-block;
		}
		
		#tree ul li {
			width: 100px;
		}
		
		#tree-view {
			margin-left: 190px;
			/*border: 1px solid #CCCCCC;*/
			display: inline-block;
			width: 80%;
			height: 410px;
		}
		
		#tree-view .layui-table-view {
			display: none;
		}
		
		#tree-view .layui-table-view:nth-child(2) {
			display: block;
		}
		
		#job .layui-form,
		#stock .layui-form {
			margin-top: 40px;
		}
		
		.btns_job,
		.btns_stock {
			position: relative;
			float: right;
		}
		
		.moreAction {
			background: #FFFFFF !important;
			border: 1px solid #2D89DD !important;
			color: #2D89DD !important;
			width: 90px;
		}
		
		.moreAction:hover {
			border-bottom: none !important;
		}
		
		.action {
			background-color: #CCCCCC;
			position: absolute;
			right: 20px;
			top: 27px;
			z-index: 10;
			border: 1px solid #2D89DD;
			display: none;
		}
		
		.action li {
			margin-left: 0 !important;
		}
		
		.action li a {
			display: block;
			color: #357BEA;
			cursor: pointer;
			width: 88px;
			line-height: 28px;
			text-align: center;
			background-color: #FFFFFF;
			box-shadow: 2px;
		}
		
		.action li a {
			color: #232323;
		}
		
		.action:hover {
			border-top: none;
		}
		
		.action li a:hover {
			cursor: pointer;
			width: 88px;
			line-height: 28px;
			text-align: center;
			background: #ACD7FF;
		}
		
		.btns_stock button,
		.btns_job button {
			display: inline-block;
			text-align: center;
			height: 28px;
			line-height: 28px;
			float: right;
			font-family: "PingFang" !important;
			font-size: 9pt !important;
			color: #FFFFFF !important;
			background-color: #2D89DD !important;
			margin-right: 20px;
			width: 90px;
		}
		
		.caozuo .layui-form input[type=checkbox] {
			display: block !important;
			margin-top: 5px;
		}
		
		#caozuo .layui-form input[type=checkbox],
		#caozuo .layui-form input[type=checkbox] {
			display: none !important;
		}
		
		.layui-form-item .layui-inline{
			margin-bottom: 10px !important;
		}
		#job table,#stock table{
			text-align: center;
		}
		.bitian{
			color: red;
		}
		
		/*开始*/
		.qyxx{
			font-size: 14px;
			color: #232323;
			margin-top: 28px;
			margin-left: 8px;
		}
		.btns button{
			margin-left: 10px;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			font-size: 9pt;
		}
	
		.help{
			height: 1px;
		}
		.yinghangzhanghu,.lianxi,.zhengjian{
			float: left;
			width: 100px;
			display: inline-block;
		}
	
	
		.fr{
			float: right;
			margin-top: 28px;

		}
		.gsjc{
			margin-left: 12px;
		}
		.gsjc_input{
			font-size: 9pt !important;
    		width: 400px !important;
   			height: 28px !important;
   			background: #EFF5FF;
		}
		
	
		.gsqc{
			margin-top: 20px;
		}
		.gsqc_div{
			margin-left: 20px;
    		margin-top: 5px;
		}
		.gsqc1{
			margin-top: 2px;
		}
		.nomo{
			width: 880px !important;
		}
		.tab_layui{
			box-shadow:none;
		}
		.tab_ul{
			width: 188px;
		}
		hr{
			margin-top: 44px;
		}
		.shuju_div{
			border: 1px solid #ddd;
		}
		.add{
			margin-top: 12px;
		}
		.tab_qk{
			margin-top: 28px;
			height: 29px;
			border: 1px solid #ddd;
			border-bottom: none;
			width: 350px;
			cursor: pointer;
		}
		.qyzj{
			background: #ACD8FF;
		}
		.tab_qk div{
			padding: 5px 8px;
			
		}
		.hidden{
			display: none;
		}
		
		.layui-table-cell .layui-form-checkbox[lay-skin=primary] {
		    top: 0px !important;
		   	
		}
		

	</style>

	<body>
		<div class="staffDetail">
			<div class="layui-form-item layui-form-title">
				<button class="layui-btn addstaff_submit">提交</button>
			</div>
			<div>
				
				
				<div class="layui-form-item " style="margin-top: 40px;margin-bottom: 0px !important;display: none;" id="fengongsiId">
				<div class="layui-inline"  style="margin-right: 10px;">
						<label class="layui-form-label" style="margin-left: 0px;">所属公司：</label>
						<div class="layui-input-inline">
							<select name="" class="layui-input companytypeid" style="width: 200px;" disabled="disabled">
								
							</select>
						</div>
				</div>
				</div>
				
					<div class="layui-form-item " style="margin-top: 40px;margin-bottom: 0px !important;display: none;" id="managegCompanyid">
				<div class="layui-inline"  style="margin-right: 10px;">
						<label class="layui-form-label" style="margin-left: 0px;">分管公司：</label>
						<div class="layui-input-inline">
							<select name="" class="layui-input managegCompany" style="width: 200px;">
								
							</select>
						</div>
				</div>
				</div>
				
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
					<legend>基本信息</legend>
				</fieldset>
					<div class="layui-form-item ">
				
					
					<div class="layui-inline">
						<label class="layui-form-label"><span class="bitian">*</span>员工编码：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffNum" disabled="disabled" type="text" placeholder="请输入小写字母+数字组合">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label"><span class="bitian">*</span>姓　　名：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffName" type="text">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">拼   音   码：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffPinyin" type="text">
						</div>
					</div>
					
						
				<div class="layui-inline">
						<label class="layui-form-label"><span class="bitian">*</span>部　　门：</label>
						<div class="layui-input-inline" id="mygroupId">
							<input autocomplete="off" class="layui-input group" type="text" id="group" style="width: 388px !important;height: 26px !important;line-height: 26px !important">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">手　　机：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffPhone" type="text">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">身份证号：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffID" type="text">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">性　　别：</label>
						<div class="layui-input-inline">
							<select name="" class="basic_staffSex layui-input">
								<option value="0">男</option>
								<option value="1">女</option>
							</select>
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">婚姻状况：</label>
						<div class="layui-input-inline">
							<select name="" class="basic_staffMarry layui-input">
								<option value="0">未婚</option>
								<option value="1">已婚</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">邮　　箱：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffEmail" type="text">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">文化程度：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffCulture" type="text">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">籍　　贯：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffPlace" type="text">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">入职日期：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffDate" type="text" id="jobDate">
						</div>
					</div>
					
					
					<div class="layui-inline">
						<label class="layui-form-label">家庭住址：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffAddress" type="text">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">现居住地：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input basic_staffNowaddress" type="text">
						</div>
					</div>
					
					<div class="layui-inline" id="yuangongTypeId">
						<label class="layui-form-label">员工类别：</label>
						<div class="layui-input-inline">
							<select name="" class="role layui-input">
								<!--<option value="1">超级管理员</option>-->
								<option value="2">总公司员工</option>
								<option value="0">子公司管理员</option>
								<option value="3">子公司普通员工</option>

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">单据权限：</label>
						<div class="layui-input-inline">
							<select name="" class="basic_staffBill layui-input">
								<option value="0">无</option>
								<option value="1">部门</option>
								<option value="2">全部</option>
							</select>
						</div>
					</div>
					
					<div class="layui-inline" id="caoZuoQuanxianId">
						<label class="layui-form-label">操作权限：</label>
						<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input permission_id" type="text">

						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">手机权限：</label>
						<div class="layui-input-inline">
							<select name="" class="basic_staffPhonepower layui-input">
								<!--<option value="S">有权限</option>
								<option value="O">无权限</option>-->
								<option value="SSS">老板</option>
								<option value="SOO">员工</option>
							</select>
						</div>
					</div>
					
					<div class="layui-inline" id="baoxiaoQuanxianId">
						<label class="layui-form-label">报销权限：</label>
						<div class="layui-input-inline">
							<select name="" class="employeeposition layui-input">
							
							</select>
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">报销额度：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input applyfeelimit" type="number">
						</div>
					</div>
					
				</div>
						
				<p style="margin-left: 75px;display: inline-block;width: 475px;">
					<input type="checkbox"  class="login" checked="checked"/> 允许登录系统，初始密码为123456
				</p>
				
				<p style="margin-left: 75px;display: inline-block;" >
					<input type="checkbox"  class="lookrealcost" id="lookrealcostId"/> 是否可以查看成本价
				</p>
			<div class="">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>附加信息</legend>
				</fieldset>
				<div class="layui-form-item ">
					<div class="layui-inline">
						<label class="layui-form-label">紧急联系人：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input additional_person" type="text">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">联系人电话：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input additional_tel"  type="text">
						</div>
					</div>
				</div>
				<div class="layui-form-item ">
					<div class="layui-inline">
						<label class="layui-form-label">是否离职：</label>
						<div class="layui-input-inline">
							<select name="" class="additional_quit layui-input">
								<option value="0">在职</option>
								<option value="1">离职</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">离职日期：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input additional_quitDate" type="text" id="leaveDate">
						</div>
					</div>
				</div>
				<div class="layui-form-item ">
					<div class="layui-inline">
						<label class="layui-form-label">备注：</label>
						<div class="layui-input-inline">
							<input autocomplete="off" class="layui-input additional_notes" type="text">
						</div>
					</div>
				</div>
			</div>
			
			
				<hr />
			<div class="companyInfo" style="width: 99%;margin-left: 1%;">
				
				<div class="tab_qk" style="font-size: 14px;">
					<div class="zhengjian qyzj fl" style="border-right: 1px solid #ddd;" name="1">仓库权限</div>
					<div class="yinghangzhanghu" style="border-right: 1px solid #ddd;" name="2">职能权限</div>
					<div class="lianxi" name="3">操作权限</div>
				</div>
				
				<div class="layui-tab shuju_div" id="tab1"  style="margin-top: 0px !important;">
					<div class="inputs">
						<div class="btns" style="margin-right: 20px;">
							<button class="layui-btn add fr del" data-type="whourseDel" lay-event='del'>删除</button>
							<button class="layui-btn add fr addStock">新增</button>
						</div>
					</div>
					<div style="clear: both;"></div>
					
					<table id="wareHouse"  lay-filter="demo1"></table>
				</div>
				
				<div class="layui-tab shuju_div hidden" id="tab2"  style="margin-top: 0px !important;">
					<div class="inputs">
						<div class="btns"  style="margin-right: 20px;">
							<button class="layui-btn add fr del" data-type="staffDel" lay-event='del'>删除</button>
						<button class="layui-btn add fr addStaff">新增</button>
						</div>
					</div>
					<div style="clear: both;"></div>
					<table id="jobPower" lay-filter="demo2"></table>
				</div>
				
				<div class="layui-tab shuju_div hidden" id="tab3" style="margin-top: 0px !important;">
				
						<div class="caozuo">
							<!--<fieldset class="layui-elem-field layui-field-title">
								<legend>操作权限</legend>
							</fieldset>-->
							<ul id="tree"></ul>
			
							<ul id="tree-view">
							<table id="11" style="display: block;"></table>
								<table id="12"></table>
								<table id="13"></table>
								<table id="14"></table>
								<table id="15"></table>
								<table id="130"></table>
								<table id="16"></table>
								<table id="230"></table>
								<table id="17"></table>
								<table id="18"></table>
								<table id="19"></table>
								<table id="110"></table>
								<table id="120"></table>
							</ul>
						</div>
				</div>
				
			
			</div>
			

		</div>
	</body>
	<script src="../../../plugins/layui/layui.js"></script>
	<script src="../../../js/public.js"></script>
	<script>
		layui.use(['table', 'jquery', 'element', 'tree', 'laydate'], function() {

			var $ = layui.jquery,
				element = layui.element,
				laydate = layui.laydate;
			var table = layui.table;
			laydate.render({
				elem: "#jobDate"
			});
			laydate.render({
				elem: "#leaveDate"
			});
			
			if(localStorage.isshow == 0){
					
			
					$("#lookrealcostId").css("display","none");

			}	
			
			
//			if(localStorage.groupcompanyid != 0){
//				$("#caoZuoQuanxianId").css("display",'none')
//			}
//			
			
			
			
			//操作权限没有数据时,底下的操作权限可以选择
			$("#caoZuoQuanxianId .permission_id").blur(function(){
				var permission_id = $(".permission_id").val();
				if(permission_id == ""){
					$(".caozuo :checkbox").prop("checked",false)
					$(".caozuo input").removeAttr("disabled");
				}
				
			})
			
			
			$('.btns_job .moreAction').hover(function() {
				$(".btns_job .action").show();
			}, function() {
				$(".btns_job .action").hide();
			});
			$('.btns_job .action').hover(function() {
				$(".btns_job .action").show();
			}, function() {
				$(".btns_job .action").hide();
			});
			$('.btns_stock .moreAction').hover(function() {
				$(".btns_stock .action").show();
			}, function() {
				$(".btns_stock .action").hide();
			});
			$('.btns_stock .action').hover(function() {
				$(".btns_stock .action").show();
			}, function() {
				$(".btns_stock .action").hide();
			});
			//定义一个接收职能权限的数组
			var znqx = [];
			var ckqx;  //仓库权限
		
		//切换
		$(".tab_qk div").click(function(){
				
				$(".tab_qk div").removeClass("qyzj");
				
				$(this).addClass("qyzj");
				
				var name=$(this).attr("name");
				
				switch(name)
				{
		
					case "1":
						$("#tab1").show();
						$("#tab2").hide();
						$("#tab3").hide();
						
					break;
					
					case "2":
						$("#tab1").hide();
						$("#tab2").show();
						$("#tab3").hide();
					break;
					
					case "3":
						$("#tab1").hide();
						$("#tab2").hide();
						$("#tab3").show();
					break;
				}
			
			})
			
			//获取部门
			function groupList() {
				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val() ;
			
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
				$.ajax({
					type: "get",
					url:  localStorage.serIp  +"/WebGetEmployeegrouptable?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': companytypeid
					},
					success: function(res) {
						var data = JSON.parse(res);
						data =data[0].children;
						
						$('#group').bComboSelect({
							showField: 'name',
							keyField: 'id',
							data: data
						});
			
					}
				});
			}
			
		
						
//			if(localStorage.groupcompanyid != 0){
//				$("#fengongsiId").css("display","none");
//				$("#yuangongTypeId").css("display","none");
//			}else{
//					getCompanyInfo();
//			}

			
			//获取公司信息
			function getCompanyInfo() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid

					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							if(id == sessionStorage.companytypeid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";

							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";

							}
							
						}
						$(".companytypeid").append(optionsStr);
						
						
						if(sessionStorage.companytypeid ==0){
							$("#managegCompanyid").css("display","inline-block");
							 getFenGuanCompanyInfo();
						}
//						
						groupList();
					}
				});

			}
			getCompanyInfo();
			
			
			
			//分管公司
			function getFenGuanCompanyInfo() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetCompanyByDropList?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid,'type':8

					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "<option value='' selected='selected'></option>";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							if(id == sessionStorage.manageg_companyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";

							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";

							}
							
						}
						$(".managegCompany").append(optionsStr);

					}
				});

			}
			
			
			//获取报销信息
			function getbaoXiaoQuanxianInfo() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetEmployeePosition?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid

					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].p_id;
							var name= desData[i].p_name;
							
							if(localStorage.groupcompanyid != "0"){
								
								
								if(id != 3 && id != 4 && id != 5){
									optionsStr+= "<option value='"+id+"'>"+name+"</option>";
								}
								
//								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";

							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";

							}
							
					
							
						}
						$(".employeeposition").append(optionsStr);
						if(sessionStorage.employeeposition){
							var employeeposition=sessionStorage.employeeposition
							$('.employeeposition').find("option[value="+employeeposition+"]").attr("selected","true");
						}
						
					}
				});

			}
			getbaoXiaoQuanxianInfo();
			
			
		
			$(".addStaff").click(function() {
				sessionStorage.staffNewData="";
				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
				
				
				sessionStorage.addStaffcompanytypeid = companytypeid;
				
				
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">员工列表</span>',
					area: ['85%', '90%'],
					offset: "rb",
					content: 'views/public/staff/staffPublicList.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
					},
					end:function(layero){
						if(sessionStorage.staffNewData){
							data=JSON.parse(sessionStorage.staffNewData);
							for(var i=0;i<data.length;i++){
								znqx.push(data[i])
							}
							znqx=uniqueArrayZX(znqx,4)
							yuan(znqx)
							for(var i=0;i<znqx.length;i++){
								$("#tab2 tbody tr:eq("+i+")").attr("sid",znqx[i].employeesid);
							}
						}
						
						if(sessionStorage.staffNewData){
							sessionStorage.removeItem("addStaffcompanytypeid");
						}
						
					}
				});
			});
			
			
			$(".addStock").click(function() {
				
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">仓库权限</span>',
					area: ['700px', '90%'],
					offset: "rb",
					content: 'views/public/staff/addStockQunXian.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
					},
					end:function(layero){
			
						
						getStockQunXian();
						
					}
				});
			});
			
		

			
			getYuanQunXian();
			
			function getYuanQunXian(){
						//获取员工
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetEmployeeDuty?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"sid":sessionStorage.employeesid
					},
					success: function(res) {
						var staffData = JSON.parse(res);
						znqx=staffData;
						yuan(znqx);
					}
				});
			
			}
			
			function yuan(data){
				table.render({
					elem: '#jobPower',
					data: data,
					id:'jobPower',
					height: 350,
					cols: [
						[ //标题栏
							{
								checkbox: true,
								LAY_CHECKED: false,
								align: "center",
								width: 40,
							}, {
								field: 'employeename',
								title: '姓名',
								event: 'detail',
								style: "color:#2D89DD;cursor:pointer",
								minWidth: 80
							}, {
								field: 'employeesid',
								title: '员工编号',
								minWidth: 80,
							}, {
								field: 'employeesex',
								title: '性别',
								minWidth: 20,
							}, {
								field: 'employeephone',
								title: '手机号',
								minWidth: 100
							}, {
								field: 'employeeide',
								title: '身份证号',
								minWidth: 150
							}, {
								field: 'companyname',
								title: '所属公司',
								minWidth: 200
							}, {
								field: 'employeedep',
								title: '所属部门',
								minWidth: 100
							}, {
								field: 'lookorderpermissionname',
								title: '单据权限',
								minWidth: 100
							}, {
								field: 'employeepositionname',
								title: '报销权限',
								minWidth: 120
							}, {
								field: 'applyfeelimit',
								title: '报销额度',
								minWidth: 120
							}, {
								field: 'appordername',
								title: '手机端权限',
								minWidth: 100
							}, {
								field: 'loginordername',
								title: '电脑登录权',
								minWidth: 100
							}
						]
					],
					skin: 'row' //表格风格
						,
					even: true,
					page: false //是否显示分页
						,
					limit: 10000 //每页默认显示的数量
				});
				if(data != null && data){
					for(var i=0;i<data.length;i++){
						$("#tab2 tbody tr:eq("+i+")").attr("sid",data[i].employeesid);
					}
				}
			}
	
			
			getStockQunXian();
			//获取仓库
			function getStockQunXian(){
					
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetEmployeeStockOrder?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"employeesid":sessionStorage.employeesid
					},
					success: function(res) {
						var staffData = JSON.parse(res);
						ckqx=staffData;
						huo_data(ckqx);
					}
				});

			}
			
	
			
			//仓库权限
			function huo_data(data1){
				table.render({
					elem: '#wareHouse',
					data: data1,
					id:'wareHouseId',
					cols: [
						[{
							checkbox: true,
							LAY_CHECKED: false,
							align: "center",
							width: "4%"
						}, {
							field: 'warehousename',
							width: "33%",
							title: '仓库名称'
						},  {
							field: 'areaname',
							width: "32%",
							title: '货区名称'
						}, {
							field: 'owncompanyname',
							width: "31%",
							title: '所属公司'
						}]
					],
				
					skin: 'row' //表格风格
						,
											height: 350,

					even: true,
					page: false //是否显示分页
						,
					limit: 50000 //每页默认显示的数量
				});
			}

		$('.del').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
			
			//点击删除
			var $ = layui.$,
			active = {
			
				whourseDel: function() {
						var idstr = "";
			
						var checkStatus = table.checkStatus('wareHouseId'),
						data1 = checkStatus.data;
						for(var i=0;i<data1.length;i++) { 
				      		idstr += data1[i].id;
				      		if((i+1)!=data1.length){
				      			idstr += ",";
				      		}
						} 
					
					parent.layer.confirm('确定删除记录？', {
						icon: 3,
						title: '删除',zIndex: parent.layer.zIndex //重点1
					}, function(index) {
						$.ajax({
							type: "get",
							url: localStorage.serIp+"/WebDeleteEmployeeStockOrder?jsoncallback=?",
							async: true,
							dataType: 'jsonp',
							data: {            
								"userId": localStorage.userId,
								"userPw": localStorage.userPw,
								"database": localStorage.database,
								"id": idstr
							},
							success: function(res) {
								var data = JSON.parse(res);
								var num1=0;
								var num2=0;
								for(var i=0;i<data.length;i++){
									var panduan=data[i].ResultValue;
									if(panduan == 1){
										++num1;
									}else{
										++num2;
									}
								}
								parent.layer.open({
									title: "提示",
									content: num1+'个成功 ，'+num2+'个失败',zIndex: parent.layer.zIndex, //重点1
								});
								getStockQunXian();
								parent.layer.close(index);
							}
						});
					
					});
				},
				
				staffDel: function() {
					var idstr = "";
			
						var checkStatus = table.checkStatus('jobPower'),
						data1 = checkStatus.data;
						
					if(data1.length ==0){
						parent.layer.open({
							title: "提示",
							content: "请选择要删除的员工!",
							zIndex: parent.layer.zIndex ,//重点1,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							
							}
						});
						
						return;
					}
					
					for(var i=0;i<data1.length;i++){
						if(data1[i].employeesid == sessionStorage.employeesid){
								parent.layer.open({
								title: "提示",
								content: "不能删除自己!",
								zIndex: parent.layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								
								}
							});
							
							return;
						}
					}
					
					parent.layer.confirm('确定删吗？', {
						icon: 3,
						title: '删除',zIndex: parent.layer.zIndex //重点1
					}, function(index) {
							
								
								var znqx1 =  deleteTwoArrayByKey(znqx,data1,"employeesid");
								znqx = znqx1;
								yuan(znqx);
								parent.layer.close(index); //再执行关闭     
								
						
					});
				}
		
			};
			
			
			

				//操作权限
		var data11 = [{
				"index": "1",
				"power": "企业信息"
			}, {
				"index": "2",
				"power": "我的员工"
			}];
			table.render({
				elem: '#11',
				data: data11,
				height: 300,
			
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						title: '查看',
						align: "center",
						width: 40,
					}
					, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}
//					, {
//						field: 'shenhe',
//						width: 40,
//						title: '审核'
//					}
					]
				],
				skin: 'row' //表格风格
					,
				even: true,

			});
			
			
			var data12 = [{
				"index": "1",
				"power": "往来单位管理"
			}, {
				"index": "2",
				"power": "购销合同管理"
			}
			, {
				"index": "3",
				"power": "授权书管理"
			}
			];
			table.render({
				elem: '#12',
				data: data12,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}]
				],
				limit: 20 //每页默认显示的数量
			});
			
			
			
			var data13 = [{
				"index": "1",
				"power": "我的产品注册证"
			}, {
				"index": "2",
				"power": "我的所有产品"
			}
			, {
				"index": "3",
				"power": "工具组套管理"
			}, {
				"index": "4",
				"power": "产品组套管理"
			}
			];
			table.render({
				elem: '#13',
				data: data13,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					},{
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				]
			});
			var data14 = [{
				"index": "1",
				"power": "订货合约"
			}, {
				"index": "2",
				"power": "入库验收"
			}, {
				"index": "3",
				"power": "采购退货"
			}, {
				"index": "4",
				"power": "赠送入库"
			}];
			table.render({
				elem: '#14',
				data: data14,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}, {
						field: 'zhuizong',
						width: 40,
						title: '追踪'
					}]
				]
			});
			
			
			var data15 = [{
				"index": "1",
				"power": "标准流程-备货申请"
			}, {
				"index": "2",
				"power": "标准流程-手术备货"
			}, {
				"index": "3",
				"power": "标准流程-确认取货"
			}, {
				"index": "4",
				"power": "标准流程-实耗清点"
			}, {
				"index": "5",
				"power": "快捷流程-备库结算"
			}, {
				"index": "6",
				"power": "快捷流程-备库实耗"
			}, {
				"index": "7",
				"power": "其他流程-产品结算"
			}];
			
			
			table.render({
				elem: '#15',
				data: data15,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 120,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				]
			});
			
			var data130 = [{
				"index": "1",
				"power": "分销合约"
			}, {
				"index": "2",
				"power": "出库验出"
			}, {
				"index": "3",
				"power": "分销退货"
			}, {
				"index": "4",
				"power": "赠送出库"
			}];
			
			
			table.render({
				elem: '#130',
				data: data130,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				]
			});
			
			
			var data16 = [{
				"index": "1",
				"power": "借入管理"
			}, {
				"index": "2",
				"power": "借出管理"
			}];
			table.render({
				elem: '#16',
				data: data16,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				]
			});
			
			
			var data230 = [{
				"index": "1",
				"power": "试剂入库管理"
			}, {
				"index": "2",
				"power": "试剂出库管理"
			}];
			table.render({
				elem: '#230',
				data: data230,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}, {
						field: 'zhuizong',
						width: 40,
						title: '追踪'
					}]
				]
			});
			
			
			var data17 = [{
				"index": "1",
				"power": "库存初始化"
			}, {
				"index": "2",
				"power": "库存信息查询"
			}, {
				"index": "3",
				"power": "仓库设置管理"
			}, {
				"index": "4",
				"power": "仓库调拨"
			}, {
				"index": "5",
				"power": "盘盈盘亏"
			}, {
				"index": "6",
				"power": "报溢报损"
			}, {
				"index": "7",
				"power": "盘点记录查询"
			}, {
				"index": "8",
				"power": "库存调整建议"
			}, {
				"index": "9",
				"power": "退换货管理"
			},{
				"index": "10",
				"power": "仓库台账记录"
			}]
			table.render({
				elem: '#17',
				data: data17,
				height: 300,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}, {
						field: 'duanzhang',
						width: 40,
						title: '断帐'
					}, {
						field: 'buhuo',
						width: 40,
						title: '补货'
					}, 
//					{
//						field: 'jiezhuan',
//						width: 40,
//						title: '结转'
//					}, 
					{
						field: 'pandian',
						width: 40,
						title: '盘点'
					}]
				],
				limit: 20 //每页默认显示的数量
			});
			var data18 = [{
				"index": "1",
				"power": "采购核价"
			},{
				"index": "2",
				"power": "分销核价"
			},{
				"index": "3",
				"power": "直销核价"
			},{
				"index": "4",
				"power": "销售收款单"
			},{
				"index": "5",
				"power": "采购付款单"
			},{
				"index": "6",
				"power": "采购发票签入单"
			},{
				"index": "7",
				"power": "分销发票签出单"
			},{
				"index": "8",
				"power": "直销发票签出单"
			}]
			table.render({
				elem: '#18',
				height: 300,
				data: data18,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}, {
						field: 'chusheng',
						width: 40,
						title: '初审'
					}, {
						field: 'fuhe',
						width: 40,
						title: '复核'
					},
					{
						field: 'kaipiao',
						width: 40,
						title: '开票'
					},{
						field: 'shenhe',
						width: 40,
						title: '审核'
					}, {
						field: 'print',
						width: 40,
						title: '打印'
					}, {
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				]
			});
			var data19 = [{
				"index": "1",
				"power": "财务对账单"
			}, {
				"index": "2",
				"power": "直销单据查询"
			}, {
				"index": "3",
				"power": "资金往来查询"
			}, {
				"index": "5",
				"power": "收支明细查询"
			}, {
				"index": "6",
				"power": "产品批号查询"
			}, {
				"index": "7",
				"power": "产品调拨查询"
			}, {
				"index": "8",
				"power": "采购统计分析"
			}, {
				"index": "9",
				"power": "销售统计分析"
			}, {
				"index": "10",
				"power": "历史成本分析"
			}, {
				"index": "11",
				"power": "产品流向分析"
			}, {
				"index": "12",
				"power": "借货统计分析"
			}, {
				"index": "13",
				"power": "报溢报损统计"
			},
			 {
				"index": "14",
				"power": "收入成本记录"
			}
//			, {
//				"index": "15",
//				"power": "进销存汇总"
//			}
			]
			table.render({
				elem: '#19',
				height: 300,
				data: data19,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					},{
						field: 'daochu',
						width: 40,
						title: '导出'
					}]
				],
				limit: 20 //每页默认显示的数量
			});
			var data110 = [{
				"index": "1",
				"power": "库房巡检记录"
			}, {
				"index": "2",
				"power": "库房温度记录"
			}, {
				"index": "3",
				"power": "产品保养记录"
			}, {
				"index": "4",
				"power": "产品销毁记录"
			}, {
				"index": "5",
				"power": "产品召回记录"
			}, {
				"index": "6",
				"power": "员工健康档案"
			}, {
				"index": "7",
				"power": "员工培训记录"
			}, {
				"index": "8",
				"power": "不良事件监测记录"
			}, {
				"index": "9",
				"power": "设施设备维护记录"
			}, {
				"index": "10",
				"power": "质量投诉记录"
			}];
			table.render({
				elem: '#110',
				height: 300,
				data: data110,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}]
				]
			});
			var data120 = [{
				"index": "1",
				"power": "操作日志查询"
			}
			, {
				"index": "2",
				"power": "备份账套数据库"
			}, {
				"index": "3",
				"power": "单据编号设置"
			}
//			, {
//				"index": "4",
//				"power": "新开账套"
//			}, {
//				"index": "5",
//				"power": "初期开账"
//			}
			];
			table.render({
				elem: '#120',
				height: 300,
				data: data120,
				cols: [
					[{
						field: 'index',
						width: 30,
						title: '序号'
					}, {
						field: 'power',
						width: 100,
						title: '功能模块'
					}, {
						field: 'look',
						width: 40,
						title: '查看',
					}, {
						field: 'baocun',
						width: 40,
						title: '保存'
					}]
				]
			});
			
			//左边功能模块
			layui.tree({
				elem: '#tree',
				nodes: [{ //节点数据
					name: '全部功能模块',
					id: 1,
					spread: true,
					children: [{
						name: '我的企业',
						id: 11
					}, {
						name: '往来单位',
						id: 12
					}, {
						name: '我的产品',
						id: 13
					}, {
						name: '采购管理',
						id: 14
					}, {
						name: '直销管理',
						id: 15
					}, {
						name: '分销管理',
						id: 130
					}, {
						name: '借货管理',
						id: 16
					}, {
						name: '试剂管理',
						id: 230
					}, {
						name: '库存管理',
						id: 17
					}, {
						name: '财务管理',
						id: 18
					}, {
						name: '报表分析',
						id: 19
					}, {
						name: '质量管理',
						id: 110
					}, {
						name: '系统管理',
						id: 120
					}]
				}],
				click: function(node) {
					$("#" + node.id).next(".layui-table-view").siblings().css("display", "none");
					$("#" + node.id).next(".layui-table-view").css("display", "block");
				}
			});
			
			
			$(function() {
				if($(".permission_id").val() != ""){
					$(".caozuo input").attr("disabled","disabled")
				}
					
				$(".caozuo #tree-view .layui-table tbody [data-field=look] div").each(function() {
					var checkBox = '<input type="checkbox" />';
					$(this).html(checkBox);
				});
				$(".caozuo #tree-view .layui-table tbody [data-field=baocun] div").each(function() {
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					
					if(localStorage.groupcompanyid == 0){
						if(checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "库存信息查询"){
							checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
						}else{
							checkBox = '<input type="checkbox" />';
						}
					
					}else{
						if(checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "库存信息查询"|| checNamekFalg == "我的所有产品"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
						}else{
							checkBox = '<input type="checkbox" />';
						}
					
					}
					
					
					$(this).html(checkBox);
				});
				$(".caozuo #tree-view .layui-table tbody [data-field=shenhe] div").each(function() {
//					console.log($(this).parent().parent().find("[data-field=power]").text())
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "购销合同管理" || checNamekFalg == "授权书管理" || checNamekFalg == "我的员工" || checNamekFalg == "仓库设置管理" || checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录"  || checNamekFalg == "库存信息查询"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
					$(this).html(checkBox);
				});
				$(".caozuo #tree-view .layui-table tbody [data-field=print] div").each(function() {
					
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "仓库设置管理" || checNamekFalg == "日常盘点" || checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "库存信息查询"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					$(this).html(checkBox);
				});
				
			 	$(".caozuo #tree-view .layui-table tbody [data-field=shanchu] div").each(function() {
					var checkBox = '<input type="checkbox" />';
					$(this).html(checkBox);
				});
				$(".caozuo #tree-view .layui-table tbody [data-field=daochu] div").each(function() {
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "仓库设置管理" || checNamekFalg == "盘点记录查询"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
					$(this).html(checkBox);
				});
				
				$(".caozuo #tree-view .layui-table tbody [data-field=zhuizong] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "入库验收" || checNamekFalg == "采购退货" || checNamekFalg == "赠送入库" || checNamekFalg == "试剂出库管理"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				
				$(".caozuo #tree-view .layui-table tbody [data-field=chusheng] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "采购核价" || checNamekFalg == "分销核价" || checNamekFalg == "直销核价" || checNamekFalg == "销售收款单" || checNamekFalg == "采购付款单"  || checNamekFalg == "采购发票签入单"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
					
				$(".caozuo #tree-view .layui-table tbody [data-field=fuhe] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "采购核价" || checNamekFalg == "分销核价" || checNamekFalg == "直销核价" || checNamekFalg == "销售收款单" || checNamekFalg == "采购付款单"  || checNamekFalg == "采购发票签入单"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				
				$(".caozuo #tree-view .layui-table tbody [data-field=kaipiao] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "采购核价" || checNamekFalg == "分销核价" || checNamekFalg == "直销核价" || checNamekFalg == "销售收款单" || checNamekFalg == "采购付款单"  || checNamekFalg == "采购发票签入单"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				$(".caozuo #tree-view .layui-table tbody [data-field=duanzhang] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "库存初始化" || checNamekFalg == "库存信息查询" || checNamekFalg == "仓库调拨" || checNamekFalg == "盘盈盘亏" || checNamekFalg == "报溢报损"  || checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "退换货管理"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
					
				$(".caozuo #tree-view .layui-table tbody [data-field=buhuo] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "库存初始化" || checNamekFalg == "库存信息查询" || checNamekFalg == "仓库调拨" || checNamekFalg == "盘盈盘亏" || checNamekFalg == "报溢报损"  || checNamekFalg == "盘点记录查询" || checNamekFalg == "仓库设置管理" || checNamekFalg == "仓库台账记录" || checNamekFalg == "退换货管理"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				
				$(".caozuo #tree-view .layui-table tbody [data-field=jiezhuan] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "库存初始化" || checNamekFalg == "库存信息查询" || checNamekFalg == "仓库调拨" || checNamekFalg == "盘盈盘亏" || checNamekFalg == "报溢报损"  || checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "退换货管理"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				
					$(".caozuo #tree-view .layui-table tbody [data-field=pandian] div").each(function() {
						
					var checNamekFalg= $(this).parent().parent().find("[data-field=power]").text();
					var checkBox  ="";
					if(checNamekFalg == "库存初始化" || checNamekFalg == "库存信息查询" || checNamekFalg == "仓库调拨" || checNamekFalg == "盘盈盘亏" || checNamekFalg == "报溢报损"  || checNamekFalg == "盘点记录查询" || checNamekFalg == "库存调整建议" || checNamekFalg == "仓库台账记录" || checNamekFalg == "退换货管理"){
						checkBox = 'X<input type="checkbox" style="visibility: hidden;"/>';
					}else{
						checkBox = '<input type="checkbox" />';
					}
					
				
					$(this).html(checkBox);
				});
				
				
				
				
				
				$("#19").next().css("height","326px");
			
				if(sessionStorage.allQuanXian){
					var quanxian=sessionStorage.allQuanXian;
					var czqx=quanxian.split(";");
					var arr_get=[11,12,13,14,15,130,16,230,17,18,19,110,120];
					var arr_num=[4,16,28,52,87,107,117,129,209,273,299,319,319,325]; //判断是否是一个模块下的
					for(var i=0;i<arr_get.length;i++){
						var small_arr=[];
						switch(i)
						{
								case 0:
									for(var j=0;j<4;j++){
										small_arr.push(czqx[j]);
									}
									putData(small_arr,arr_get[i]);
										
							
								  break;
								case 12:
									for(var j=arr_num[i];j<arr_num[13];j++){
										small_arr.push(czqx[j]);
									}
									putData(small_arr,arr_get[i]);
								
								
									break;
								default:
									for(var j=arr_num[i-1];j<arr_num[i];j++){
										small_arr.push(czqx[j]);
									}
									putData(small_arr,arr_get[i]);
						}
						
					}
					
					function putData(small_arr,arr_id){
						if(small_arr.length ==0){
							return;
						}
						var ii=0;
						var tr=$("#"+arr_id).next().find("tbody").find("tr");
						var rgihtLength =0;
						for(var j=0;j<tr.length;j++){
							
							var rgihtLength =0;
							switch(arr_id)
							{
								case 11:
									rgihtLength = 4;
								  break;
								case 12:
									rgihtLength = 6;
									break;
								case 13:
									rgihtLength = 5;
								break;	
								case 14:
									rgihtLength = 8;
									break;
								case 17:    //库存管理
									rgihtLength = 10;
									break;
								case 18:    //财务
									rgihtLength = 10;
									break;
								case 230:
									rgihtLength = 8;
									break;
								case 19:
									rgihtLength = 4;
								  break;
								  	case 110:
									rgihtLength = 4;
								  break;
								  	case 120:
									rgihtLength = 4;
								  break;
								default:
									rgihtLength = 7;
							}
												
					
									
							for(var k=2;k<Number(rgihtLength);k++){
									
							
									var czqx_length=small_arr[ii].length;
									var czqx_data=small_arr[ii].slice(czqx_length-1,czqx_length);
									if(czqx_data == 1){
										$("#"+arr_id).next().find("tbody").find("tr:eq("+j+")").find("td:eq("+k+") input").prop("checked",true)
									}
									++ii;
							}
						}
					}
				}
			})
			//删除
			$(".del1").click(function() {
				get_name='2';
				var type = $(this).data('type');
				active1[type] ? active1[type].call(this) : '';
			}) 
		
			$(".del2").click(function(){
				get_name='1';
				var type = $(this).data('type');
				active1[type] ? active1[type].call(this) : '';
			})
			
			
			//添加操作权限
			$(".permission_id").click(function() {
				if(sessionStorage.jurisdictionData){
					sessionStorage.removeItem("jurisdictionData");
				}
				
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">权限管理</span>',
					area: ['85%', '90%'],
					offset: "rb",
					content: 'views/public/staff/jurisdiction.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
					},
					end:function(layero){
						
						
						if(sessionStorage.jurisdictionData){
							$(".caozuo :checkbox").prop("checked",false)
							var gs=JSON.parse(sessionStorage.jurisdictionData);
							$(".permission_id").val(gs[0].permission_name);
							$(".permission_id").attr("nameid",gs[0].permission_id);
							
							
							var quanxian=gs[0].permission_list;
							var czqx=quanxian.split(";");
							var arr_get=[11,12,13,14,15,130,16,230,17,18,19,110,120];
							var arr_num=[4,16,28,52,87,107,117,129,209,273,299,319,319,325]; //判断是否是一个模块下的
							for(var i=0;i<arr_get.length;i++){
								var small_arr=[];
								switch(i)
								{
									case 0:
										for(var j=0;j<4;j++){
											small_arr.push(czqx[j]);
										}
										putData(small_arr,arr_get[i]);
											
								
									  break;
									case 12:
										for(var j=arr_num[i];j<arr_num[13];j++){
											small_arr.push(czqx[j]);
										}
										putData(small_arr,arr_get[i]);
									
									
										break;
									default:
										for(var j=arr_num[i-1];j<arr_num[i];j++){
											small_arr.push(czqx[j]);
										}
										putData(small_arr,arr_get[i]);
								}
								
							}
							
							function putData(small_arr,arr_id){
								var ii=0;
								var tr=$("#"+arr_id).next().find("tbody").find("tr");
								for(var j=0;j<tr.length;j++){
							
								var rgihtLength =0;
								switch(arr_id)
								{
								case 11:
									rgihtLength = 4;
								  break;
								case 12:
									rgihtLength = 6;
									break;
								case 13:
									rgihtLength = 5;
								break;	
								case 14:
									rgihtLength = 8;
									break;
								case 17:    //库存管理
									rgihtLength = 10;
									break;
								case 18:    //财务
									rgihtLength = 10;
									break;
								case 230:
									rgihtLength = 8;
									break;
								case 19:
									rgihtLength = 4;
								  break;
								  	case 110:
									rgihtLength = 4;
								  break;
								  	case 120:
									rgihtLength = 4;
								  break;
								default:
									rgihtLength = 7;
							}
													
						
										
								for(var k=2;k<Number(rgihtLength);k++){
										
								
										var czqx_length=small_arr[ii].length;
										var czqx_data=small_arr[ii].slice(czqx_length-1,czqx_length);
										if(czqx_data == 1){
											$("#"+arr_id).next().find("tbody").find("tr:eq("+j+")").find("td:eq("+k+") input").prop("checked",true)
										}
										++ii;
									}
								}
							}
				
							sessionStorage.removeItem('jurisdictionData');
							$(".caozuo input").attr("disabled","disabled")
						}
					}
				});
			});
		
			//正则判断
			$(".basic_staffNum").change(function(){
				var get_val=$(this).val();
				get_val_length=get_val.replace(/[^\w\.\/]/ig,'').length;
				if(get_val.length != get_val_length){
					parent.layer.open({
						title: "提示",
						content: '请输入小写字母+数字组合',	zIndex: parent.layer.zIndex //重点1
					});
					$(this).val('');
				}
			})
			
			
		});
		
		
		
			
	</script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>
</html>