<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>直销确认取货</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css">
		<!-- DevExtreme themes -->
	<link rel="stylesheet" href="../../devexpresslibrary/css/dx.common.css">
	<link rel="stylesheet" href="../../devexpresslibrary/css/dx.light.css">
	</head>
	<style type="text/css">
		.getManagement {
			font-family: "PingFang SC" !important;
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 20px;
		}
		
		.getManagement_header button {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
		}
		
		.getManagement_header {
			margin-bottom: 8px;
		}
		
		.btns button,
		.find {
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			font-size: 9pt;
		}
		
		.btns {
			float: right;
		}
		
		.btns button {
			width: 90px;
		}
		
		.layui-btn+.layui-btn {
			margin-left: 0px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		.layui-form-label {
			padding:0px;
		}

	</style>
	<link rel="stylesheet" type="text/css" href="../../css/same.css" />

	<body>
		<div class="getManagement">
			<div class="layui-tab">
				<div class="getManagement_header">
					<div class="inputs">
						<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
									
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input seachContent" type="text" placeholder="请输入关键字" style="margin-left: 0;width: 240px;">
							</div>
							<div class="layui-inline">
								<button class="layui-btn find" style="margin-left: 5px;">查询</button>
							</div>
						</div>
						
						<div class="btns">
							<button class="layui-btn preserve" data-type="getCheckDel">确认取货</button>
						</div>
					</div>
				</div>
				<table id="getManagement" lay-filter="demo">
					<div id="gridContainer"></div>
				</table>
			</div>
		</div>
	</body>
	<script src="../../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../devexpresslibrary/js/dx.all.js"></script>
	<script src="../../plugins/layui/layui.js"></script>
	<script src="../../js/public.js"></script>

	<script>
		
				var limit = 50;
			var curpage = 1;
			var count;
		layui.use(['table', 'jquery', 'laypage', 'layer'], function() {
			var table = layui.table;
			var layer = layui.layer;
			var laypage = layui.laypage;
			var $ = layui.jquery;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
	
			
			
			if(localStorage.groupcompanyid != "0"){
				$("#fengongsiId").css("display","none");
				getData(true);
			}else{
					dataFun1();
			}
						 // 根据可视区的高度判断
	var viewHeight = $(window).height();
	if (viewHeight == 855) {
		$('#gridContainer').css('height', 650 + 'px'); //855*0.76
	} else {
		$('#gridContainer').css('height', viewHeight * 0.878 + 'px');
	}
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
			
							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";
			
							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						getData(true);
						
					}
				});
			
			}
			$(".companytypeid").change(function() {
				$('.unit').val("");
				$('.unit').attr('data-id',"");
				getData(true);
			})
			
			
			function getData(flag) {
				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
			var seachContent = $(".seachContent").val();
					
			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebConfirmDirectSellingMasterInfo?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						'num': limit,
						'page': curpage,
						'groupCompanyId': companytypeid,
						'txtCondition': seachContent

					},
					success: function(res) {
					parent.layer.close(jiazaiIndex);

						var getData = JSON.parse(res);
						count = getData.count;
						var data = JSON.parse(getData.data);
						getInfo(data,limit);
				
						if(flag) {
							get_pages();
						}
					}
										,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});
			}

			function getInfo(data, limit) {
				//展示已知数据
				//   Dev Extreme
				$(function () {
			var dataGrid = $("#gridContainer").dxDataGrid({
				dataSource: data,
				keyExpr: "ordernum",
				allowColumnReordering: true,
				showBorders: true,
				paging: {
					pageSize: 200,
				},
				sorting: {
					mode: "none"//none
				},
				selection: {
					mode: "multiple"
				},
				filterRow: {
					visible: false,
					applyFilter: "auto"
				},
				headerFilter: {
					visible: false
				},
				allowColumnResizing: true,
				columnFixing: {
					enabled: false
				},

				columns: [{
					dataField: "ordernum",
					width: 160,
					caption: "直销确认单号",
					fixed: true,
					cellTemplate:function (container, options) {
						$("<div>")
							.append($("<div style='color:#2D89DD'> " + options.value + "</div>"))
							.appendTo(container);
					}
				},
					
				{
					dataField: "companyname",
					width: 180,
					caption: "往来单位"
				},{
					dataField: "owncompanyname",
					width: 180,
					caption: "所属公司"
				},{
					dataField: "warehousename",
					width: 180,
					caption: "备货仓库"
				},{
					dataField: "areaname",
					width: 180,
					caption: "备货货区"
				},{
					dataField: "goodsshelves_name",
					width: 180,
					caption: "备货货架"
				},
				{
					dataField: "masterdoctor",
					width: 100,
					caption: "主刀医生",
				},
				{
					dataField: "surgery",
					width: 100,
					caption: "手术名称",
				},
				{
					dataField: "surgerydate",
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100,
					caption: "预计手术日期",
				},{
					dataField: "applyoperatorname",
					width: 100,
					caption: "申请人",
				},{
					dataField: "agentname",
					width: 100,
					caption: "业务员",
				},
				{
					dataField: 'operatorsidname',
					caption: '制单人',
					width: 100
				}, {
					dataField: 'actiondate',
					caption: '制单日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 100
				}, {
					dataField: 'nomo',
					caption: '备注',
					width: 180,
				}
				]
				,
				onCellClick: function (e) {
					var data = e.data;
					if (e.columnIndex == 1 && e.rowType != "header") {
						//点击单号修改功能
					parent.layer.open({
						type: 2 //此处以iframe举例
							,
						title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">产品列表</span>',
						area: ['85%', '90%'],
						offset: "rb",
						content: 'views/salesManagement/chanpin.html',
						zIndex: layer.zIndex //重点1
							,
						success: function(layero) {
							sessionStorage.orderNum = data.ordernum;
						}
					});
			

			

					}
				},
				onSelectionChanged: function (e) {
					selectedArray = [];
					selectedArray = e.selectedRowsData;
				},
		
			}).dxDataGrid('instance');
		});
		// 结束
			}
			var selectedArray = [];
			//分页
			function get_pages() {
				laypage.render({
					elem: 'getManagement', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100],
					limit: limit,
					curr: curpage,
					group: 2,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						//						console.log(obj);
						curpage = obj.curr;
						limit = obj.limit;
						if(!first){
							getData(false);
						}
						
					}
				})
			}
			
			$(".find").click(function() {
				getData(true);
			})
			// table.on('tool(demo)', function(obj) {
			// 	var value = obj.value //得到修改后的值
			// 		,
			// 		data = obj.data //得到所在行所有键值
			// 		,
			// 		field = obj.field; //得到字段
			// 	if(obj.event === 'chanpin') {
					
			// 	}
			// });
			var active = {
				getCheckDel: function() { //获取选中数据
					
					if(!checkPermissionStatus("标准流程-确认取货-保存1")){
					
						parent.layer.open({
							title: "提示",
							content: localStorage.jurisdictionTips,
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return
						
					}
					
					var checkStatus = table.checkStatus('orderTest'),
						data = checkStatus.data;
					if(selectedArray.length == 0){
						parent.layer.open({
							title: "提示",
							content: '请选择数据！'
						})
						return;
					}
					
					if(selectedArray.length >1){
						parent.layer.open({
							title: "提示",
							content: '只能选择一条数据！'
						})
						return;
					}
					
					
					if(selectedArray[0].applyoperatorsid != localStorage.userId){
						parent.layer.open({
							title: "提示",
							content: '只有备货申请人才能确认取货!'
						})
						return;
					}
					
		
					
					var jiazaiIndex;
					parent.layer.open({
					  type: 3, 
					  zIndex: parent.layer.zIndex, //重点1
					  success: function(layero, index){
					  		jiazaiIndex = index;
			  			}
					});
		
					var lastnum = selectedArray[0].lastnum;
					$.ajax({
						type: "get",
						url: localStorage.serIp+"/WebUpdateApplyStockUpState?jsoncallback=?",
						async: true,
						dataType: 'jsonp',
						data: {
							"userId": localStorage.userId,
							"userPw": localStorage.userPw,
							'database': localStorage.database,
							'state':3,
							'ordernum':lastnum
						},
						success: function(res) {
							parent.layer.close(jiazaiIndex);

							var data = JSON.parse(res);
							if(data.ResultValue == 1) {
								parent.layer.open({
									title: "提示",
									content: '操作成功!'
								});
								getData();
							}
							
							if(data.ResultValue == 0) {
								parent.layer.open({
									title: "提示",
									content: '服务器提出一个问题!'
								});
							}
						}
						,
						error: function(res) {
							parent.layer.close(jiazaiIndex);
								
								parent.layer.open({
									title: "提示",
									content: '服务器异常!',
										zIndex: parent.layer.zIndex //重点1
						
								});
							
					
						}
					});
				}
			};
			$(".preserve").click(function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			})
		});
	</script>

</html>