<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>分销合约</title>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
		<!-- DevExtreme themes -->
		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.common.css">
		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.light.css">
	</head>
	<style type="text/css">
		.purchase {
			font-family: "PingFang SC" !important;
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 10px;
		}
		
		.btns {
			float: right;
			margin-top: 18px;
		}
		
		label {
			padding: 0 !important;
			margin-left: 0px;
		}
		
		.btns button,
		.find,
		.import {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
			font-size: 9pt;
		}
		
		.btns button {
			width: 90px;
		}
		
		.purchase_header {
			margin-bottom: 8px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		

		
		.cs_container,
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
			
		.cleardata{
			cursor: pointer;
		}
		
		.cleardata1{
			cursor: pointer;
		}
		
		.layui-inline{
			margin-top: 10px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />

	<body>
		<div class="purchase">
			<div class="layui-tab">
				<div class="purchase_header">
					<div class="inputs" style="margin-bottom: 8px;">
					<div style="width: 100%;height: auto;">	
					<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
									
								</select>
							</div>
					</div>
					
					
						<div class="layui-inline" style="margin-right: 15px;width: 308px;">
							<label class="layui-form-label" style="margin-right: 10px;">往来单位</label>
							<div id="append_group">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
						
						
						<div class="layui-inline" style="margin-right: 15px;width: 308px;">
							<label class="layui-form-label" style="margin-right: 10px;">所属部门</label>
							<div id="addGroup">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input owngroup" type="text" id="owngroup" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
				<div class="layui-inline" style="margin-right: 15px;width: 308px;">
					<label class="layui-form-label" style="margin-right: 10px;">业务员</label>
					<div id="append_sale">
						<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
					</div>
				</div>
				
			
						
				</div>
				
					<div style="width: 100%;height: auto;position: relative;margin-top: 10px;">
				
					<div class="layui-inline" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">日期范围</label>
							<div class="layui-input-inline">
								<input autocomplete="off" id="contractdate1" class="layui-input " type="text">
							</div>
							-
							<div class="layui-input-inline">
								<input autocomplete="off" id="contractdate2" class="layui-input" type="text" style="margin-left: 0;">
							</div>
						</div>
				
						<div class="layui-inline" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">单据状态</label>
							<div class="layui-input-inline">
								<select name="" class="checkstate layui-input">
									<option value="-1">单据状态</option>
									<option value="0">未审核</option>
									<option value="1">已审核</option>
									<option value="2">已作废</option>
								</select>
							</div>
						</div>
						
									<div class="layui-inline"  style="margin-right: 15px;">
							<label class="layui-form-label">操作状态</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input state">
									<option value="-1">状态</option>
									<option value="0">待确认</option>
									<option value="1">待验出</option>
									<option value="2">已完结</option>
								</select>
							</div>
						</div>
						</div>	
					<div style="width: 100%;height: auto;position: relative;margin-top: 10px;">		
						
						<div class="layui-inline">
							<div class="layui-input-inline">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input seachContent" placeholder="请输入单号" type="text" style="margin-left: 0px;width: 240px;">
							</div>
							<div class="layui-inline" style="margin-top: 0px;">
								<button class="layui-btn find" style="margin-left: 5px;">查询</button>
							</div>
						</div>
						<div class="btns" style="margin-top: 8px;">
							<button class="layui-btn contractadd">新增</button>
										<button class="layui-btn moreAction">更多操作</button>
							<ul class="action" style="right: 0px;">
									<li>
									<a class="export" data-type="combineExport" lay-event='del'>合并导出</a>
								</li>
								
							
							</ul>
						</div>
					</div>
			
				</div>
				<div id="gridContainer"></div>
				<table id="contract" lay-filter="demo"></table>
			</div>
		</div>
	</body>
	<script src="./../../../js/jquery.js"></script>
	<!-- DevExtreme library -->
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>
    <script src="../../../devexpresslibrary/js/dx.all.js" type="text/javascript"></script>
	<script src="../../../plugins/layui/layui.js"></script>
	<script src="../../../js/public.js"></script>
	<script>
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			var laypage = layui.laypage;
			$('.moreAction').hover(function(){
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			var myDate = new Date();
			var currentMothFirstDay = getCurrentMothFirstDay();
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
			laydate.render({
				elem: '#contractdate1',
				value: currentMothFirstDay
			});
			laydate.render({
				elem: '#contractdate2',
				value: new Date()
			});
			var limit = 50;
			var curpage = 1;
			var count;
			var off = true;
			var seachContent;
			var unit;
			var salesman;
			var beginTime;
			var endTime;
			var state;
			//往来单位换成下拉的
			getunit(411,0);
			var groupcompanyid=localStorage.groupcompanyid;
			if(localStorage.groupcompanyid != "0"){
				$("#fengongsiId").css("display","none");
				
				 contractData() 
			}else{
				 dataFun1();
			}
			
			getowngroupList(localStorage.groupcompanyid);
			 
			 
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
			
							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";
			
							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						
						contractData();
					}
				});
			
			}
			
			function staffList() {
				$.ajax({
					type: "post",
					url: localStorage.serIp+"/WebGetEmployeeDropDownList?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': groupcompanyid,
					},
					success: function(res) {
						var data = JSON.parse(res);
						$('#salesman').bComboSelect({
							showField: 'employeename',
							keyField: 'employeesid',
							data: data
						});
						
					}
				});
			}
			staffList()
			$(".salesman,.state,.checkstate").change(function() {
				$('.unit').val("");
				$('#unit').val('');
				contractData(true);
			})
			
			
			$(".companytypeid").change(function() {
				$('.unit').val("");
				$("#unit").val("");
				contractData(true);
				//业务员跟这变
				groupcompanyid=$(".companytypeid").val();
				groupcompanyid=groupcompanyid==-1?'':groupcompanyid;
				var bandstr = '<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_sale").empty().append(bandstr);
				getstaffList(groupcompanyid,"");
			
				//往来单位跟这变
				var append_group = '<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,"")" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_group").empty().append(append_group);
				getunitByConfident(411,groupcompanyid,0);
		
				
				var addGroup = '<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,"")" class="layui-input owngroup" type="text" id="owngroup" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#addGroup").empty().append(addGroup);
				getowngroupList(groupcompanyid);
			
				
			})
			
					
			$("body").delegate(".owngroup","change",function(){
		
					groupcompanyid=$(".companytypeid").val();
					
					groupcompanyid=groupcompanyid==-1?'':groupcompanyid;
					
					var bandstr = '<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
					$("#append_sale").empty().append(bandstr);
					
					getstaffList(groupcompanyid,$("#owngroup").val());
					
					contractData(true);

				
			
			});
			
	
			
			function contractData() {
				var beginTime = $('#contractdate1').val() != "" ?   $('#contractdate1').val() : currentMothFirstDay;
				var endTime = $('#contractdate2').val() != "" ? $('#contractdate2').val() : currentDate;
				var seachContent = $(".seachContent").val();
				var unit = $('#unit').val();
				var salesman = $('#salesman').val();
				var state = $(".state").val();
				var employeedep = $('#owngroup').val();

				var checkstate = $(".checkstate").val();

				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
					var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetDistributionOutInfo?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'groupCompanyId': companytypeid,
						'database': localStorage.database,
						'orderNum': seachContent,
						'agentId': salesman,
						'companyId': unit,
						'beginTime': beginTime,
						'endTime': endTime,
						'checkState': checkstate,
						'orderState': state,'isorder' : 0,
						'employeedep' :employeedep
					},
					success: function(res) {
												parent.layer.close(jiazaiIndex);

						var contractData = JSON.parse(res);
						var data = JSON.parse(contractData.data);
						count = contractData.count;
						contractInfo(data, limit);

						$("[data-field=typeof] div:gt(0)").each(function(i) {
							$(this).html("分销合约");
						});

						if(off) {
							off = false;
							contract_pages();
						}
					}
				
											,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});
			}
            		
			// 根据可视区的高度判断
			var viewHeight = $(window).height();		
			$('#gridContainer').css('height', viewHeight * 0.765 + 'px');
			function contractInfo(data, limit) {
				var dataGrid = $("#gridContainer").dxDataGrid({
					dataSource: data,
					keyExpr: "ordernum",
					allowColumnReordering: true,
					showBorders: true,
					paging: {
						pageSize: 200,
					},
					sorting: {
						mode: "none"//none
					},
					selection: {
						mode: "multiple"
					},
					filterRow: {
						visible: false,
						applyFilter: "auto"
					},
					headerFilter: {
						visible: false
					},
					allowColumnResizing: true,
					columnFixing: {
						enabled: false
					},
					columns: [{
						dataField: "ordernum",
						width: 160,
						caption: "分销合约单号",
						fixed: true,
						cellTemplate: function (container, options) {
						$("<div>")
							.append($("<div style='color:#2D89DD'> " + options.value + "</div>"))
							.appendTo(container);
					}
					}
						,
					{
						dataField: "statesname",
						width: 100,
						caption: "操作状态",
					
					},
					{
						dataField: "companyname",
						width: 180,
						caption: "往来单位"
					},
					{
						dataField: "owncompanyname",
						width: 180,
						caption: "所属公司",
					},{
						dataField: "warehousename",
						width: 180,
						caption: "对应仓库",
					},{
						dataField: "areaname",
						width: 180,
						caption: "对应货区",
					},
					{
						dataField: 'owngroupname',
						caption: '所属部门',
						width: 100,
				
						
					},{
						dataField: 'agentname',
						caption: '业务员',
						width: 100
					},{
						dataField: 'distrdate',
						caption: '分销合约日期',
						format: "yyyy-MM-dd",
						dataType: "date",
						width: 100
					},
					{
						dataField: 'operatorname',
						caption: '制单人',
						width: 100,
					}, {
						dataField: 'actiondate',
						caption: '制单日期',
						format: "yyyy-MM-dd",
						dataType: "date",
						width: 100,
					}, {
						dataField: 'checkername',
						caption: '审核人',
						width: 100,
					},{
						dataField: 'checkdate',
						caption: '审核日期',
						format: "yyyy-MM-dd",
						dataType: "date",
						width: 100,
					},{
						dataField: 'checkstatename',
						caption: '单据状态',
						width: 100,
					}, {
						dataField: 'lastnum',
						caption: '关联单号',
						width: 160,
					},{
						dataField: 'mynum',
						caption: '自定义单号',
						width: 160,
					}, {
						dataField: 'nomo',
						caption: '备注',
						width: 180,
					},
					]
					,
					onSelectionChanged:function(e){
					selectedArray = [];
					selectedArray = e.selectedRowsData;
					},
				   onCellClick:function(e){
					var data = e.data;
				if(e.columnIndex == 1 && e.rowType == 'data'){
				  //点击单号跳转
					parent.tab.tabAdd({
						icon: '',
						id:"FXHYXQ" + data.ordernum,
						title: data.ordernum + '分销合约详情',
						url: 'views/salesManagement/contract/contractOprate.html'
					});
					}
	
				}
			   
					}).dxDataGrid('instance');
	
	
	
				
					
				} 


                 var selectedArray = [];
			//分页
			function contract_pages() {
				laypage.render({
					elem: 'contract', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100],
					limit: limit,
					curr: curpage,
					group: 2,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						curpage = obj.curr;
						limit = obj.limit;
			
						off = false;
						if(!first){
							contractData();
						}
						
					}
				})
			}
	
			//点击新增
			$(".contractadd").click(function() {
				
				if(!checkPermissionStatus("分销合约-保存1")){
				
					parent.layer.open({
						title: "提示",
						content: localStorage.jurisdictionTips,
						zIndex: parent.layer.zIndex //重点1
						,
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					return
					
				}
					
					
				var  num  = randomString();
				parent.tab.tabAdd({
					icon: '',
					id: 'xindan' + num,
					title: '新增分销合约',
					url: 'views/salesManagement/contract/contractOprate.html'
				});
			});
			$(".find").click(function() {
				off = true;

				contractData();
			})
			//			回车事件
            $(".seachContent").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();
				}
			});
			
			
					
		
		
			var $ = layui.$,
				active = {
					combineExport: function() { //获取选中数据
						if(!checkPermissionStatus("分销合约-导出1")){
				
							parent.layer.open({
								title: "提示",
								content: localStorage.jurisdictionTips,
								zIndex: parent.layer.zIndex //重点1
								,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								}
							});
							return
							
						}
										
										
						var checkStatus = table.checkStatus('FXHYTable'),
							data1 = checkStatus.data;
							
							
						var idstr = "";
						if(selectedArray.length == 0){
							parent.layer.open({
								title: "提示",
								zIndex: parent.layer.zIndex, //重点1,
								content: '请选择要导出的单据!'
							});
							return;
						}
						
	
						
						
						
					    for(var i=0;i<selectedArray.length;i++) { 
				      		idstr += "'"+selectedArray[i].ordernum + "'";
		
				      		if((i+1)!=selectedArray.length){
				      			idstr += ",";
				      		}
						}
					    
						parent.layer.confirm('确定导出吗？', {
							icon: 3,
							zIndex: parent.layer.zIndex ,//重点1
							title: '合并导出'
						}, function(index) {
							
							combineExport("FXHY",idstr);
							
						});
					}
				};


			$('.export').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

		//导出全部
			$(".allExport").click(function(){
					    
				parent.layer.confirm('确定导出全部吗？', {
					icon: 3,
					zIndex: parent.layer.zIndex ,//重点1
					title: '导出全部'
				}, function(index) {
					
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1,
				  success: function(layero, index){
				  		jiazaiIndex = index;
					}
				});
				
				var beginTime = $('#contractdate1').val() != "" ?   $('#contractdate1').val() : currentMothFirstDay;
				var endTime = $('#contractdate2').val() != "" ? $('#contractdate2').val() : currentDate;
				var seachContent = $(".seachContent").val();
				var unit = $('#unit').val();
				var salesman = $('#salesman').val();
				var state = $(".state").val();
				var employeedep = $('#owngroup').val();

				var checkstate = $(".checkstate").val();

				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				var timestamp=new Date().getTime();
	
				$.ajax({
					type: "get",
					url: localStorage.serIp + "/WebGetOutstockrecoverExportInfo?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'groupCompanyId': companytypeid,
						'database': localStorage.database,
						'orderNum': seachContent,
						'agentId': salesman,
						'companyId': unit,
						'beginTime': beginTime,
						'endTime': endTime,
						'checkState': checkstate,
						'orderState': state,
						'employeedep' :employeedep,'isorder' : 0,
						'filename':"分销合约"+timestamp+".xls"
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);
			
						var res = JSON.parse(res);
						if(res.ResultValue == '0') {
							
							parent.layer.open({
								title: "提示",
								content: '导出失败！',zIndex: parent.layer.zIndex //重点1
							});
							
							
						
								
					
						}else{
							
							var downurl =  "\\"+res.ResultValue
							while(true){
								var isExists=0;
								$.ajax({
									url:downurl,
									async:false,
									type:'HEAD',
									error:function(){
									isExists=0;
									
									},
									success:function(){
									isExists=1;
									
									}
								});
								
								
								if(isExists == 1){
									parent.layer.close(jiazaiIndex);
									window.location.href = downurl;	
			
									break;
								}
						
								
							}
							
							
							parent.layer.open({
								title: "提示",
								content: '导出成功！',zIndex: parent.layer.zIndex //重点1
									,
								success: function(layero,index) {
								parent.layer.setTop(layero); //重点2
//									window.location.href = url;	
							
								},
								
							});
							
								
						}
						
					},
					error: function(res) {
						parent.layer.close(jiazaiIndex);
						
					}
				});
					
				});
			})

		});
	</script>


</html>