<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>分销发票待审核</title>
		<script src="./../../../js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">

		<!-- DevExtreme themes -->
	<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.common.css">
	<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.light.css">
	<link rel="stylesheet" type="text/css" href="../../../css/same.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
	</head>
	
	<style type="text/css">
	table thead td {
    padding: 0;
    border-left: 1px solid #CAD3DA;
    background: #DFEBFB;
}
table tbody tr:nth-child(even) {
    background: #E7EFF9;
}
  .dx-datagrid-text-content {
	  color: grey;
  }
.clearfix:after {
      content: '.';
      height: 0;
      display: block;
      clear: both;
  }
  .layui-laypage-limits {
        font-size: 12px;
        display: none;
        float: left;
		margin-top: 7px;
	}
	#lay-ignore {
      height: 25px;
      width: 60px;
    
    }
     #lay-ignore {
      height: 25px;
      width: 60px;
     
	}
	tbody tr:not(:last-child):hover{
	background-color: rgba(137, 207, 240,.6)!important;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td{
	background-color: yellow!important;
}
colgroup > col:first-child{
	width: 45px!important;
}

.dx-col-fixed:nth-child(1){
	width: 45px !important;
}

.M-box2 {
        display: inline-block;
        padding: 0 15px;
        height: 28px;
        color: #333;
        font-size: 12px;
        margin-top: 6px;
       }
        .M-box2 a {
            margin-left: 15px;
            padding: 0 15px;
            text-decoration: none;
            background-color: #ffffff;
            color: #000000;  
        }
    
        .M-box2 .active {
            margin-left: 5px;
            padding: 0 15px;
            color: #ffffff;
            width: 100%;
            height: 100%;
            background-color: #2D89DD;
            border: 1px solid #e2e2e2;
		}
		.jump-ipt {
            float: none;
            margin-left: 5px;
            margin-left: 11px;
            width: 60px;
            border: 1px solid #e6e6e6;
            height: 20px!important;
		}
		.dx-data-row,.dx-column-lines:not(:first-child) > td:nth-child(2) {
		cursor: pointer;
	 }
	 .dx-widget {
            font-size: 9pt!important;
            line-height: 17px;
        }
        .option>.dx-selectbox {
            display: inline-block;
            vertical-align: middle;
        }
        .layui-input{
            color: #000000;
		  }
		  .dx-column-lines>td:nth-child(2) {
        color: #2D89DD;
	}
	.dx-data-row,.dx-column-lines > td:nth-child(2) {
		cursor: pointer;
	 }
	 .totalInfo{
        width: 100px;
        height: 20px;
        float: left;
        margin-top: 12px;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
		.inputs {
			margin-bottom: 8px;
			border-radius: 0;
		}
		
		.find {
			margin-left: 10px;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
		}
		
		.layui-form-label {
			padding: 0;
		}
		
		label {
			margin-left: 14px;
		}
		
		.action {
			right: 20px;
		}
		
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
			border-radius: 5px!important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
			z-index: 5;
		}
		
				.cleardata{
			cursor: pointer;
		}
		
		.cleardata1{
			cursor: pointer;
		}
		
		.layui-inline{
			margin-top: 10px;
			margin-right: 15px;
		}
		
			.layui-inline .layui-form-label{
			padding-left: 0px;margin-left: 0px;
		}
	</style>

	<body>
		<div class="waitList">
			<div class="inputs" style="margin-left: 14px;margin-bottom: 8px;">
				<div style="width: 100%;height: auto;">	
					
						
				</div>
				<div style="width: 100%;height: auto;position: relative;margin-top: 0px;">
				
						<div class="layui-inline" style="margin-right: 15px;width: 320px;">
							<label class="layui-form-label" style="margin-right: 10px;">往来单位</label>
							<div id="append_group">
								<input autocomplete="off" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
						
													<div class="layui-inline" style="margin-right: 15px;width: 320px;">
							<label class="layui-form-label" style="margin-right: 10px;">所属部门</label>
							<div id="addGroup">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input owngroup" type="text" id="owngroup" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
				<div class="layui-inline" style="margin-right: 15px;width: 308px;">
					<label class="layui-form-label" style="margin-right: 10px;">制单人</label>
					<div id="append_sale">
						<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
					</div>
				</div>
				
				</div>
								<div style="width: 100%;height: auto;position: relative;margin-top: 0px;">
		
								<div class="layui-inline" style="margin-right: 15px;">
					<label class="layui-form-label">仓库类型</label>
					<div class="layui-input-inline">
						<select name="" class="layui-input applymodel" style="margin-left: 10px;">
							<option value="1">联动仓</option>
							<option value="0">自营仓</option>
						</select>
					</div>
				</div>
		
				<div class="layui-inline" style="margin-right: 10px;">
					<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input seachContent" type="text" placeholder="请输入关键字" style="margin-left: 0px;width: 240px;">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn find" style="margin-left: 0px;">查询</button>
				</div>
				<div class="btns" style="margin-top: 8px;">
					
					<button class="layui-btn moreAction" style="margin-right: 20px;">更多操作</button>
					<ul class="action">
						<li>
							<a class="addDianJiEvent" data-type="FPSQ" lay-event='FPSQ'>发票申请</a>
						</li>
					</ul>
				</div>
					</div>
			</div>

			<table id="DSQTable" lay-filter="demo">

				<div class="demo-container">
					<div id="gridContainer"></div>
			</div>
			</table>
			<div class="footer .clearfix">
				<div class="totalInfo fl"></div>
				<div class="M-box2 fl"></div>
				<span class="layui-laypage-limits">
					<select id="lay-ignore">
						<option value="50" selected>50</option>
						<option value="100">100</option>
						<option value="200">200</option>
					</select>
					<span>条/页</span>
				</span>
		</div>
		</div>
	</body>

	<!-- DevExtreme library -->
<script src="../../../devexpresslibrary/js/dx.all.js" type="text/javascript"></script> 
<script src="../../../devexpresslibrary/js/pagination/jquery.pagination.js"></script>
<script src="../../../devexpresslibrary/js/pagination/highlight.min.js"></script>
<script type="text/javascript" src="../../../js/comboselect.js"></script>
<script type="text/javascript" src="../../../js/b.comboselect.js"></script>
<script src="../../../js/public.js" type="text/javascript" charset="utf-8"></script>
<script>


	var limit = 50;
var currentPage = 1;
var totalInfo = '';
var count;
		layui.use(['table', 'jquery', 'element', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
	
			var laypage = layui.laypage;
			var laydate = layui.laydate;
			var myDate = new Date();
			var currentMothFirstDay = getCurrentMothFirstDay();
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
			

			var groupcompanyid=localStorage.groupcompanyid;
			waitData(currentPage, limit, totalInfo);

			
			getowngroupList(localStorage.groupcompanyid);

			
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
			
							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";
			
							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						$(".companytypeid").attr("disabled","disabled")
							waitData(currentPage, limit, totalInfo);
					}
				});
			
			}
			


			function staffList() {
				$.ajax({
					type: "post",
					url: localStorage.serIp  +"/WebGetEmployeeDropDownList?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': groupcompanyid
					},
					success: function(res) {
						var data = JSON.parse(res);
						$('#salesman').bComboSelect({
							showField: 'employeename',
							keyField: 'employeesid',
							data: data
						});

					}
				});
			}
			staffList();


			
			getunit(-1,0);
			
			$(".companytypeid").change(function() {

				waitData(currentPage, limit, totalInfo);
				
				//业务员跟这变
				groupcompanyid=$(".companytypeid").val();
				groupcompanyid=groupcompanyid==-1?'':groupcompanyid;

		
				//往来单位跟这变
				var append_group = '<input autocomplete="off" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_group").empty().append(append_group);
				getunitByConfident(-1,groupcompanyid,0);
				
					

			
			
			})
			
			

			
			$(".applymodel").change(function(){
				waitData(currentPage, limit, totalInfo);
			})

			function waitData(currentPage, limit, totalInfo ) {
			
				
				var  unit = $('#unit').val();
				var orderNum = $(".seachContent").val();
		

				
				var employeedep = $('#owngroup').val();
				var applymodel =  $(".applymodel").val();
				var salesman = $("#salesman").val();

				var companytypeid = "";
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
					var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});	
				$.ajax({
					type: "get",
					url: localStorage.serIp  +"/WebGetOutSettlementInfo?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': currentPage,'operatorsid': salesman,
						'orderNum': orderNum,
						'companyId': unit,
						'database': localStorage.database,
						'groupCompanyId': companytypeid,
						'employeedep' :employeedep,
						'checkState': 1,
						'lastType': 81,
						'applymodel' :applymodel

					},
					success: function(res) {
						$('.totalInfo').children().remove();
						parent.layer.close(jiazaiIndex);
                   
						var initData = JSON.parse(res);
						var data = JSON.parse(initData.data);
						
						count = initData.count;
						

						var totalInfoTag = '<span>' + '共' + count + '条' + '</span>';
						$('.totalInfo').append(totalInfoTag);
						wait(data, limit);
	                    pagination(currentPage, limit, count);
                        $('.layui-laypage-limits').css('display','block');
			
					
					}
									,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});

			}
			
	//合并开票功能
$('.addDianJiEvent').on('click', function () {
	
//	if(!checkPermissionStatus("分销发票签出单-保存1")){
//					
//							parent.layer.open({
//								title: "提示",
//								content: localStorage.jurisdictionTips,
//								zIndex: parent.layer.zIndex //重点1
//								,
//								success: function(layero) {
//									parent.layer.setTop(layero); //重点2
//								}
//							});
//							return
//							
//						}
//	
	
    var ordernumList = '';
    var arrForOderNum = [];
    var danhao = ' ';
    var danhao = $('.dx-selection');
    var newarr = [];
    danhao.get().forEach(function (currentValue, index, arr) {
        danhao = "\'" + currentValue.childNodes[1].innerText + "\'";
        newarr = arrForOderNum.push(danhao);
        ordernumList = arrForOderNum.join(",");
	});
	  
    if (ordernumList.length == 0) {
        parent.layer.open({
            title: "提示",
            zIndex: parent.layer.zIndex, //重点1,
            content: '请选择要开票的单据!'
        });
        return;
    };
    

   
    
});

		
		
			function wait(data, limit) {
					//   Dev Extreme
		$(function () {
			var dataGrid = $("#gridContainer").dxDataGrid({
				dataSource: data,
				keyExpr: "ordernum",
				allowColumnReordering: true,
				showBorders: true,
				paging: {
					pageSize: 200,
				},
				sorting: {
					mode: "none"//none
				},
				selection: {
					mode: "multiple"
				},
				filterRow: {
					visible: false,
					applyFilter: "auto"
				},
				headerFilter: {
					visible: false
				},
				allowColumnResizing: true,
				columnFixing: {
					enabled: false
				},
				
				columns: [{
					dataField: "ordernum",
				    width: 160,
					caption: "出库核价单号",
					fixed: true,
				}
				,
				{
					dataField: "isinvoicename",
					width: 70,
					caption: "操作状态",
				},
				{
					dataField: "lasttypename",
					width: 110,
					caption: "单据类型"
				},
				{
					dataField: "companyname",
					width: 180,
					caption: "往来单位"
				},
				{
					dataField: "owncompanyname",
					width: 180,
					caption: "所属公司",
				},
				{
					dataField: "owngroupname",
					width: 70,
					caption: "所属部门",
				},
	
				{
					dataField: "totalprice",
					width: 90,
					caption: "总金额",
					format: {
						type: "fixedPoint",
						precision: 2
					},
					customizeText: function (arg) {
						return arg.valueText;
					}
				},
				{
					dataField: "taxpercentage",
					width: 70,
					caption: "税率",
				},
				{
					dataField: "outtickettypename",
					width: 100,
					caption: "票种",
				},
			
			
				{
					dataField: 'agentname',
					caption: '业务员',
					width: 70
				}, {
					dataField: 'outsettlementdate',
					caption: '核价日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 80
				},
				{
					dataField: 'operatorsidname',
					caption: '制单人',
					width: 70
				}, {
					dataField: 'actiondate',
					caption: '制单日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 90
				},
				{
					dataField: 'lastnum',
					caption: '关联单号',
					fixedPosition: 'right',
					width: 160,
				},
				{
					dataField: 'mynum',
					caption: '自定义单号',
					width: 160,
				},
				  {
					dataField: 'nomo',
					caption: '备注',
					width: 180,
				},
				{
					dataField: 'recheckstate',
					caption: '复核状态',
					width: 60,
				},{
					dataField: 'recheckername',
					caption: '复核人',
					width: 60,
				}, {
					dataField: 'recheckdate',
					caption: '复核日期',
					format: "yyyy-MM-dd",
					dataType: "date",
					width: 80,
				},{
					dataField: 'recheckstatenomo',
					caption: '复核备注',
					width: 180,
				}
				]
				,
				onSelectionChanged: function (obj) {
					var exportCompanyarr = [];
					var taxarr = [];
					var percentagearr = [];
					// 发票申请
					var selectedRowsData = obj.selectedRowsData;
					var ordernumList = '';
					var arrForOderNum = [];
					var totalprice = 0;
					var outseltotalprice = 0;
					var outticketarr =[];
					var outticketlist = '';
					var applymodel =  $(".applymodel").val();
					for (var i = 0; i < selectedRowsData.length; i++) {
						var danhao=selectedRowsData[i].ordernum;
						danhao = "\'" + danhao + "\'";
						arrForOderNum.push(danhao);
						ordernumList = arrForOderNum.join(",");
						// 往来单位
						var companyideach = selectedRowsData[i].companyid;
						// 税率
						var taxpercentage = selectedRowsData[i].taxpercentage;
						// 票种
						var outtickettypename  = selectedRowsData[i].outtickettypename;
						// 总金额
						 totalprice  += selectedRowsData[i].totalprice;
						//含税成本金额
						outseltotalprice +=  selectedRowsData[i].outseltotalprice;
						
						if (exportCompanyarr.indexOf(companyideach) == -1) {
							exportCompanyarr.push(companyideach);
						}
						if (taxarr.indexOf(taxpercentage) == -1) {
							taxarr.push(taxpercentage);
						}
						if (percentagearr.indexOf(outtickettypename) == -1) {
							percentagearr.push(outtickettypename);
						}
                  

						// 发票类型
						var outtickettype  = selectedRowsData[i].outtickettype;
						if (outticketarr.indexOf(outtickettype) == -1) {
							outticketarr.push(outtickettype);
						}
						
						
						
					}
				    // console.log(totalprice);
					$('.addDianJiEvent').dxButton({
						onClick: function () {
							
						if(!checkPermissionStatus("分销发票签出单-保存1")){
					
						parent.layer.open({
							title: "提示",
							content: localStorage.jurisdictionTips,
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return
						
					}
				
                        
						//    选中单据时候判断税率,税种和往来单位是否一致
						if( exportCompanyarr.length > 1 || taxarr.length > 1 || percentagearr.length > 1){
								
								//判断含税成本金额
								
						
								parent.layer.open({
									title: "提示",
									content: '税率、税种、往来单位完全一致才允许发票申请!',
									zIndex: layer.zIndex //重点1
									,
									success: function (layero) {
										parent.layer.setTop(layero); //重点2
									}
								});
							

							return;
					
						};
							
					
							if (exportCompanyarr.length == 1 && taxarr.length == 1 && percentagearr.length == 1) {
								var str1 = "	总金额："+ Number(totalprice).toFixed(2);
								
								var str2 = "	<br>含税成本金额："+  Number(outseltotalprice).toFixed(2);
								var str3 = "	 <br>比例： "+ (outseltotalprice/totalprice).toFixed(2)+ "%";
								var applymodal =  selectedRowsData.length;
								
								var str;
                                if(applymodel == 1){
                                	 str = str1 + str2 + str3;
                                }else{
                                	str = "确定申请吗?";
                                }
								
							

								parent.layer.confirm(str, {
									icon: 3,
									title: '提示'
							}, function(index) {
								var jiazaiIndex;
								parent.layer.open({
								  type: 3, 
								  zIndex: parent.layer.zIndex, //重点1
								  success: function(layero, index){
										  jiazaiIndex = index;
										 
									  }
								});

									
								
	     			var master = {
	      				"invoiceorderList": ordernumList,
	    				'companyid' : exportCompanyarr[0],
	    				'applymodel':applymodel,
	    				'taxpercentage':''+taxarr[0],
	    				'outtickettype': '' +outticketarr[0],
	    				"invoicetype" : 1 //0:表示入库申请 1表示分销出库申请，2表示直销出库申请
	   			};
											
							$.ajax({
								type: "post",
								url:  localStorage.serIp  +"/WebAddInvoiceApplyMaster",
								async: true,
								dataType: 'json',
								contentType:'application/json; charset=utf-8',
								crossDomain:true,
								data:JSON.stringify({
									'userId': localStorage.userId,
									'userPw': localStorage.userPw,
									'database': localStorage.database,
									'master':  JSON.stringify(master),
									'groupCompanyId':localStorage.groupcompanyid 
								}),
								success: function(res) {
									parent.layer.close(jiazaiIndex);			
									var data = JSON.parse(res);
									if(data.ResultValue == 1) {
										parent.layer.open({
											title: "提示",
											content: '申请成功',
											zIndex: layer.zIndex //重点1
											,
											success: function(layero) {
											parent.layer.setTop(layero); //重点2
										}
										});
										
										waitData(currentPage, limit, totalInfo);
									} 
									else {
										parent.layer.open({
											title: "提示",
											content: '服务器提出一个问题!',
											zIndex: layer.zIndex //重点1
											,
											success: function(layero) {
											parent.layer.setTop(layero); //重点2
										}
										});
									}
									
								}
								,
								error: function(res) {
									parent.layer.close(jiazaiIndex);
										
										parent.layer.open({
											title: "提示",
											content: '服务器异常!',
												zIndex: parent.layer.zIndex //重点1
								
										});
									
							
								}
							});
						
								return;
							},
							 function(index) {
								parent.layer.close(index);
								return;
							}
							);
							
							  
							}

			

						}
					});

					dataGrid.refresh();
				},
				summary: {
					totalItems: [{
						name: "SelectedRowsSummary",
						showInColumn: "totalprice",
						summaryType: "custom",
					}
					,
					{
						name: "SelectedRowsSummary",
						showInColumn: "nomoney",
						summaryType: "custom",
					}
					],
					calculateCustomSummary: function (options) {
						if (options.name === "SelectedRowsSummary") {
							if (options.summaryProcess === "start") {
								options.totalValue = 0;
							};
							if (options.summaryProcess === "calculate") {
								if (options.component.isRowSelected(options.value.ordernum)) {
									options.totalValue = options.totalValue + options.value.totalprice;
									options.totalValue = Math.round(options.totalValue * 100) / 100;
								}
							}
						}
					},

				},
				onCellClick:function(e){
						if(e.columnIndex == 1){

							parent.tab.tabAdd({
								icon: '',
								id: 'FXFPQC' +  e.data.ordernum,
								title:  e.data.ordernum + '分销核价',
								url: 'views/financiaManagement/checkOut/distributionJSDetail.html'
							});

					}
			}
						
			}).dxDataGrid('instance');
		});
				
					
			}
	

	//////////////////////分页
	function pagination(currentPage, limit, totalInfo) {
		$('.M-box2').empty();

		if (totalInfo == 0) {
			return;
		}
		$('.M-box2').pagination({
			current: currentPage,
			totalData: totalInfo,
			showData: limit,
			pageCount: Math.floor(totalInfo / limit),
			mode: 'fixed',
			isHide: true,
			jump: true,
			callback: function (api) {
				currentPage = api.getCurrent();
				waitData(currentPage, limit, totalInfo);
			}
		});
	}
	$('#lay-ignore').change(function () {
        limit = $(this).children('option:selected').val();
        waitData(currentPage, limit,totalInfo);
    });

  	// 根据可视区的高度判断
	var viewHeight = $(window).height();
	if (viewHeight == 855) {
		$('#gridContainer').css('height', 650 + 'px'); //855*0.76
	} else {
		$('#gridContainer').css('height', viewHeight * 0.7 + 'px');
	}
	///////////////////点击跳转		
		
			
			$(".find").click(function() {
		
				waitData(currentPage, limit, totalInfo);
			})
			
					
			$("body").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();
				}
			});
			
			

			
		

	 	});

</script>


</html>