<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../css/demo.css" />
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">

	</head>
	<style type="text/css">
		.orderContract {
			font-family: "PingFang SC" !important;
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 10px;
		}
		
		.btns {
			float: right;
		}
		
		label {
			padding: 0 !important;
			margin-left: 20px;
		}
		
		.btns button,
		.find,
		.import {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 90px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
			font-size: 9pt;
		}
		
		.find {
			width: 76px;
		}
		
		.orderContract_header {
			margin-bottom: 8px;
		}
		
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		
		.cleardata{
			cursor: pointer;
		}
		
		.cleardata1{
			cursor: pointer;
		}
		
				.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
		.layui-inline{
			margin-top: 10px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../css/same.css" />

	<body>
		<div class="selectStockReturn">
			<div class="layui-tab">
				<div class="orderContract_header">
					<div class="inputs" style="margin: 0 25PX;">

						<div class="layui-inline" style="margin-top: 18px;">
							<div class="layui-input-inline">
								<input autocomplete="off" class="layui-input seachContent" placeholder="请输入关键字" type="text" style="width: 240px;margin-left: 0;">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: 18px;">
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="btns" style="margin-top: 18px;" style="position: relative;">
						<button class="layui-btn importData"  data-type="getimportData" >导入</button>
				
						</div>
					</div>

				</div>
				<table id="orderContract" lay-filter="demo"></table>
			</div>
		</div>
		
	<input class="layui-input warehouseId" type="hidden" value="">
	<input class="layui-input productIds" type="hidden" value="">

	</body>
	<script src="../../plugins/layui/layui.js"></script>
	<script src="../../js/public.js"></script>

	<script>
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			var laypage = layui.laypage;
			

			
			var limit = 50;
			var curpage = 1;
			var count;
	
		//单元格被编辑事件 产品数量计算
		table.on('edit(demo)', function(obj){ 
		if(obj.field == "outcount"){

				var realstockcount = obj.data.realcount; // 实库数量

				var getValue = obj.value; //出库数量
			
			
		 		if(getValue > realstockcount){
		 			parent.layer.open({
						title: "提示",
						content: '该产品出库数量大于实库数量!',
						zIndex: parent.layer.zIndex //重点1,
						,
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					getValue = realstockcount;
		 		}
		 		
				$(this).val(getValue);

				return;
			}


		});		

			function orderInfo(data1) {
				//展示已知数据
				table.render({
					elem: '#orderContract',
					data: data1,
					height: "full-105",
					cellMinWidth: "1000",
					id: "idTest",
					cols: [
						[ //标题栏
							 {
								checkbox: true,
								LAY_CHECKED: false,
								width: 40,
							}, {
								field: 'producename',
								title: '产品名称',
								minWidth: 200,
							}, {
								field: 'realcount',
								title: '实库',
								minWidth: 80,
							}, {
								field: 'outcount',
								title: '还出',
								style: "color:#2D89DD",

								edit: 'text',
								minWidth: 80
							}, {
								field: 'manufacturer',
								title: '厂家',
								minWidth: 150
							}, {
								field: 'danwei',
								title: '规格',
								minWidth: 100,
							}, {
								field: 'producemodel',
								title: '型号',
								minWidth: 100,
							}, {
								field: 'producenum',
								title: '编号',
								minWidth: 100,
							}, {
								field: 'producecode',
								title: '主条码',
								minWidth: 100,
							}, {
								field: 'producesubbarcode',
								title: '副条码',
								minWidth: 100,
							}, {
								field: 'produceunit',
								title: '单位',
								minWidth: 100,
							}, {
								field: 'iots',
								title: '批号',
								minWidth: 100,
							}, {
								field: 'productiondate',
								title: '生成日期',
								minWidth: 100,
							}, {
								field: 'indate',
								title: '有效期',
								minWidth: 100,
							},{
								field: 'areaname',
								title: '货区',
								minWidth: 150,
							}
						]
					],
					skin: 'row' //表格风格
						,
					even: true,
					limit: limit
				});
			}

			function orderData(jumpFlag) {
				
				var produceids =  sessionStorage.productIds;;		
				
				
				var warehouseId = sessionStorage.warehouseID;
				
				
				var seachContent = $(".seachContent").val();	
			
				$.ajax({
					type: "get",
					url:  localStorage.serIp + "/WebGetStoreReportInfoByProIDList?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'groupCompanyId': localStorage.groupcompanyid,
						'database': localStorage.database,
						"txtCondition" :seachContent,
						"targetstockId":warehouseId,
						"fatherId" : "",
						"produceid" : produceids
		
					},
					success: function(res) {

						var orderData = JSON.parse(res);
						count = orderData.count;
						var data = JSON.parse(orderData.data)
//						console.log(data)
						orderInfo(data, limit);
						
						
						if(jumpFlag) {
							order_pages();
						}
					}
				});
			}
			
			//分页
			function order_pages() {
				laypage.render({
					elem: 'orderContract', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj) {
						curpage = obj.curr;
						limit = obj.limit;
						orderData(false);
					}
				})
			}
			
					
			orderData(true);
				

			
			$("body").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();
				}
			});
		

		
			$(".find").click(function() {
				orderData(true);
			})
			
	


			$('.importData').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
			

			var active = {
				getimportData: function() { //获取选中数据
					var checkStatus = table.checkStatus('idTest'),
						data = checkStatus.data;
						
	
					
					
					if(data.length >0) {
						if(sessionStorage.instockDiaoDanData) {
							sessionStorage.removeItem('selectStockReturnData');
						}
						sessionStorage.selectStockReturnData = JSON.stringify(data);
					
					
						parent.layer.open({
							title: "提示",
							content: '导入成功',
							zIndex: parent.layer.zIndex, //重点1,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
								var  iframeName = $(".iframeName").val();
						  
							},
							  end: function(){  
					  			$(".productIds").val("");	
							    $(".warehouseId").val("");	
                    			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
								parent.layer.close(index); //再执行关闭     
                  			  }  
						});

					}else{
					parent.layer.open({
							title: "提示",
							content: '请选择数据！',
							zIndex: parent.layer.zIndex //重点1
						,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return;
					}
				

				}
			};

			
		});
	</script>
	<script src="../../js/jquery.js" type="text/javascript"></script>


</html>