<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>盘盈盘亏</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="../../../css/qk/custom_style.css">

		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.common.css">
		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.light.css">
		
	</head>
	<style>
		
.style_show{
	color: #2D89DD;
}

		.dx-toolbar{
			display: none;
		}
			.dx-datagrid-rowsview .dx-selection.dx-row>td {
		background-color: yellow!important;
	}
		button {
				    padding: 0;
				    cursor: pointer;
				    border: none;
				    width: 90px;
				    height: 30px!important;
				    text-align: center;
				    line-height: 30px !important;
				    border-radius: 2px;
				    background-color: #2D89DD;
				    color: #FFFFFF;
				    margin-left: 8px;
				}
				
					.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select{
			padding: 0;
			width: 45px; 
			min-width: 45px; 
			max-width: 45px;
	}
		
	.dx-datagrid-table .dx-row .dx-command-select{
			width: 45px; 
			min-width: 45px; 
			max-width: 45px;
	}
	
	       .totalInfo{
	  width: 100px;
	  height: 20px;
	  float: left;
	  margin-top: 13px;
}
.layui-laypage-limits {
	  font-size: 12px;
	  display: none;
	  margin-top: 13px;
  }
  #lay-ignore {
	height: 25px;
    width: 60px;
  }

  	div.cs_result_area div.pagination li {
		margin: 0 5px !important;
	}
	nt-size: 12px;
	
	    
	.dx-datagrid-rowsview .dx-selection.dx-row>td {
		background-color: yellow!important;
	}
	
	
		.panyinDianji {
			position: absolute;
			top: 27%;
			float: right;
			width: 30px;
			text-align: center;
			padding: 3px 3px;
			line-height: 20px;
			right: 0px;
			font-size: 9pt;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background-color: #2D89DD;
			color: white;
			cursor: pointer;
			z-index: 9;
		}
		
		.panykuiDianji{
				position: absolute;
			top: 75%;
			float: right;
			width: 30px;
			text-align: center;
			padding: 3px 3px;
			line-height: 20px;
			right: 0px;
			font-size: 9pt;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background-color: #2D89DD;
			color: white;
			cursor: pointer;
			z-index: 9;
		}
		
		.order {
			width: 90%;
			height: 97%;
			border: 1px solid #CCCCCC;
			position: absolute;
			bottom: 0px;
			right: 0px;
			z-index: 99999999999;
			background-color: #FFFFFF;
			display: none;
		}
		


.layui-input-inline, .layui-input-inline input, .layui-input-inline label, .layui-input-inline select {
    line-height: 28px !important;
    height: 28px !important;
    min-height: 28px !important;
}
	</style>
	

	<body>
		<div class="panel-content" id="profitLossIid">
			<div class="layui-tab">
				
				
				
				<div class="panel_header">
					
					<div class="inputs" style="text-align: right;">
							
						<!--<div style="display: inline-block;height: auto;margin-bottom: 0px;width: 82%;">
							<div class="layui-inline" style="width: 100%;text-align: center;">
								
								
							</div>
							
						</div>-->
						
						<!--<div class="btns">-->
							<button class="layui-btn exceport" style="width: 90px;margin: 0px auto;padding: 0px;">导出明细</button>
							<button class="layui-btn finishCheck" style="width: 90px;margin: 0px auto;padding: 0px;">生成单据</button>
							<!--<ul class="action" style="right: 0;">
								<li>
									<a class="jianjishijian" data-type="stockExport" >完成判断生成单据</a>
								</li>
								
								<li>
									<a class="jianjishijian modelup" data-type="shipanImport">实盘导入</a>
								</li>
								
								<input type="file" id="modelup" style="display: none;"/>

							
							</ul>-->
						<!--</div>-->
						
					</div>

				</div>
				
				
				<div style="width: 100%;height: 100%;margin: 0px;">
					
					<div style="width: 100%;height: 50%;" class="inventoryProfit">
						<div style="height: 33px;">
							<div style="float: left;height: 33px;text-align: center;vertical-align: middle;line-height: 33px;">
								<!--<span style="display: inline-block;margin-right: 15px;">盘盈</span>-->
								已盘盈数:<span style="display: inline-block;font-size: 12pt;" class="yipanProfitTotal">0</span>/盘盈总数:
								<span style="display: inline-block;;font-size: 12pt;" class="panProfitTotal">0</span>
							</div>
							
							<div style="float: right;height: 33px;text-align: center;vertical-align: middle;right: 0px;">
<!--																		<button class="layui-btn"  id="scanCode">扫码盘盈</button>
-->
									<button class="layui-btn moreAction">更多操作</button>
									<ul class="action" style="right: 20px;display: none;">
										
						
										
										
										<li id="deleteProductId">
											<a class="deleteProfitProduct">删除产品</a>
										</li>
									
										
										</ul>
									</div>
							
						</div>
						
						<div>
							<table >
									<div id="gridContainer1"></div>
								</table>
						
						</div>
					</div>
					
					
					<div class="panyinDianji">
						
						<div>
							<div>盘</div>
							<div>盈 </div>
							<!--<div>数</div>-->
						
						</div>
						
						<!--<div style="width: 100%;margin-top: 5px;">
						
						<div style="float: left;width: 26px;" class="panyinDianji">
								盘盈
						</div>
							<div style="float: right;width: 26px;" class="panykuiDianji">
								盘亏
						</div>-->
								
						</div>
						
						
					<div class="panykuiDianji">
						
						<div>
							<div>盘</div>
							<div>亏</div>
						
						</div>
						
					
								
						</div>
					
					</div>
					<div style="width: 100%;height: 50%;margin-top: 10px;" class="inventoryLoss">
						<div style="height: 33px;">
							<div style="float: left;height: 33px;text-align: center;vertical-align: middle;line-height: 33px;">
								<!--<span style="display: inline-block;margin-right: 15px;">盘亏</span>-->
								已盘亏数:<span style="display: inline-block;font-size: 12pt;" class="yipanLossTotal">0</span>/盘亏总数:
								<span style="display: inline-block;;font-size: 12pt;" class="panLossTotal">0</span>
							</div>
							
							<div style="float: right;height: 33px;text-align: center;vertical-align: middle;right: 0px;">
<!--																	<button class="layui-btn"  id="selecStockId">实库盘亏</button>
-->
									<button class="layui-btn moreAction1">更多操作</button>
									<ul class="action1" style="right: 20px;">
										
						
										
										
										<li>
											<a class="deletelossProduct">删除产品</a>
										</li>
									
										
										</ul>
									</div>
							
						</div>
						
						<div>
							<table>
									<div id="gridContainer2"></div>
								</table>
						
						</div>
					</div>
					</div>
				</div>
				
					<div class="order">
					
					<div id="publicFindId" style="width: 100%;margin-bottom: 10px;">
						<div class="layui-inline" style="margin-top: 10px;">
							<div class="layui-input-inline">
								<input autocomplete="off" class="layui-input seachContent" type="text" placeholder="请输入关键字" style="margin-left: 14px;width: 240px;">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: 10px;" >
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="layui-inline" style="margin-top: 10px;text-align: right;float: right;padding-right: 15px;" >
							
						<button class="layui-btn"  id="selecPanying">选择盘盈</button>
						<button class="layui-btn"  id="selecStockId">实库盘亏</button>
						<button class="layui-btn"  id="scanCode">扫码盘盈</button>
</div>
					</div>
					
					<div style="width: 100%;">
							<div id="gridContainer3"></div>
					</div>
					
							<div id="footerPageId" style="position: relative;height: 35px;padding-top: 10px;"></div>

				</div>	
				
				
			</div>
		</div>
		<input type="hidden" value="" class="pandianDanHanid"/>

	</body>
	<script src="../../../plugins/layui/layui.js"></script>
					<!-- 分页插件 -->
					
	<script src="../../../js/public.js"></script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script src="../../../devexpresslibrary/js/dx.all.js.18.2.js"></script>

	<script src="../../../devexpresslibrary/js/pagination/jquery.pagination.js"></script>
	<script src="../../../devexpresslibrary/js/pagination/highlight.min.js"></script>
	<script>
		var  jiazaiIndex;
		var targetstockid = "";
		var areaid = "";
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laypage = layui.laypage;

			var inventoryProfitDataInfo = [];
			var inventoryLossDataInfo=[];
//			var  h = ($(document.body).height()- 140) / 2 ;//浏览器当前窗口文档body的高度
			
			var myDate = new Date();
			
			var limit = 50;
			var curpage = 1;
			var count;	
			
			var ddData =[];

			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
			
			function initData(){
	
				
				$.ajax({
					type: "get",
					url:  localStorage.serIp  +"/WebGetProfitAndLossesCount?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid,
						'orderNum':sessionStorage.pandianDanHanid,

					},
					success: function(res) {
						
		
						var data = JSON.parse(res);
						
				
						$(".panLossTotal").text(data.lossescount);
						
						$(".panProfitTotal").text(data.profitcount);

									
					},
					error: function(res) {
							parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
					}
				});
			}
			
			initData();
			
			
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			
			$('.moreAction1').hover(function() {
				$(".action1").show();
			}, function() {
				$(".action1").hide();
			});
			$('.action1').hover(function() {
				$(".action1").show();
			}, function() {
				$(".action1").hide();
			});
			
			
		var a = true;
		var pandianType;
		var selectedArray=[];
	
		$(".panyinDianji").click(function() {
				if($(".panProfitTotal").text() == "0"){
					return;
				}
				
			
				$("#selecStockId").css("display","none");
				$("#selecPanying").css("display","inline-block")
				$("#scanCode").css("display","inline-block")
				pandianType = 0;
				if(a) {
					getDingdanData(true)
					$(".order").css("display","block");
					$(".panyinDianji").css("right", $(".order").width());
				} else {
					$(".order").css("display","none");
					$(".panyinDianji").css("right", 0);
				}

				a = !a;
			})
		
		
		$(".panykuiDianji").click(function() {
				if($(".panLossTotal").text() == "0"){
					return;
				}
				
				$("#selecStockId").css("display","inline-block");
				$("#scanCode").css("display","none")
				$("#selecPanying").css("display","none")
			pandianType = 1;
				if(a) {
					getDingdanData(true)
					$(".order").css("display","block");
					$(".panykuiDianji").css("right", $(".order").width());
				} else {
					$(".order").css("display","none");
					$(".panykuiDianji").css("right", 0);
				}

				a = !a;
			})
		
			
			var profitData = [];var lossData = [];
			
			//盘盈删除
			$(".deleteProfitProduct").click(function(){
				if(ProfitProductDataGrid.getSelectedRowKeys().length == 0){
				parent.layer.open({
							title: "提示",
							content: '请选择盘盈产品!',
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
					
						return;
				}
				
					var  idstr = "";
					for (var i = 0; i < panyingSelectData.length; i++) {
							idstr += "'" + panyingSelectData[i].temp_id + "'";

							if ((i + 1) != panyingSelectData.length) {
								idstr += ",";
							}
					}
					
				
						parent.layer.confirm('确定删除吗？', {
							icon: 3,
							zIndex: parent.layer.zIndex,//重点1
							title: '删除'
						}, function (index) {
							$.ajax({
								type: "get",
								url: localStorage.serIp + "/WebDeleteTempinventoryinandouttable?jsoncallback=?",
								async: true,
								dataType: 'jsonp',
								data: {
									"userId": localStorage.userId,
									"userPw": localStorage.userPw,
									'database': localStorage.database,
									'idlist': idstr
								},
								success: function (res) {
									var data = JSON.parse(res);
										
									if(data.ResultValue == "1"){
										 inventoryProfit();
											parent.layer.open({
												title: "提示",
												content: '删除成功!',
												zIndex: parent.layer.zIndex, //重点1,
												success: function(layero) {
												parent.layer.setTop(layero); //重点2
										 		
												}
											});
		
											
										}
										
										if(data.ResultValue == "0")
										{
										
											parent.layer.open({
												title: "提示",
												content: "服务器提出一个问题!",
												zIndex: parent.layer.zIndex ,//重点1,
												success: function(layero) {
													parent.layer.setTop(layero); //重点2
												
												}
											});
										}
							
									parent.layer.close(index);
								}
							});
						});
						
						
//				var getSelectedRowKeysData = ProfitProductDataGrid.getSelectedRowKeys();
//          	
//          	profitData = quchongByPandian(profitData,getSelectedRowKeysData);
//         
//      	  	inventoryProfitData(profitData);
			})

			
			//盘亏删除
			$(".deletelossProduct").click(function(){
				if(inventoryLossDataGrid.getSelectedRowKeys().length == 0){
				parent.layer.open({
							title: "提示",
							content: '请选择盘亏产品!',
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
					
						return;
				}
				
					var  idstr = "";
					for (var i = 0; i < pankuiSelectData.length; i++) {
							idstr += "'" + pankuiSelectData[i].temp_id + "'";

							if ((i + 1) != pankuiSelectData.length) {
								idstr += ",";
							}
					}
					
				
						parent.layer.confirm('确定删除吗？', {
							icon: 3,
							zIndex: parent.layer.zIndex,//重点1
							title: '删除'
						}, function (index) {
							$.ajax({
								type: "get",
								url: localStorage.serIp + "/WebDeleteTempinventoryinandouttable?jsoncallback=?",
								async: true,
								dataType: 'jsonp',
								data: {
									"userId": localStorage.userId,
									"userPw": localStorage.userPw,
									'database': localStorage.database,
									'idlist': idstr
								},
								success: function (res) {
									var data = JSON.parse(res);
										
									if(data.ResultValue == "1"){
										 inventoryLoss();
											parent.layer.open({
												title: "提示",
												content: '删除成功!',
												zIndex: parent.layer.zIndex, //重点1,
												success: function(layero) {
												parent.layer.setTop(layero); //重点2
										 		
												}
											});
		
											
										}
										
										if(data.ResultValue == "0")
										{
										
											parent.layer.open({
												title: "提示",
												content: "服务器提出一个问题!",
												zIndex: parent.layer.zIndex ,//重点1,
												success: function(layero) {
													parent.layer.setTop(layero); //重点2
												
												}
											});
										}
							
									parent.layer.close(index);
								}
							});
						});
				

			})

			
			
			//选择库存
			$("#selecStockId").click(function(){
				
				if(selectedArray.length != 1){
						parent.layer.open({
							title: "提示",
							content: '请选择一条记录!',
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						
						return
				}
				
					
		
				
				if(sessionStorage.selectedArray || sessionStorage.selectedArray!= "[]") {
					sessionStorage.removeItem('selectedArray');
				}
				
	
			 	sessionStorage.selectedArray = JSON.stringify(selectedArray);
				sessionStorage.inventoryLossDataInfo = JSON.stringify(inventoryLossDataInfo);


				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">库存列表</span><span style="margin-left:20px">【已盘亏数:<span style="font-size:12pt">'+selectedArray[0].alreadycount+'</span>/盘亏总数:<span style="font-size:12pt">'+selectedArray[0].producecount+'</span>】</span>',
					area: ['85%', '90%'],
					offset: "rb",
					content: 'views/public/stock/choicesStockProducPandianOrderList.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
						var body = layer.getChildFrame('body', 'index');

						paentIfarame = layero.find("iframe")[0].contentWindow.document;
						
				
					},
		
					end: function(){  
//             		if(sessionStorage.newData) {
//						if(sessionStorage.newData.length>0 && sessionStorage.newData!= "[]"){
//
//							var productDatas = JSON.parse(sessionStorage.newData);
//						
//						
//												
//						$.each(productDatas,function(index,obj){
//							var repeat = false;
//							var index = 0;
//							$.each(lossData,function(index1,obj1){
//							
//								 if ((obj.produceid == obj1.produceid)&&(obj.producecode == obj1.producecode) && (obj.producename == obj1.producename)&&(obj.manufacturer == obj1.manufacturer)) {
//						           		if ((obj.producesubbarcode == obj1.producesubbarcode)&&(obj.iots == obj1.iots)&&(obj.productiondate == obj1.productiondate)) {
//						            	 		if ((obj.indate == obj1.indate) &&(obj.producenum == obj1.producenum)&&(obj.producemodel == obj1.producemodel)&&(obj.danwei == obj1.danwei)) {
//								            	 repeat = true;
//								            	 index = index1;
//								               	return false; 
//						              	 }
//						               }
//						          }
//						
//								 
//							})
//							
//							
//									 
//							if(!repeat){
//								
//									var id = randomString();
//									obj.id = id;
//								 	lossData.unshift(obj);
//							 }
//								 
//								 
//							
//							
//						})
//							
//							
//							inventoryLossData(lossData,lossData[0].id);
//		
//		
//							sessionStorage.removeItem('newData');		
//						} else {
//							layer.closeAll();
//						}
//					}
           		
           		    	getDingdanData(true);
           		    	inventoryLoss();
       		    		if(sessionStorage.selectedArray || sessionStorage.selectedArray!= "[]") {
							sessionStorage.removeItem('selectedArray');
						}
					
					}
				});
			
			
		
			})
			
			
			
			//扫码盘点
		$("#scanCode").click(function() {
				
			sessionStorage.currentIndex =  parent.layer.getFrameIndex(window.name);
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">扫码盘盈</span>',
					area: ['700px', '90%'],
					offset: "rb",
					content: 'views/public/scanCode/panDianScanCode.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero,index) {
						parent.layer.setTop(layero); //重点2
						
						
					}	,
					end: function(layero,index) {
						
						if(sessionStorage.currentIndex){
							sessionStorage.removeItem("currentIndex");
						}
					}
				});
			});
			
			
		
		$("#selecPanying").click(function() {
			
					
				if(selectedArray.length == 0){
						parent.layer.open({
							title: "提示",
							content: '请选择一条记录!',
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						
						return
				}
				
				examinSave(selectedArray)
					
			
				
				
//				$.each(selectedArray,function(index,obj){
//					obj.producecode = "";
//					obj.producesubbarcode = "";
//					obj.iots = "";
//					obj.indate = "";
//					obj.productiondate = "";
//					var repeat = false;
//					var index = 0;
//					$.each(profitData,function(index1,obj1){
//					
//						 if ((obj.produceid == obj1.produceid)&&(obj.producecode == obj1.producecode) && (obj.producename == obj1.producename)&&(obj.manufacturer == obj1.manufacturer)) {
//				           		if ((obj.producesubbarcode == obj1.producesubbarcode)&&(obj.iots == obj1.iots)&&(obj.productiondate == obj1.productiondate)) {
//				            	 		if ((obj.indate == obj1.indate) &&(obj.producenum == obj1.producenum)&&(obj.producemodel == obj1.producemodel)&&(obj.danwei == obj1.danwei)) {
//						            	 repeat = true;
//						            	 index = index1;
//						               	return false; 
//				              	 }
//				               }
//				          }
//				
//						 
//					})
//					
//					
//							 
//					if(!repeat){
//						
//							var id = randomString();
//							obj.id = id;
//						 	profitData.unshift(obj);
//					 }
//						 
//						 
//					
//					
//				})
			
				
//				inventoryProfitData(profitData,profitData[0].id);
			
		});
		
		
		
		function examinSave(selectData){
				parent.layer.open({
					  type: 3, 
					  zIndex: parent.layer.zIndex, //重点1
					  success: function(layero, index){
					  		jiazaiIndex = index;
			  			}
					});
			
					$.ajax({
						type: "POST",
						url: localStorage.serIp + "/WebSaveTempinventoryinandouttable",
						async: true,
						dataType: 'json',
						crossDomain: true,
						contentType:'application/json; charset=utf-8',
						data:JSON.stringify({
							"userId": localStorage.userId,
							"userPw": localStorage.userPw,
							'database': localStorage.database,
							'groupCompanyId': localStorage.groupcompanyid,
							'inventorytype':1,//盘盈
							'ordernum':sessionStorage.pandianDanHanid,
							'slave': JSON.stringify(selectData),
						}),
						success: function(res) {
					    	parent.layer.close(jiazaiIndex);
							var data = JSON.parse(res);
							
							if(data.ResultValue == "1"){
								 inventoryProfit();
								 getDingdanData(true);
									parent.layer.open({
										title: "提示",
										content: '保存成功!',
										zIndex: parent.layer.zIndex, //重点1,
										success: function(layero) {
										parent.layer.setTop(layero); //重点2
								  
										},
										end: function(){  
				           
				          			  }  
									});
									
									

									
								}
								
								if(data.ResultValue == "0")
								{
								
									parent.layer.open({
										title: "提示",
										content: "服务器提出一个问题!",
										zIndex: parent.layer.zIndex ,//重点1,
										success: function(layero) {
											parent.layer.setTop(layero); //重点2
										
										}
									});
								}
							
							
							
						}
						,error: function(res) {
							parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
		
						}
					});
		}
			
			
			
			$(function(){
					
				scanCodeInStore =function scanCodeRetrunData(data){
	
				var repeat = false;
							var index = "";
								
					$.each(ddData,function(index1,obj){
						
						
							
							
						 if ((obj.producename == data[0].producename)&&(obj.manufacturer == data[0].manufacturer)) {
				            	if ((obj.producenum == data[0].producenum)&&(obj.producemodel == data[0].producemodel)&&(obj.danwei == data[0].danwei)) {
						            	 repeat = true;
						            	 index = obj.out_id;
						               	return false; 
				              	 }
				          }
				
					})
					
									
								 
						
							
							
							 
					if(repeat){
						
						 data[0].out_id = index;
						 
						 
						 examinSave(data);
					
					 }else{
					 			parent.layer.open({
										title: "提示",
										content: "不属于盘盈产品",
										zIndex: parent.layer.zIndex ,//重点1,
										success: function(layero) {
											parent.layer.setTop(layero); //重点2
										
										}
									});
					 }
			
			
			
					
			
								
//								if( profitData.length > 0){
//									for(var i=0;i< profitData.length;i++){
//										if((profitData[i].produceid == data[0].produceid) && (profitData[i].producecode == data[0].producecode))
//										{
//											
//											if(profitData[i].producesubbarcode == data[0].producesubbarcode){
//												if(profitData[i].iots == data[0].iots){
//													if(profitData[i].productiondate === data[0].productionDate){
//														if(profitData[i].indate == data[0].indate){
//															 index = i;
//															 flagtwo = true;
//															 break;
//														}
//													}
//												}
//											}
//											
//										
//										}
//								
//									}
//									
//											
//								if(flagtwo){
//													
//			
//										var count1  = eval(profitData[index].producecount) +eval(data[0].producecount);
//										
//										profitData[index].producecount = count1;
//										inventoryProfitData(profitData,profitData[index].id);
//
//									
//								}else{
//									
//									var id = randomString();
//									data[0].id = id;
//									profitData.unshift(data[0]);
//									
//									index = 0;
//									
//									inventoryProfitData(profitData,id);
//								}
//								
// 	   	 	
// 	   	 	
//							}else{	
//									var id = randomString();
//									data[0].id = id;
//									
//									profitData.unshift(data[0]);
//
//									
//									inventoryProfitData(profitData,id);
//									
//							}
//					
						

				}
			
			})
			
			
			
			
			
			var limit1 = 20;
			var curpage1 = 1;
			var count1 = 0;

			var limit2 = 50;
			var curpage2 = 1;
			var count2 = 0;
			
			
			var panyingSelectData = [];
			function inventoryProfit() {
							
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetTempinventoryinandouttable?jsoncallback=?",
					dataType: 'json',
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'out_id': "",
						'ordernum':sessionStorage.pandianDanHanid,
						'database': localStorage.database,
						'inventorytype' : 1,
						'txtCondition': "",

					},
					success: function(res) {
						var desData = JSON.parse(res);
						
						inventoryProfitData(desData)
					}
				});

			}
			
							


				 // 根据可视区的高度判断
			 var viewHeight = $(window).height();
			if (viewHeight == 855) {
				$('#gridContainer1').css('height', 709 + 'px'); //855*0.81
				$('#gridContainer2').css('height', 752 + 'px'); //855*0.81

			} else {
				$('#gridContainer1').css('height', viewHeight * 0.39 + 'px');
				$('#gridContainer2').css('height', viewHeight * 0.39 + 'px');
				$('#gridContainer3').css('height', viewHeight * 0.82 + 'px');
			}
			

	function inventoryProfitData(data,id) {
		 	var inventoryProfitDataStore = new DevExpress.data.ArrayStore({
		        data: data
		    });
		    
//	    	var yipanTotalCount = 0;
//	    	
//			  $.each(data,function(i,v,arr){
//					yipanTotalCount += eval(v.realstockcount);
//
//			  })
//			
//			
//			$(".yipanProfitTotal").text("");
//			$(".yipanProfitTotal").text(yipanTotalCount)
			
		 ProfitProductDataGrid = $("#gridContainer1").dxDataGrid({
			dataSource: data,
			allowColumnReordering: true,	
			editing: {
					mode: 'cell',
					allowUpdating: true,
				},
			showBorders: true,
            keyExpr: "id",
           columnChooser: {
	            enabled: false,
				mode: "dragAndDrop",
			},
			cacheEnabled:true,
            headerFilter: {
                visible: false
            },
            sorting: {
                mode: "multiple"//none
            },
            filterRow: {
                visible: false,
            },
			paging: {
				pageSize: 200,
            },
			selection: {
                mode: "multiple",
            },
			allowColumnResizing: true,
			columnFixing: {
				enabled: false
			},
			grouping: {
	            contextMenuEnabled: false,
	            expandMode: "rowClick"
	        },   
	        groupPanel: {
	            visible: false
			},
			columns: [{
				dataField: "producename",
                caption: "产品名称",
				allowEditing: false,	
				cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},{
				dataField: "manufacturer",
                caption: "品牌",width: 80,
					allowEditing: false,cssClass:"style_show",
                	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			}
			,{
				dataField: "producenum",
                caption: "产品编号",	allowEditing: false,	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},
			{
				dataField: "producecode",
                caption: "主条码",	allowEditing: false,	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},
			{
                dataField: "producesubbarcode",	allowEditing: false,
				caption: "副条码",	cellTemplate:function(container,options){
					if(options.value == null || options.value == ''){
							$("<div>")
							.append($("<div></div>"))
							.appendTo(container);
						}else{
							$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
						}
					}
             
			},
			{
                dataField: "iots",	allowEditing: false,
				caption: "批号",	cellTemplate:function(container,options){
						if(options.value == null || options.value == ''){
							$("<div>")
							.append($("<div></div>"))
							.appendTo(container);
						}else{
							$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
						}
					}
			}
			,
			{
                dataField: 'productiondate',
                width: 90,
				caption: "生产日期",
				format: "yyyy-MM-dd",	allowEditing: false,
				dataType: "date",	
				cellTemplate:function(container,options){
						if(options.value == null || options.value == ''){
							$("<div>")
							.append($("<div></div>"))
							.appendTo(container);
						}else{
							$("<div>")
							.append($("<div> " + options.text + "</div>"))
							.appendTo(container);
						}
					}
			},
			{
                dataField: "indate",
                width: 90,
				caption: "有效期",
				format: "yyyy-MM-dd",	allowEditing: false,
				dataType: "date",	cellTemplate:function(container,options){
						if(options.value == null || options.value == ''){
							$("<div>")
							.append($("<div></div>"))
							.appendTo(container);
						}else{
							$("<div>")
							.append($("<div> " + options.text + "</div>"))
							.appendTo(container);
						}
					}
			},	{
                dataField: "danwei",  width: 120,
				caption: "产品规格",	allowEditing: false,	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
			{
                dataField: "producemodel",  width: 100,
				caption: "型号",	allowEditing: false,	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
//			{
//              dataField: "realcost",
//				fixed: true,
//				fixedPosition: 'right',
//				format: {
//						type: "fixedPoint",
//						precision: 3
//					},
//              width: 100,cssClass:"style_show",
//				caption: "含税成本价",alignment:"center",
//					cellTemplate:function(container,options){
//						var str = options.value;
//						if(options.value == "" || typeof(options.value) == "undefined"){
//							str = 0.000;
//						}
//						
//						$("<div>")
//							.append($("<div> " + str+ "</div>"))
//							.appendTo(container);
//					}
//			},
			{
                dataField: "producecount",
				fixed: true,cssClass:"style_show",
				fixedPosition: 'right',allowEditing: false,
                width: 100,	dataType: "number",	validationRules: [{
						type: "pattern",
						pattern: /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/,
						message: "数量必须为正"
					}],
				caption: "实盘数",alignment:"center",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
			
//			{
//              dataField: "totalcost",
//				fixed: true,cssClass:"style_show",
//				fixedPosition: 'right',
//				format: {
//						type: "fixedPoint",
//						precision: 2
//					},
//              width: 100,
//				caption: "小计",alignment:"center",	allowEditing: false,
//				calculateCellValue: function(rowData) {
//		           		if(rowData.realcost == "" || typeof(rowData.realcost) == "undefined"){
//							return 0.00;
//						}else{
//							return rowData.realcost * rowData.producecount;
//						}
//		                
//		          }
//			}
			],
			summary: {
            totalItems: [{
                    column: "producecount",
					summaryType: "sum",	
					customizeText: function(data) {
						
						var data = data.value;
						
						$(".yipanProfitTotal").text(eval(data))
						
                        return data;
                }
				
        
              }
			,{
                    column: "totalcost",
					summaryType: "sum",	 precision :2,valueFormat:"fixedPoint",
					customizeText: function(data) {
                        return Math.round(data.value * 100 ) / 100;
                }
				
              },

				
			]
		},
			onContentReady:function(e){
			    e.component.clearSelection();
			    
			 
			   	 e.component.selectRows(id, true);
			   
			
			
			  
			
		},
			onSelectionChanged:function(e){
				panyingSelectData = [];
				panyingSelectData = e.selectedRowsData;
				
            }

		}).dxDataGrid('instance');
	    
		
			
		}

			
		
			
						
		　$(document).on("focus",".dx-texteditor-input",function(){
　
		  $(this).select();
　　});
			

	
	
	
		function inventoryLoss() {
						
				
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetTempinventoryinandouttable?jsoncallback=?",  
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'out_id': "",
						'ordernum':sessionStorage.pandianDanHanid,
						'database': localStorage.database,
						'inventorytype' : 0,
						'txtCondition': "",
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);
						var data = JSON.parse(res)
						
						inventoryLossDataInfo = data;
						inventoryLossData(data)
					
			
                        
					}
				});
			}
	
	var pankuiSelectData = [];		
	inventoryLoss();
	inventoryProfit();
			
	function inventoryLossData(data,id) {
				
			var inventoryLossDataStore = new DevExpress.data.ArrayStore({
		        data: data
		    });
		    
	    	var yipanTotalCount = 0;
	    	
			  $.each(data,function(i,v,arr){
					yipanTotalCount += eval(v.realstockcount);

			  })
			
			
			$(".yipanLossTotal").text("");
			$(".yipanLossTotal").text(yipanTotalCount)
			
		 inventoryLossDataGrid = $("#gridContainer2").dxDataGrid({
			dataSource: data,
			allowColumnReordering: true,	
	editing: {
					mode: 'cell',
					allowUpdating: true,
				},
			showBorders: true,
            keyExpr: "id",
           columnChooser: {
	            enabled: false,
				mode: "dragAndDrop",
			},
			cacheEnabled:true,
            headerFilter: {
                visible: false
            },
            sorting: {
                mode: "multiple"//none
            },
            filterRow: {
                visible: false,
            },
			paging: {
				pageSize: 200,
            },
			selection: {
                mode: "multiple",
            },
			allowColumnResizing: true,
			columnFixing: {
				enabled: false
			},
			grouping: {
	            contextMenuEnabled: false,
	            expandMode: "rowClick"
	        },   
	        groupPanel: {
	            visible: false
			},
			columns: [{
				dataField: "producename",
                caption: "产品名称",	allowEditing: false,
				cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},{
				dataField: "manufacturer",
                caption: "品牌",	allowEditing: false,cssClass:"style_show",
				width: 80,	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			}
			,{
				dataField: "producenum",	allowEditing: false,
                caption: "产品编号",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},{
				dataField: "producecode",	allowEditing: false,
                caption: "主条码",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},
			{
                dataField: "producesubbarcode",	allowEditing: false,
				caption: "副条码",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
             
			},
			{
                dataField: "iots",	allowEditing: false,
				caption: "批号",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			}
			,
			{
                dataField: 'productiondate',
                width: 90,
				caption: "生产日期",	allowEditing: false,
				format: "yyyy-MM-dd",
				dataType: "date",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.text + "</div>"))
							.appendTo(container);
					}
			},
			{
                dataField: "indate",
                width: 90,
				caption: "有效期",	allowEditing: false,
				format: "yyyy-MM-dd",
				dataType: "date",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.text + "</div>"))
							.appendTo(container);
					}
			},	{
                dataField: "danwei",	allowEditing: false,
                width: 120,
				caption: "产品规格",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
			{
                dataField: "producemodel",
                width: 100,	allowEditing: false,
				caption: "型号",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
//			{
//              dataField: "realstockcount",
//				fixed: true,
//				fixedPosition: 'right',
//              width: 60,
//				caption: "账存数",alignment:"center",
//			},
			{
                dataField: "producecount",allowEditing: false,
				fixed: true,
				fixedPosition: 'right',cssClass:"style_show",
                width: 100,
				caption: "实盘数",alignment:"center",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
				},
				setCellValue: function (newData, value, currentRowData) { 
						var usefulcount = currentRowData.usefulcount;
						var shijivalue = value;
						if(value > usefulcount){
							 shijivalue = usefulcount
						}
						
						newData.producecount = shijivalue;
				}
			},
//			{
//              dataField: "chayicount",
//				fixed: true,
//				fixedPosition: 'right',
//              width: 60,
//				caption: "差异数",alignment:"center",
//			}
			],
			summary: {
            totalItems: [{
                    column: "producecount",
					summaryType: "sum",	customizeText: function(data) {
						
						var data = data.value;
						$(".yipanLossTotal").text( eval(data))
                        return data;
                }
				
              },
//            {
//                  column: "realcount",
//					summaryType: "sum",	customizeText: function(data) {
//						
//						var data = data.value;
//					
//                      return data;
//              }
//				
//             },
//            {
//                  column: "chayicount",
//					summaryType: "sum",	customizeText: function(data) {
//						
//						var data = data.value;
//					
//                      return data;
//              }
//				
//             }
				
			]
		},
			onSelectionChanged:function(e){
				pankuiSelectData =  e.selectedRowsData;
				
            }
			,
//			onContentReady:function(e){
//			    e.component.clearSelection();
//			    
//			 
//			   	 e.component.selectRows(id, true);
//			   
//			
//			
//			  
//			
//		},

		}).dxDataGrid('instance');
	
		
			
		
			}

			
			$(".find").click(function(){
					getDingdanData(true);
			})
			
			
								
			$("body").keydown(function(event) {
					if(event.keyCode == "13") { //keyCode=13是回车键
						$('.find').click();
	
					}
			});
			
		
		 
			function getDingdanData(jumpFlag) {
				
					parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
			
			
			
				var seachContent = $(".seachContent").val();
				var requestUrl =localStorage.serIp;
				if(pandianType == 0){  //0盘盈，1盘亏
					requestUrl += "/WebGetInventoryProfit?jsoncallback=?"
				}else{
					requestUrl += "/WebGetInventoryLosses?jsoncallback=?"
				}
			

				$.ajax({
					type: "get",
					url: requestUrl,
					async: true,
					dataType: 'json',
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						'txtCondition': seachContent,		
						'num' : limit2,
						'page':curpage2,
						'orderNum' : sessionStorage.pandianDanHanid

					},
					success: function(res) {
													parent.layer.close(jiazaiIndex);

						var desData = JSON.parse(res);
						count = desData.count;
						var data = JSON.parse(desData.data);
						ddData = data;
						dingdanData(data);
						
						if(jumpFlag) {
							public_pages();
						}
			
						
					}
				});


			}
			
		
			//分页
		function public_pages() {
				laypage.render({
					elem: 'footerPageId', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit2,
					curr: curpage2,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						curpage2 = obj.curr;
						limit2 = obj.limit;
						
						if(!first){
							getDingdanData(false);

						}
					}
				})
			}	

	function dingdanData(data) {
		 	var dingdanDataStore = new DevExpress.data.ArrayStore({
		        data: data
		    });
		    
	    	
			
		var  dingdanDataGrid = $("#gridContainer3").dxDataGrid({
			dataSource: data,
			allowColumnReordering: true,	

			showBorders: true,
            keyExpr: "id",
           columnChooser: {
	            enabled: false,
				mode: "dragAndDrop",
			},
			cacheEnabled:true,
            headerFilter: {
                visible: false
            },
            sorting: {
                mode: "multiple"//none
            },
            filterRow: {
                visible: false,
            },
			paging: {
				pageSize: 200,
            },
			selection: {
                mode: "multiple",
            },
			allowColumnResizing: true,
			columnFixing: {
				enabled: false
			},
			grouping: {
	            contextMenuEnabled: false,
	            expandMode: "rowClick"
	        },   
	        groupPanel: {
	            visible: false
			},
			columns: [{
				dataField: "producename",
                caption: "产品名称",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},{
				dataField: "manufacturer",cssClass:"style_show",width: 80,
                caption: "品牌",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			}
			,{
				dataField: "producenum",
                caption: "产品编号",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
                
			},
//			{
//				dataField: "producecode",
//              caption: "主条码",	cellTemplate:function(container,options){
//						$("<div>")
//							.append($("<div> " + options.value + "</div>"))
//							.appendTo(container);
//					}
//              
//			},
			{
                dataField: "danwei",
				caption: "产品规格",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},
			{
                dataField: "producemodel",
				caption: "型号",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					}
			},{
                dataField: "alreadycount",
				fixed: true,
				fixedPosition: 'right',cssClass:"style_show",
                width: 100,
				caption: "已盘亏数",alignment:"center",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					},
				headerCellTemplate: function(container) {
					//pandianType
					var str = "";
					if(pandianType == "0"){
						str = "已盘盈数";
					}else{
						str = "已盘亏数";
					}
					
                	container.append($("<div>"+str+"</div>"));
					
	       		 }
			},

			{
                dataField: "producecount",
				fixed: true,
				fixedPosition: 'right',
                width: 100,cssClass:"style_total_show",
				caption: "盘亏总数",alignment:"center",	cellTemplate:function(container,options){
						$("<div>")
							.append($("<div> " + options.value + "</div>"))
							.appendTo(container);
					},
				headerCellTemplate: function(container) {
					//pandianType
					var str = "";
					if(pandianType == "0"){
						str = "盈数总数";
					}else{
						str = "盘亏总数";
					}
					
                	container.append($("<div>"+str+"</div>"));
					
	       		 }
			},

			],
			summary: {
            totalItems: [{
                    column: "alreadycount",
					summaryType: "sum",	customizeText: function(data) {
						
						var data = data.value;
					
                        return data;
                }
				
              },{
                    column: "producecount",
					summaryType: "sum",	customizeText: function(data) {
						
						var data = data.value;
					
                        return data;
                }
				
              },

				
			]
		},
    
			  onCellClick:function(e){
			  	var caption = e.column.dataField
			    if(caption == 'alreadycount'){
			  		if(sessionStorage.out_id) {
						sessionStorage.removeItem('out_id');
					}	
					
					
					
				sessionStorage.out_id  = e.data.out_id;
				sessionStorage.inventorytype  = pandianType;
			  	parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">已盘明细</span>',
					area: ['85%', '90%'],
					offset: "rb",
					content: 'views/basicdataProtect/stock/public/yipanStockProduceList.html',
					zIndex: parent.layer.zIndex //重点1
						,
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
						var body = layer.getChildFrame('body', 'index');

						paentIfarame = layero.find("iframe")[0].contentWindow.document;
						
				
					},
		
					end: function(){  
//             		if(sessionStorage.newData) {
//						if(sessionStorage.newData.length>0 && sessionStorage.newData!= "[]"){
//
//							var productDatas = JSON.parse(sessionStorage.newData);
//						
//						
//												
//						$.each(productDatas,function(index,obj){
//							var repeat = false;
//							var index = 0;
//							$.each(lossData,function(index1,obj1){
//							
//								 if ((obj.produceid == obj1.produceid)&&(obj.producecode == obj1.producecode) && (obj.producename == obj1.producename)&&(obj.manufacturer == obj1.manufacturer)) {
//						           		if ((obj.producesubbarcode == obj1.producesubbarcode)&&(obj.iots == obj1.iots)&&(obj.productiondate == obj1.productiondate)) {
//						            	 		if ((obj.indate == obj1.indate) &&(obj.producenum == obj1.producenum)&&(obj.producemodel == obj1.producemodel)&&(obj.danwei == obj1.danwei)) {
//								            	 repeat = true;
//								            	 index = index1;
//								               	return false; 
//						              	 }
//						               }
//						          }
//						
//								 
//							})
//							
//							
//									 
//							if(repeat){
//
//								 	lossData.splice(index,(index + 1));
//							 }
//								 
//								 
//							
//							
//						})
//							
//							
//							inventoryLossData(lossData,lossData[0].id);
//		
//		
//							sessionStorage.removeItem('newData');		
//						} else {
//							layer.closeAll();
//						}
//					}
//         		
//         		    	getDingdanData(true);
       		    		if(sessionStorage.inventorytype) {
							sessionStorage.removeItem('inventorytype');
						}
       		    		
       		    		 if(sessionStorage.out_id) {
							sessionStorage.removeItem('out_id');
						}	
						getDingdanData(true);
						inventoryLoss();
				
					}
				});
			  			
			  			
			    }
			},
		onContentReady:function(e){


//						
//						if (pandianType == 0) {
//					
//							e.component.deleteColumn("已盘亏数");
//						
//						} 
                      			
			
		},
			onSelectionChanged:function(e){
				selectedArray = [];
				selectedArray = e.selectedRowsData;
				
            }

		}).dxDataGrid('instance');
	    
		
			
		}
			
			
			
			//完结并生成新单据
			
			$(".finishCheck").click(function(){
				
				
						var yipanProfitTotal = $(".yipanProfitTotal").text();
						var panProfitTotal = $(".panProfitTotal").text();
						if(eval(yipanProfitTotal) != eval(panProfitTotal)){
							parent.layer.open({
								title: "提示",
								content: "已盘盈数和盘盈总数不等!",
								zIndex: parent.layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
										
								}
							});
							return
						}
						
						
						var yipanLossTotal = $(".yipanLossTotal").text();
						var panLossTotal = $(".panLossTotal").text();
						if(eval(yipanLossTotal) !=  eval(panLossTotal)){
							parent.layer.open({
								title: "提示",
								content: "已盘亏数和盘亏总数不等!",
								zIndex: parent.layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
										
								}
							});
							return
						}

					
			
				
				
				saveAndExamine()
				
							
			});
			
			
		//导出全部
		$(".exceport").click(function(){
					    
		
				parent.layer.confirm('确定导出全部吗？', {
					icon: 3,
					zIndex: parent.layer.zIndex ,//重点1
					title: '导出全部'
				}, function(index) {
					
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1,
				  success: function(layero, index){
				  		jiazaiIndex = index;
					}
				});
				
				var seachContent = $(".seachContent").val();
			
		
				var timestamp=new Date().getTime();

				$.ajax({
					type: "get",
					url: localStorage.serImportIp + "/WebExportInventoryDetail?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'groupCompanyId': localStorage.groupcompanyid,
						'database': localStorage.database,
						'txtCondition': seachContent,
						'orderNum':sessionStorage.pandianDanHanid,
						'filename':"盘点明细"+timestamp+".xls"
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);
			
						var res = JSON.parse(res);
						if(res.ResultValue == '0') {
							
							parent.layer.open({
								title: "提示",
								content: '导出失败！',zIndex: parent.layer.zIndex //重点1
							});
							
							
						
								
					
						}else{
							
							var downurl =  "\\"+res.ResultValue
							while(true){
								var isExists=0;
								$.ajax({
									url:downurl,
									async:false,
									type:'HEAD',
									error:function(){
									isExists=0;
									
									},
									success:function(){
									isExists=1;
									
									}
								});
								
								
								if(isExists == 1){
									parent.layer.close(jiazaiIndex);
									window.location.href = downurl;	
			
									break;
								}
						
								
							}
							
							parent.layer.open({
								title: "提示",
								content: '导出成功！',zIndex: parent.layer.zIndex //重点1
									,
								success: function(layero,index) {
								parent.layer.setTop(layero); //重点2
//									window.location.href = url;	
							
								},
								
							});
							
								
						}
						
					},
					error: function(res) {
						parent.layer.close(jiazaiIndex);
						
					}
				});
					
				});
			})
		
		
		
		/*
			 * 生成单据
			 * @param: inSlave  盘盈
			 * @param: outSlave 盘亏
			 */
		
			function saveAndExamine(){
				
		
				
				parent.layer.confirm('请仔细确认盘点信息！确定结束盘点并生成单据？', {
							icon: 3,zIndex: parent.layer.zIndex //重点1
								,
							title: '提示'
					}, function(index11) {
						
												parent.layer.close(index11);

										
			var jiazaiIndex;
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1
				  success: function(layero, index){
				  		jiazaiIndex = index;
		  			}
				});
				
				$.each(profitData,function(i,v,arr){	
						v.qs = 1;
						
				 })
						
				$.each(lossData,function(i,v,arr){	
						v.qs = 1;
				 })	
				 
				
				
				$.ajax({
					type: "POST",
					url:  localStorage.serIp  +"/WebEndInventory",
					async: true,
					dataType: 'json',
					crossDomain: true,
					contentType:'application/json; charset=utf-8',
					data:JSON.stringify({
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid,
						'orderNum': sessionStorage.pandianDanHanid,
						'inSlave':JSON.stringify(profitData),
						'outSlave':JSON.stringify(lossData)
					}),
					success: function(res) {
						parent.layer.close(jiazaiIndex);
						var data = JSON.parse(res);
						
						if(data[0].ResultValue == "1"){
							
					
							var result = "盘点成功";
							parent.layer.open({
								title: "提示",
								content: result,
								zIndex: parent.layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
					
										
								},
									end: function(){  
			            			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
									parent.layer.close(index); //再执行关闭     
			          			  } 
								 
							});
							
					
						
							
						}
						if(data[0].ResultValue == "0")
						{
							result = "盘点失败";
							parent.layer.open({
								title: "提示",
								content: result,
								zIndex: parent.layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								
								}
							});
						}
						
						if(data[0].ResultValue == "2")
						{
								parent.layer.open({
								title: "提示",
								content: data[0].ResultItem,
								zIndex: parent.layer.zIndex //重点1
								
							});
						}	
										
						},
						error: function(res) {
							parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						}
				});
				
	
					},
					 function(index11) {
					 	
						parent.layer.close(index11);
					
	
					}
					);
					
	
				
			
			}
			
		
		
		
		
		});
		
		
		
	</script>
<script>
		function scanCodeInStoreData(data){

			scanCodeInStore(data)
	
		}
</script>
</html>
