<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>已完成列表</title>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
		</head>
		<style type="text/css">
		.purchase {
			font-family: "PingFang SC" !important;
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
			color: #232323 !important;
			/*margin: 0 20px;*/
			padding-top: 8px;
		}
		
		.btns {
			float: right;
			margin-top: 18px;
		}
		
		label {
			padding: 0 !important;
			margin-left: 0px;
		}
		
		.btns button,
		.find,
		.import {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
			font-size: 9pt;
		}
		
		.btns button {
			width: 90px;
		}
		
		.purchase_header {
			/*margin-top: -10px;*/
			margin-bottom: 8px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		
		
		
		.cs_container,
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
			
		.cleardata{
			cursor: pointer;
		}
		
		.cleardata1{
			cursor: pointer;
		}
		
		.layui-inline{
			margin-top: 10px;
		}
		</style>
		<link rel="stylesheet" type="text/css" href="../../../css/same.css" />
		
		<body>
		<div class="purchase">
			<div class="layui-tab">
				<div class="purchase_header">
				<div class="inputs" style="margin-left: 14px;margin-bottom: 8px;">
					<div style="width: 100%;height: auto;">	
					<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
									
								</select>
							</div>
					</div>
					
				
						<div class="layui-inline" style="margin-right: 15px;width: 308px;">
							<label class="layui-form-label" style="margin-right: 10px;">往来单位</label>
							<div id="append_group">
								<input autocomplete="off" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
						
					<div class="layui-inline" style="margin-right: 15px;width: 308px;">
					<label class="layui-form-label" style="margin-right: 10px;">业务员</label>
					<div id="append_sale">
						<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
					</div>
				</div>
	</div>
	
	
			<div style="width: 100%;height: auto;position: relative;margin-top: 8px;">

					<!--<div class="layui-inline"  style="margin-right: 15px;">
					<label class="layui-form-label">日期范围</label>
					<div class="layui-input-inline">
						<input autocomplete="off" id="completedate1" class="layui-input" type="text">
					</div>
					-
					<div class="layui-input-inline">
						<input autocomplete="off" id="completedate2" class="layui-input" type="text" style="margin-left: 0;">
					</div>
				</div>-->
		
		
						<div class="layui-inline" style="margin-right: 10px;">
					<div class="layui-input-inline">
						<input autocomplete="off" class="layui-input" type="text" placeholder="请输入关键字" style="margin-left: 0px;width: 240px;">
					</div>
				</div>
				<div class="layui-inline">
					<button class="layui-btn find" style="margin-left: 0px;">查询</button>
				</div>
				<div class="btns" style="margin-top: 18px;margin-right: 20px;">
					<!--<button class="layui-btn newReceipt">新增</button>-->
					<!--<button class="layui-btn moreAction" style="margin-right: 20px;">更多操作</button>
					<ul class="action">
						<li>
							<a class="del" data-type="getCheckDel" lay-event='del'>删除</a>
						</li>
						<li>
							<a class="del" data-type="getCheckDel" lay-event='del'>导出</a>
						</li>
					</ul>-->
				</div>
				</div>
			</div>

			<table id="completelist" lay-filter="demo" style="margin-top: 8px;"></table>
		</div>
</div></div>
	</body>
	<script type="text/javascript">
		layui.use(['table', 'jquery', 'element', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			var laypage = layui.laypage;
			var myDate = new Date();
			var currentMothFirstDay = getCurrentMothFirstDay();
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
//			laydate.render({
//				elem: '#completedate1',
//				value: currentMothFirstDay
//			});
//			laydate.render({
//				elem: '#completedate2',
//				value: new Date()
//			});
			
			var limit = 50;
			var curpage = 1;
			var count;
			getunit(6);
			var groupcompanyid=localStorage.groupcompanyid;
			function staffList() {
				$.ajax({
					type: "post",
					url: localStorage.serIp +"/WebGetEmployeeDropDownList?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': groupcompanyid
					},
					success: function(res) {
						var data = JSON.parse(res);
						$('#salesman').bComboSelect({
							showField: 'employeename',
							keyField: 'employeesid',
							data: data
						});

					}
				});
			}
			staffList()


			
			$(".state").change(function() {
				completeData(true);
			})
			$(".salesman").change(function() {
				$(".find").click();
			})
				if(localStorage.groupcompanyid != "0"){
				$("#fengongsiId").css("display","none");
				completeData(true);
			}else{
					dataFun1();
			}
			
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";
			
							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";
			
							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						
							completeData(true);
					}
				});
			
			}
			

			$(".companytypeid").change(function() {
				$('.unit').val("");
				$("#unit").val("");
				completeData(true);
				//业务员跟这变
				groupcompanyid=$(".companytypeid").val();
				groupcompanyid=groupcompanyid==-1?'':groupcompanyid;
				var bandstr = '<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_sale").empty().append(bandstr);
				staffList();
		
				//往来单位跟这变
				var append_group = '<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,"")" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_group").empty().append(append_group);
				getunitByConfident(6,groupcompanyid);
			
			})

			function completeData(jumpFlag) {
				var unit = $('#unit').val();
				var agentId = $("#salesman").val();
				var orderNum = $(".seachContent").val();
//				var state = $('.state').val();
				
//				var beginTime = $('#completedate1').val() !='' ? $('#completedate1').val() :currentMothFirstDay;
//				var endTime = $('#completedate2').val() != '' ? $('#completedate2').val() : currentDate;
				var companytypeid = "";

				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
					
				
						var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
				
				$.ajax({
					type: "get",
					url: localStorage.serIp +"/WebGetMboutPayMoneyMasterInfo?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'orderNum': orderNum,
						'agentId': agentId,
//						'beginTime': beginTime,
//						'endTime': endTime,
						'companyId': unit,
						'database': localStorage.database,
						'groupCompanyId': companytypeid,
						'checkState': 0,
					},
					success: function(res) {
												parent.layer.close(jiazaiIndex);

						var initData = JSON.parse(res);
						var data = JSON.parse(initData.data);
						count = initData.count;
						completeDetail(data, limit);
						
								
//						$("[data-field=checkstate] div:gt(0)").each(function(i) {
//							switch(data[i].checkstate) 
//							{
//							case 1:				
//								
//								$(this).html("已审核");
//							  break;
//							case 2:  
//							
//								$(this).html("已作废");
//							  break;
//							case 0:  				
//								$(this).html("未审核");
//							  break;
//		
//							}
//						});
						
//						$(".layui-table-body .layui-table [data-field=settlestate] div").each(function(i) {
//							if(data[i].settlestate == 0) {
//								$(this).html("现金");
//							} else if(data[i].settlestate == 1) {
//								$(this).html("支票");
//							} else {
//								$(this).html("电汇");
//							}
//						});

			
						if(jumpFlag) {
							complete_pages();
						}
					}
									,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});

			}
			
			completeData(true);

			function completeDetail(data, limit) {
				table.render({
					elem: '#completelist',
					data: data,
					cols: [
						[ //标题栏

							{
								checkbox: true,
								LAY_CHECKED: false,
								align: "center",
								minWidth: 40,
							}, {
								field: 'ordernum',
								title: '收款单号',
								event: "detail",
								style: "color:#2D89DD;cursor:pointer",
								minWidth: 150
							},
							{
								field: 'companyname',
								title: '往来单位',
								minWidth: 150
							}, {
								field: 'owncompanyname',
								title: '所属公司',
								minWidth: 150
						},
							{
								field: 'accountforprint',
								title: '收款账户信息',
								minWidth: 100
							},
//							{
//								field: 'accountnum',
//								title: '帐号',
//								minWidth: 100
//							}, {
//								field: 'bankname',
//								title: '开户行',
//								minWidth: 100
//							},
							{
								field: 'settlestatename',
								title: '收款方式',
								minWidth: 100
							},
							{
								field: 'totalmoney',
								title: '收款金额',
								minWidth: 100
							},
							{
								field: 'paydate',
								title: '收款日期',
								minWidth: 100
							}, {
								field: 'agentname',
								title: '业务员',
								minWidth: 100
							}, {
								field: 'operatorsidname',
								title: '制单人',
								minWidth: 100
							}, {
								field: 'actiondate',
								title: '制单日期',
								minWidth: 100
							},
							{
								field: 'checkername',
								title: '审核人',
								minWidth: 100
							},
							{
								field: 'checkdate',
								title: '审核日期',
								minWidth: 100
							},
							{
								field: 'checkstatename',
								title: '单据状态',
								minWidth: 100
							},
							{
								field: 'nomo',
								title: '备注',
								minWidth: 100
							},
						]
					],
					skin: 'row', //表格风格
					height: "full-210",
					even: true,
					limit: limit //每页默认显示的数量
				});
			}
			//分页
			function complete_pages() {
				laypage.render({
					elem: 'completelist', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						curpage = obj.curr;
						limit = obj.limit;
						if(!first){
							completeData(false);
						}
						
					}
				})
			}
			$(".find").click(function() {
			
				completeData(true);
			})
			
			
			table.on('tool(demo)', function(obj) {
				var data = obj.data;
				if(obj.event === 'detail') {
					parent.tab.tabAdd({
						icon: '',
						id: 'SKHJDH'+data.ordernum,
						title: data.ordernum + '收款单',
						url: 'views/financiaManagement/receipt/receiptOprateDetail.html'
					});
				}
			});
			
			
		});
	</script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>

</html>