<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>青囊</title>
		<link rel="stylesheet" type="text/css" href="../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../css/demo.css" />
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<!-- DevExtreme themes -->
	    <link rel="stylesheet" href="../../devexpresslibrary/css/dx.common.css">
	    <link rel="stylesheet" href="../../devexpresslibrary/css/dx.light.css">
	</head>
	<style type="text/css">
		.stockInit {
			font-family: "PingFang SC" !important;
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 10px;
		}
		
		.btns {
			float: right;
		}
		
		label {
			padding: 0 !important;
			margin-left: 0px;
		}
		
		.layui-form {
			margin-bottom: 0;
		}
		
		.btns button,
		.find,
		.import {
			padding: 0;
			cursor: pointer;
			border: none;
			width: 76px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
			margin-left: 8px;
		}
		
		.btns button {
			width: 90px;
		}
		
		.stockInit_header {
			margin-bottom: 8px;
		}
		
		.layui-laypage {
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: 25px;
		}
		
		.cs_container {
			width: 250px !important;
		}
		
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 5px !important;
		}
		
			.cleardata{
			cursor: pointer;
		}
		
			
		.layui-inline{
			margin-top: 10px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../css/same.css" />

	<body>
		<div class="stockInit">
			<div class="layui-tab">
				<div class="stockInit_header">
					<div class="inputs">
				<div style="width: 100%;height: auto;">		
					<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
									
								</select>
							</div>
					</div>
										<div class="layui-inline" style="margin-right: 15px;width: 308px;">
							<label class="layui-form-label" style="margin-right: 10px;">所属部门</label>
							<div id="addGroup">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input owngroup" type="text" id="owngroup" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
							<div class="layui-inline" style="margin-right: 15px;width: 308px;">
					<label class="layui-form-label" style="margin-right: 10px;">业务员</label>
					<div id="append_sale">
						<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
					</div>
				</div>
					
						<div class="layui-inline" style="margin-right: 15px;">
							<label class="layui-form-label">日期范围</label>
							<div class="layui-input-inline">
								<input autocomplete="off" id="stockInitdate1" class="layui-input init_beginTime" type="text">
							</div>
							-
							<div class="layui-input-inline">
								<input autocomplete="off" id="stockInitdate2" class="layui-input init_endTime" type="text" style="margin-left: 0;">
							</div>
						</div>
						
					</div>
					
						<div style="width: 100%;height: auto;position: relative;margin-top: 10px;">
						<div class="layui-inline" style="margin-right: 15px;">
							<label class="layui-form-label">单据状态</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input  init_orderState">
									<option value="-1">全部</option>
									<option value="0">未审核</option>
									<option value="1">已审核</option>
									<option value="2">已作废</option>
								</select>
							</div>
						</div>
						
							<div class="layui-inline"  style="margin-right: 15px;">
							<label class="layui-form-label">操作状态</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input state">
									<option value="-1">状态</option>
									<option value="1">待验收</option>
									<option value="4">已完结</option>

								</select>
							</div>
						</div>
					
						<div class="layui-inline">
							<div class="layui-input-inline">
								<input autocomplete="off" placeholder="请输入关键字" class="layui-input init_seach" type="text" style="margin-left: 0;width: 240px;">
							</div>
						</div>
						<div class="layui-inline">
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="btns" style="margin-top: 10px;position: relative;">
							<button class="layui-btn add">新增</button>
							<button class="layui-btn moreAction">更多操作</button>
							<ul class="action" style="right: 0px !important;">
								<li>
									<a class="export" data-type="combineExport" lay-event='del'>合并导出</a>
								</li>
								
								<li>
									<a class="allExport" data-type="allExport">导出全部</a>
								</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
				<table id="stockInit" lay-filter="demo">
					<div id="gridContainer"></div>
				</table>
			</div>
		</div>
	</body>
	<script src="../../js/jquery.js" type="text/javascript"></script>
	<script src="../../devexpresslibrary/js/dx.all.js"></script>
	<script type="text/javascript" src="../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../js/b.comboselect.js"></script>
	<script src="../../plugins/layui/layui.js"></script>
	<script src="../../js/public.js"></script>
	<script>
		layui.use(['table', 'jquery', 'laydate', 'laypage'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			var laypage = layui.laypage;
			
			var myDate = new Date();
			var currentMothFirstDay = getCurrentMothFirstDay();
			var currentDate =  myDate.getFullYear() + '-' +(myDate.getMonth() + 1)  + '-'+  myDate.getDate();
			
	
				
				
			var limit = 50;
			var curpage = 1;
			var count;
			
			laydate.render({
				elem: '#stockInitdate1', //指定元素
				value: currentMothFirstDay
			});
			laydate.render({
				elem: '#stockInitdate2', //指定元素
				value: new Date()
			});
			

				
				function staffList() {
					$.ajax({
						type: "get",
						url: localStorage.serIp + "/WebGetEmployeeDropDownList?jsoncallback=?",
						async: true,
						dataType: 'jsonp',
						data: {
							"userId": localStorage.userId,
							"userPw": localStorage.userPw,
							'database': localStorage.database,
							'groupCompanyId': localStorage.groupcompanyid
						},
						success: function(res) {
							var data = JSON.parse(res);
							$('#salesman').bComboSelect({
								showField: 'employeename',
								keyField: 'employeesid',
								data: data
							});
						
						}
					});
				}
				if(localStorage.groupcompanyid != "0"){
					$("#fengongsiId").css("display","none");
					initData(true);
				}else{
					dataFun1();
				}
			
								getowngroupList(localStorage.groupcompanyid);

				staffList();
			
				
				$(".add").click(function() {
					
						if(!checkPermissionStatus("库存初始化-保存1")){
				
					parent.layer.open({
						title: "提示",
						content: localStorage.jurisdictionTips,
						zIndex: parent.layer.zIndex //重点1
						,
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					return
					
				}
			
					var  num  = randomString();
					parent.tab.tabAdd({
						icon: '',
						id: 'xindan' + num,
						title: '新增库存初始化',
						url: 'views/systemManagement/stockInit/stockInitEdit.html'
					});
				});
			

		$(".companytypeid").change(function() {
				$('.unit').val("");
				$("#unit").val("");
				initData(true);
				//业务员跟这变
				groupcompanyid=$(".companytypeid").val();
				groupcompanyid=groupcompanyid==-1?'':groupcompanyid;
				
				var bandstr = '<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#append_sale").empty().append(bandstr);
				getstaffList(groupcompanyid,"");
		
				
				var addGroup = '<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,"")" class="layui-input owngroup" type="text" id="owngroup" style="width: 250px;height: 28px;line-height: 28px;">';
				$("#addGroup").empty().append(addGroup);
				getowngroupList(groupcompanyid);
			
				
			})
			
		
				$("body").delegate(".owngroup","change",function(){
		
					groupcompanyid=$(".companytypeid").val();
					
					groupcompanyid=groupcompanyid==-1?'':groupcompanyid;
					
					var bandstr = '<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">';
					$("#append_sale").empty().append(bandstr);
					
					getstaffList(groupcompanyid,$("#owngroup").val());
					
					$(".salesman").change(function() {
						$(".find").click();
					})
				
			
			});
			
					
			//获取公司信息
			function dataFun1() {
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetAllGroupCompany?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,
						"groupCompanyId": localStorage.groupcompanyid
					},
					success: function(res) {
						var desData = JSON.parse(res);
						var optionsStr = "";
						for(var i=0;i<desData.length;i++){
							var id= desData[i].myg_companyid;
							var name= desData[i].companyname;
							
							
							if(id == localStorage.groupcompanyid){
								optionsStr+= "<option value='"+id+"' selected='selected'>"+name+"</option>";

							}else{
								optionsStr+= "<option value='"+id+"'>"+name+"</option>";

							}
							
						
							
						}
						$(".companytypeid").append(optionsStr);
						
							initData(true);
					}
				});

			}	
			
			

			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			
		$("body").keydown(function(event) {
				if(event.keyCode == "13") { //keyCode=13是回车键
					$('.find').click();

				}
		});
		
			$(".companytypeid").change(function() {
				initData(true);
			})
			$(".init_orderState,.state").change(function() {
				initData(true);
			})
		
			function initData(jumpFlag) {
				var init_agentId = $("#salesman").val();
				var	init_orderNum = $(".init_seach").val();
				var init_beginTime = $('.init_beginTime').val() !='' ? $('.init_beginTime').val() :currentMothFirstDay;
				var init_endTime = $('.init_endTime').val() != '' ? $('.init_endTime').val() : currentDate;
				var init_orderState = $('.init_orderState').val();
				var state = $(".state").val();
				var employeedep = $('#owngroup').val();

				var companytypeid = "";
				
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
			
			
				$.ajax({
					type: "get",
					url: localStorage.serIp +"/WebGetInstockrecoverInfo?jsoncallback=?",
					dataType: "jsonp",
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'num': limit,
						'page': curpage,
						'orderNum': init_orderNum,
						'agentId': init_agentId,
						'beginTime': init_beginTime,
						'endTime': init_endTime,
						'database': localStorage.database,
						'checkState': init_orderState,
						'orderState': state, 
						'orderType': 6, 
						'groupCompanyId': companytypeid,'employeedep' :employeedep,
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);

						var initData = JSON.parse(res);
						var data = JSON.parse(initData.data);
					
						count = initData.count;
						
						initFind(data, limit);
						

						
						if(jumpFlag) {
							init_pages();
						}
					}
					,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
				});
			}

		   	// 根据可视区的高度判断
		var viewHeight = $(window).height();
		$('#gridContainer').css('height', viewHeight * 0.83 + 'px');
			function initFind(data) {
				var dataGrid = $("#gridContainer").dxDataGrid({
				dataSource: data,
				allowColumnReordering: true,
				showBorders: true,
				//keyExpr: "id",
				columnChooser: {
					enabled: false,
					mode: "dragAndDrop",
				},
				headerFilter: {
					visible: false
				},
				sorting: {
					mode: "none"//none
				},
				filterRow: {
					visible: false,
				},
				selection: {
					mode: "multiple",
				},
				paging: {
					pageSize: 20000000,
				},
				allowColumnResizing: true,
				columnAutoWidth:true,
				columnFixing: {
					enabled: false
				},
				grouping: {
					contextMenuEnabled: false,
					expandMode: "rowClick"
				},
				groupPanel: {
					visible: false
				},
				columns: [{
					dataField: "ordernum",
					caption: "库存初始化单号",
					//width: 160,
					fixed:true,
					cellTemplate: function (container, options) {
						$("<div>")
							.append($("<div style='color:#2D89DD'> " + options.value + "</div>"))
							.appendTo(container);
					}
				}
				,
				{
					dataField: "statesname",
					caption: "操作状态",
					width: 70
				},	{
					dataField: "typeofname",
					caption: "单据类型",
					//width: 180
				},	{
					dataField: "owncompanyname",
					caption: "所属公司",
					width: 160
				},	{
					dataField: "owngroupname",
					caption: "所属部门",
					width: 100
				},	{
					dataField: "warehousename",
					caption: "对应仓库",
					width: 100
				},{
					dataField: "areaname",
					caption: "对应货区",
					width: 100
				},{
					dataField: "goodsshelves_name",
					caption: "对应货架",
					width: 100
				},	{
					dataField: "agentname",
					caption: "业务员",
					width: 100
				},	{
					dataField: "salesbusinesstypeidname",
					caption: "业务类型",
					width: 100
				},	{
					dataField: "instoragedate",
					caption: "入库日期",
					width: 100
				},	{
					dataField: "operatorname",
					caption: "制单人",
					width: 100
				},	{
					dataField: "actiondate",
					caption: "制单日期",
					width: 100
				},{
					dataField: "checkername",
					caption: "审核人",
					cellTemplate:function(container,options){
						var str;
						if(!options.value){
                          str = '';
						}else{
							str = options.value
						}
                      $("<div>")
							.append($("<div> " + str + "</div>"))
							.appendTo(container);
					},
					width: 100
				},{
					dataField: "checkdate",
					caption: "审核日期",
					width: 100,
					cellTemplate:function(container,options){
						var str;
						if(!options.value){
                          str = '';
						}else{
							str = options.value
						}
                      $("<div>")
							.append($("<div> " + str + "</div>"))
							.appendTo(container);
					},
				},{
					dataField: "checkstatename",
					caption: "单据状态",
					width: 70
				},{
					dataField: "mynum",
					caption: "自定义单号",
					width: 160,
					cellTemplate:function(container,options){
						var str;
						if(!options.value){
                          str = '';
						}else{
							str = options.value;
						}
                      $("<div>")
							.append($("<div> " + str + "</div>"))
							.appendTo(container);
					},
				},{
					dataField: "nomo",
					caption: "备注",
					width: 120,
					cellTemplate:function(container,options){
						var str;
						if(!options.value){
                          str = '';
						}else{
							str = options.value
						}
                      $("<div>")
							.append($("<div> " + str + "</div>"))
							.appendTo(container);
					},
				},
				],
				onSelectionChanged: function (e) {
						selectedArray = [];
						selectedArray = e.selectedRowsData;
					},
					onCellClick: function (e) {
						var data = e.data;
						if (e.columnIndex == 1 && e.rowType == 'data') {
							parent.tab.tabAdd({
								icon: '',
								id: "KCCSHJ" + data.ordernum,
								title: data.ordernum + '初始化详情',
								url: 'views/systemManagement/stockInit/stockInitEdit.html'
							});
						}
					}
				}).dxDataGrid('instance');
			}
			var selectedArray = [];
			//分页
			function init_pages() {
				laypage.render({
					elem: 'stockInit', //注意，这里的 test1 是 ID，不用加 # 号
					layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					limits: [50, 100, 200],
					limit: limit,
					curr: curpage,
					group: 3,
					count: count, //数据总数，从服务端得到
					jump: function(obj,first) {
						//						console.log(obj);
						curpage = obj.curr;
						limit = obj.limit;
						
						if(!first){
													initData(false);

						}
					}
				})
			}
			
			$(".find").click(function() {
		
				initData(true);
			})



			var $ = layui.$,
				active = {
					combineExport: function() { //获取选中数据
						
								
					if(!checkPermissionStatus("库存初始化-导出1")){
				
						parent.layer.open({
							title: "提示",
							content: localStorage.jurisdictionTips,
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return
						
					}	
				
				
						var checkStatus = table.checkStatus('initTable'),
							data1 = selectedArray;
							
							
						var idstr = "";
						if(data1.length == 0){
							parent.layer.open({
								title: "提示",
								zIndex: parent.layer.zIndex, //重点1,
								content: '请选择要导出的单据!'
							});
							return;
						}
						
	
						
						
						
					    for(var i=0;i<data1.length;i++) { 
				      		idstr += "'"+data1[i].ordernum + "'";
		
				      		if((i+1)!=data1.length){
				      			idstr += ",";
				      		}
						}
					    
						parent.layer.confirm('确定导出吗？', {
							icon: 3,
							zIndex: parent.layer.zIndex ,//重点1
							title: '合并导出'
						}, function(index) {
							
							combineExport("KCCSH",idstr);
							
						});
					}
				};


			$('.export').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

			//导出全部
			$(".allExport").click(function(){
					
				if(!checkPermissionStatus("库存初始化-导出1")){
				
					parent.layer.open({
						title: "提示",
						content: localStorage.jurisdictionTips,
						zIndex: parent.layer.zIndex //重点1
						,
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					return
					
				}	
					
				parent.layer.confirm('确定导出全部吗？', {
					icon: 3,
					zIndex: parent.layer.zIndex ,//重点1
					title: '导出全部'
				}, function(index) {
					
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1,
				  success: function(layero, index){
				  		jiazaiIndex = index;
					}
				});
				
				var init_agentId = $("#salesman").val();
				var	init_orderNum = $(".init_seach").val();
				var init_beginTime = $('.init_beginTime').val() !='' ? $('.init_beginTime').val() :currentMothFirstDay;
				var init_endTime = $('.init_endTime').val() != '' ? $('.init_endTime').val() : currentDate;
				var init_orderState = $('.init_orderState').val();
				var state = $(".state").val();
				var employeedep = $('#owngroup').val();

				var companytypeid = "";
				
				if(localStorage.groupcompanyid == "0"){
					companytypeid = $('.companytypeid option:selected').val();
				}else{
					companytypeid = localStorage.groupcompanyid;
				}
				
				var timestamp=new Date().getTime();
	
				$.ajax({
					type: "get",
					url: localStorage.serIp + "/WebGetInstockrecoverExportInfo?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'orderNum': init_orderNum,
						'agentId': init_agentId,
						'beginTime': init_beginTime,
						'endTime': init_endTime,
						'database': localStorage.database,
						'checkState': init_orderState,
						'orderState': state, 
						'orderType': 6, 
						'groupCompanyId': companytypeid,
						'employeedep' :employeedep,
						'filename':"库存初始化"+timestamp+".xls"
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);
			
						var res = JSON.parse(res);
						if(res.ResultValue == '0') {
							
							parent.layer.open({
								title: "提示",
								content: '导出失败！',zIndex: parent.layer.zIndex //重点1
							});
							
							
						
								
					
						}else{
							
							url = "\\"+res.ResultValue
							while(true){
								var isExists=0;
								$.ajax({
									url:url,
									async:false,
									type:'HEAD',
									error:function(){
									isExists=0;
									
									},
									success:function(){
									isExists=1;
									
									}
								});
								
								
								if(isExists == 1){
									parent.layer.close(jiazaiIndex);
									window.location.href = url;	
			
									break;
								}
						
								
							}
							
							parent.layer.open({
								title: "提示",
								content: '导出成功！',zIndex: parent.layer.zIndex //重点1
									,
								success: function(layero,index) {
								parent.layer.setTop(layero); //重点2
//									window.location.href = url;	
							
								},
								
							});
							
								
						}
						
					},
					error: function(res) {
						parent.layer.close(jiazaiIndex);
						
					}
				});
					
				});
			})
			
		});
	</script>


</html>