<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>添加产品保养记录</title>
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
			<script src="../../../js/jquery.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<style type="text/css">
		#addRecord {
			/*width: calc(100vw+17px);*/
			font-size: 9pt;
		}
		
		#addRecord legend {
			font-family: "PingFang" !important;
			font-size: 14px !important;
			color: #2D89DD !important;
			font-weight: 800 !important;
		}
		
		#addRecord label {
			width: 120px !important;
			font-size: 9pt !important;
			color: #232323 !important;
		}
		
		#addRecord .layui-input {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
		}
		
		.layui-input-block {
			min-height: 28px;
		}
		
		#addRecord select {
			font-size: 9pt !important;
			width: 400px !important;
			height: 28px !important;
		}
		
		#addRecord textarea {
			font-size: 9pt !important;
			width: 400px !important;
			height: 80px;
			border: 1px solid #ddd !important;
		}
		
		#addRecord .layui-form-title {
			width: 100%;
			right: 15px;
			padding-top: 5px;
			margin-bottom: -20px;
			position: fixed;
			z-index: 100;
			background-color: #FFFFFF !important;
			line-height: 32px;
			top: 0px;
		}
		
		#addRecord button {
			margin-left: 8px;
			text-align: center;
			width: 76px;
			height: 28px;
			line-height: 28px;
			float: right;
			font-family: "PingFang" !important;
			font-size: 14px !important;
			color: #FFFFFF !important;
			background-color: #2D89DD !important;
		}
		
		.current {
			background-color: #357BEA;
		}
		
		#addRecord {
			margin-bottom: 80px;
		}
	</style>

	<body>
		<div id="addRecord">
			<div class="layui-form-item layui-form-title">
				<button class="layui-btn addRecord_submit">提交</button>
			</div>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
				<legend>基本信息</legend>
			</fieldset>
			<div class="layui-form-item">
				<label class="layui-form-label">建卡日期</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" id="cardDate" class="layui-input addRecord_cardTime" type="text">

				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">产品名称</label>
				<div class="layui-input-block">
					<input autocomplete="off" data-id='' class="layui-input productList" type="text" value="">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">规格</label>
				<div class="layui-input-block">
					<input autocomplete="off" disabled="" class="layui-input addRecord_guige" type="text" disabled="disabled">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">生产厂家</label>
				<div class="layui-input-block">
					<input autocomplete="off" disabled="" class="layui-input addRecord_changjia" type="text" disabled="disabled">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">邮编</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_youbian" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系电话</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_tel" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用途</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_use" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">建档目的</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_mude" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">质量标准</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_biaozhun" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">检验项目</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_xiangmu" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">形状</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_xingzhuang" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">GMP认证</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_GMP" type="text">
				</div>
			</div>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
				<legend>包装情况</legend>
			</fieldset>
			<div class="layui-form-item">
				<label class="layui-form-label">内</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_nei" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">中</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_zhong" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">外</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_wai" type="text">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">体</label>
				<div class="layui-input-block">
					<input autocomplete="off" required="required" class="layui-input addRecord_ti" type="text">
				</div>
			</div>
		</div>
	</body>
	<script src="../../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.use(['layer', "laydate"], function() {
			var $ = layui.$, //重点处
				layer = layui.layer;
			var laydate = layui.laydate;
			laydate.render({
				elem: '#cardDate'
			});
			
			$(".productList").click(function() {
				
				if(sessionStorage.newData) {
					sessionStorage.removeItem('newData');
				}
				parent.layer.open({
					type: 2 //此处以iframe举例
						,
					title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">产品列表</span>',
					area: ['85%', '90%'],
					offset: "rb",
					content: 'views/public/product/productPublicList.html',
					zIndex: parent.layer.zIndex, //重点1
					success: function(layero) {
						parent.layer.setTop(layero); //重点2
						var body = layer.getChildFrame('body', 'index');

						paentIfarame = layero.find("iframe")[0].contentWindow.document;

							$(".iframeName", paentIfarame).val(window.name)

					},
					cancel: function() {
						if(sessionStorage.newData) {
							if(sessionStorage.newData.length>0 && sessionStorage.newData!= "[]"){
							var data = JSON.parse(sessionStorage.newData);
							$(".productList").val(data[0].producename);
							$(".productList").attr('data-id', data[0].id);
							$(".addRecord_guige").val(data[0].danwei);
							$(".addRecord_changjia").val(data[0].manufacturer);
							}
						
						}

					},
						end: function(){  
                    	if(sessionStorage.newData) {
							if(sessionStorage.newData.length>0 && sessionStorage.newData!= "[]"){
							var data = JSON.parse(sessionStorage.newData);
							$(".productList").val(data[0].producename);
							$(".productList").attr('data-id', data[0].id);
							$(".addRecord_guige").val(data[0].danwei);
							$(".addRecord_changjia").val(data[0].manufacturer);
							}
						
						}
						
					}
				});
			});
			
			
			$(".addRecord_submit").click(function() {
				//弹出层转圈圈的那个
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1
				  success: function(layero, index){
				  		jiazaiIndex = index;
						}
				});
				var createdate = $('.addRecord_cardTime').val();
				var produceid = $('.productList').attr('data-id');
				var zipcode = $('.addRecord_youbian').val();
				var phone = $(".addRecord_tel").val();
				var Application = $(".addRecord_use").val();
				var createpurpose = $(".addRecord_mude").val();
				var qualitystandard = $(".addRecord_biaozhun").val();
				var inspectingitem = $(".addRecord_xiangmu").val();
				var properties = $(".addRecord_xingzhuang").val();
				var gmp = $(".addRecord_GMP").val();
				var within = $(".addRecord_nei").val();
				var middle = $(".addRecord_zhong").val();
				var outside = $(".addRecord_wai").val();
				var volume = $(".addRecord_ti").val();
				var master = {
					'createdate': createdate,
					'produceid': produceid,
					'zipcode': zipcode,
					'phone': phone,
					'application': Application,
					'createpurpose': createpurpose,
					'qualitystandard': qualitystandard,
					'inspectingitem': inspectingitem,
					'properties': properties,
					'gmp': gmp,
					'within': within,
					'middle': middle,
					'outside': outside,
					'volume': volume,
				};
				if($(".productList").val() == '') {
					parent.layer.open({
						title: "提示",
						content: '请填写产品名称',
						zIndex: parent.layer.zIndex, //重点1
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					parent.layer.close(jiazaiIndex);
					return false;
				}
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebAddMaintenanceRecord?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid,
						'master': JSON.stringify(master)
					},
					success: function(res) {
						parent.layer.close(jiazaiIndex);
						var data = JSON.parse(res);
						if(data.ResultValue == 1) {
							parent.layer.open({
								title: "提示",
								content: '提交成功',
								zIndex: parent.layer.zIndex, //重点1
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								},
								end: function(){  
									var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
									parent.layer.close(index); //再执行关闭     
								}
							});
						} else {
							parent.layer.open({
								title: "提示",
								content: '提交失败',
								zIndex: parent.layer.zIndex, //重点1
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								}
							});
						}
					}
				});

			})
			
			
		
		});
		
			function productListData(){
			if(sessionStorage.newData) {
					if(sessionStorage.newData.length>0){
					var data = JSON.parse(sessionStorage.newData);
					$(".productList").val(data[0].producename);
					$(".productList").attr('data-id', data[0].id);
					$(".addRecord_guige").val(data[0].danwei);
					$(".addRecord_changjia").val(data[0].manufacturer);
					}
				
				}
			}	
	</script>

</html>