<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>photo</title>
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/jquery-photo-gallery/jquery.photo.gallery.js"></script>
	<style>
		html,body{
			width : 100%;
			height : 100%;
			margin:0;
			overflow: hidden;
		}
		img{
			margin: 5px;
			width: 200px;
			height: 200px;
		}
	</style>
</head>
<body>
<h2>双击图片显示大图</h2>
<div class="gallerys">
	<!--<img class="gallery-pic" src="../image/1.jpg" onclick="$.openPhotoGallery(this)" />
	<img class="gallery-pic" src="../image/2.jpg" ondblclick="$.openPhotoGallery(this)" />
	<img class="gallery-pic" src="../image/3.jpg" ondblclick="$.openPhotoGallery(this)" />
	<img class="gallery-pic" src="../image/4.jpg" ondblclick="$.openPhotoGallery(this)" />-->
</div>
</body>
</html>