<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>直销备货结算</title>
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
		<script src="../../../js/jquery.js" type="text/javascript"></script>
		<!-- DevExtreme themes -->
		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.common.css">
		<link rel="stylesheet" href="../../../devexpresslibrary/css/dx.light.css">
		<link rel="stylesheet" type="text/css" href="../../../css/same.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="./css/settlement.css">
		</head>
		<body>
		<div class="purchase">
			<div class="layui-tab">
				<div class="purchase_header">
					<div class="inputs" style="margin-bottom: 8px;">
					<div style="width: 100%;height: auto;">	
					<div class="layui-inline" id="fengongsiId" style="margin-right: 15px;">
							<label class="layui-form-label" style="margin-left: 0px;">所属公司</label>
							<div class="layui-input-inline">
								<select name="" class="layui-input companytypeid" style="width: 200px;">
									<option value="-1">全部</option>
								</select>
							</div>
					</div>
					
						<div class="layui-inline" style="margin-right: 15px;width: 308px;">
							<label class="layui-form-label" style="margin-right: 10px;">往来单位</label>
							<div id="append_group">
								<input autocomplete="off" onkeyup="value=value.replace(/(^\s*)|(\s*$)/g,'')" class="layui-input unit" type="text" id="unit" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
			
						</div>
						<div class="layui-inline" style="margin-right: 15px;width: 296px;">
							<label class="layui-form-label" style="margin-right: 10px;">业务员</label>
							<div id="append_sale">
								<input autocomplete="off" class="layui-input salesman" id="salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
							</div>
						</div>
						
						<div class="layui-inline">
							<label class="layui-form-label">日期范围</label>
							<div class="layui-input-inline">
								<input autosettlement="off" id="settlementdate1" class="layui-input" type="text">
							</div>
							-
							<div class="layui-input-inline">
								<input autosettlement="off" id="settlementdate2" class="layui-input" type="text" style="margin-left: 0;">
							</div>
						</div>
						<br />
						<div class="layui-inline" style="margin-top: 20px;">
							<label class="layui-form-label" style="margin-left: 0px !important;">单据状态</label>
							<div class="layui-input-inline">
								<select name="" class="state layui-input">
									<option value="-1">单据状态</option>
									<option value="0">未审核</option>
									<option value="1">已审核</option>
									<option value="2">已作废</option>
								</select>
							</div>
						</div>
						
						<div class="layui-inline" style="margin-top: 20px;margin-left: 15px;">
							<div class="layui-input-inline">
								<input autosettlement="off" placeholder="请输入单号" class="layui-input seachContent" type="text" style="margin-left: 0;width: 240px;">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: 18px;">
							<button class="layui-btn find" style="margin-left: 5px;">查询</button>
						</div>
						<div class="btns" style="margin-top: 18px;">
							<button class="layui-btn addSettlement">新增</button>
							<button class="layui-btn moreAction">更多操作</button>
							<ul class="action">
									<li>
									<a class="export combineExport" data-type="combineExport">合并导出实耗</a>
								</li>
									<li>
									<a class="allExport" data-type="allExport">导出全部实耗</a>
								</li>
								
							</ul>
						</div>
					</div>

				</div>
				<div id="gridContainer">

						</div>
				<table id="settlement" lay-filter="demo">
				
						
				</table>
			
			</div>
			
		  </div>
       </div>   
	</body>
	<!-- DevExtreme library -->
	<script src="../../../devexpresslibrary/js/dx.all.js"></script>

	
	<!-- layui插件 -->
	<script src="../../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>

	<!-- 本页面功能 -->
	<script src="./js/settlement.js"></script>
	<script src="../../../js/public.js"></script>
  

</html>