<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>无订单采购核价</title>
		<link rel="stylesheet" type="text/css" href="../../../css/comboselect.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/demo.css" />
		<link rel="stylesheet" href="../../../plugins/layui/css/layui.css">
		<link href="../../../css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../../css/qk/danju_pulic.css" />
	</head>
	<style type="text/css">
		input,
		section,
		button,
		select {
			border-radius: 2px;
		}
		
		.addDistribution {
			font-family: "PingFang SC" !important;
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
			color: #232323 !important;
			margin: 0 20px;
			margin-top: 20px;
		}

		
		.layui-input-block select {
			cursor: pointer;
		}
		
		.layui-input-block option {
			cursor: pointer;
		}
		
		.addDistribution .layui-table td,
		.layui-table th {
			/*font-size: 12px !important;*/
			font-size: 9pt !important;
		}
		
		.btns {
			margin-bottom: 12px;
			position: absolute;
			right: 20px;
			top: 114px;
		}
		
	
		.find,
		.btns button {
			cursor: pointer;
			border: none;
			width: 90px;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			background-color: #2D89DD;
			color: #FFFFFF;
		}
		
	
		.layui-input-block {
			min-height: 22px;
		}
		
		.two_inputs {
			padding-top: 12px;
			background-color: #EFF5FF;
			margin-top: 50px;
			padding-bottom: 5px;
		}
		
		.moreAction {
			width: 90px !important;
		}
		
		.action {
			width: 88px !important;
			right: 0;
		}
		
		.show,
		.hide {
			padding: 1px 10px;
			background-color: #1E9FFF;
			text-align: center;
			position: absolute;
			top: 138px;
			right: 50%;
			cursor: pointer;
		}
		
		.hide {
			display: none;
		}
		
		.title {
			margin-top: 12px;
		}
		

		
		.detail {
			position: absolute;
			top: 150px;
			float: right;
			width: 20px;
			text-align: center;
			padding: 5px 10px;
			line-height: 20px;
			right: 0px;
			font-size: 9pt;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background-color: #2D89DD;
			color: white;
			cursor: pointer;
			z-index: 9;
		}
		
		.cs_container_open .cs_input,
		.cs_result_area {
			width: 250px !important;
		}
		
		div.cs_result_area div.pagination li {
			margin: 0 4px !important;
		}
		
		
		.fixStyle ul li{
			float: left;
			padding-left: 6px;
		}
		
				
		.fixStyle ul{
			border: 1px solid #ccc;
		}
		
		input{
			font-size: 9pt;
		}
		.fixStyle ul li{
			float: left;
			padding-left: 6px;
		}
	
	</style>

	<body>
		<div class="addDistribution">
			<div class="layui-tab">
				<div class="header1">
					<p style="color: #232323 !important;font-size: 24px !important;margin-top: 30px;">采购核价<img class="dsh" src="../../../image/dsh.png" alt="" /> <img class="ysh" src="../../../image/ysh.png" alt="" /></p>
					<ul>
								<li>
							<label class="layui-form-label">记账日期</label>
							<div class="layui-input-block">
								<input name="title" lay-verify="title" placeholder="" autocomplete="off" id="operationdate" class="layui-input operationdate" type="text">
							</div>
						</li>
						<li>
							<label class="layui-form-label">采购核价日期</label>
							<div class="layui-input-block">
								<input name="title" lay-verify="title" placeholder="请选择日期" autocomplete="off" id="addDistributionDate" class="layui-input distribution_date" type="text">
							</div>
						</li>
						
						<li>
							<label class="layui-form-label">入库单号</label>
							<div class="layui-input-block">
								<input disabled name="title" lay-verify="title" autocomplete="off" placeholder="" class="layui-input lastnum" type="text">
							</div>
						</li>
						
						<li>
							<label class="layui-form-label">采购核价单号</label>
							<div class="layui-input-block">
								<input disabled name="title" lay-verify="title" autocomplete="off" placeholder="" class="layui-input ordernum" type="text">
							</div>
						</li>
						<li>
							<label class="layui-form-label">自定义单号</label>
							<div class="layui-input-block">
								<input name="title" lay-verify="title" autocomplete="off" placeholder="" class="layui-input mynum" type="text">
							</div>
						</li>
					</ul>
				</div>
				<div class="header2">
					<div class="btns">
						<!--<button class="layui-btn xinzeng">新增单据</button>-->
						<button class="layui-btn relatedDanJu" style="display: none;">关联单据</button>
						<button class="layui-btn kuaisuHeJia" style="display: none;">关联核价</button>
						<button class="layui-btn preserve" data-type="getPreserve">保存</button>
						<button class="layui-btn shenhe">审核</button>
				
						
						<button class="layui-btn yijianhejia">一键核价</button>
					</div>
					<div class="two_inputs">
						
					<div style="width: 100%;height: auto;">	
							<div  class="layui-inline selectKung">
								<label class="layui-form-label">往来单位</label>
								<div>
									<input name="title" data-id='' lay-verify="title" value="" disabled="disabled" autocomplete="off" id="unit" class="layui-input unit" type="text" style="width: 250px;height: 28px;line-height: 28px;">
								</div>
							</div>
							
								
							<div  class="layui-inline selectKung">
								<label class="layui-form-label">对应合同</label>
								<div id="duiyingHeTongId">
									<input name="title" data-id=''  lay-verify="title" value="" autocomplete="off" id="contract_id" class="layui-input contract_id" type="text" style="width: 250px;height: 28px;line-height: 28px;">
								</div>
							</div>
							
							
								<div class="layui-inline">
								<label class="layui-form-label">结算类型</label>
								<div class="layui-input-inline" style="width: 160px;">
									<select name="" class="layui-input type" disabled="disabled">
											<option value="1">无订单入库结算</option>
				                            <!--<option value="8">直销入库结算 </option>
				                            <option value="9">直销产品结算</option>
				                            <option value="10">子公司分销结算</option>-->
									</select>
								</div>
							</div>
							
							
					</div>	
					
					<div style="width: 100%;height: auto;">	
							<div  class="layui-inline selectKung">
								<label class="layui-form-label">业务员</label>
								<div>
									<input name="title" data-id='' lay-verify="title" value="" autocomplete="off" id="salesman" class="layui-input salesman" type="text" style="width: 250px;height: 28px;line-height: 28px;">
								</div>
							</div>
							
						<div class="layui-inline">
							<label class="layui-form-label">制单人</label>
							<div class="layui-input-inline" style="width: 160px;">
								<input name="title" lay-verify="title" autocomplete="off"　style="padding-left: 0px;margin-left: 0px;" class="layui-input zhidanren" type="text" value="" readonly="readonly">
							</div>
						</div>
				
						<div  class="layui-inline">
							<label class="layui-form-label" >备　　注</label>
							<div class="layui-input-inline">
								<input name="title" lay-verify="title" autocomplete="off" class="layui-input notes" type="text" style="width: 345px;" style="margin-left: 0px;">
							</div>
						</div>
			
				
					</div>	
					
					<div style="width: 100%;height: auto;">	
						
							
								<div class="layui-inline" style="margin-right: 70px;">
								<label class="layui-form-label">税　　率</label>
								<div class="layui-input-inline" style="width:180px">
									<select name="" class="layui-input tax">
										<option value="0">0</option>
										<option value="0.03">0.03</option>
										<option value="0.06">0.06</option>
										<option value="0.11">0.11</option>
										<option value="0.13">0.13</option>
										<option value="0.16" selected="selected">0.16</option>					
									</select>
								</div>
							</div>	
							<div class="layui-inline" style="margin-right: 10px;">
								<label class="layui-form-label">票　　种</label>
								<div class="layui-input-inline" style="width:150px">
									<select name="" class="layui-input tickettype">
										<option value="0">增值税专用发票</option>
										<option value="1">增值税普通发票</option>				
									</select>
								</div>
							</div>	
							
						<div  class="layui-inline" style="display: none;" id="bilvId">
							<label class="layui-form-label" >比　　率</label>
							<div class="layui-input-inline">
								<input name="title" lay-verify="title" autocomplete="off" class="layui-input bilv" type="text" style="width: 150px;" style="margin-left: 0px;">
							
							</div>	<span style="display: inline-block;">%</span>
						</div>
						
							<div  class="layui-inline" style="display: none;" id="hejiajingeId">
							<label class="layui-form-label" >直销金额</label>
							<div class="layui-input-inline">
								<input name="title" lay-verify="title"   readonly="readonly" autocomplete="off" class="layui-input hejiajinge" type="text" style="width: 150px;" style="margin-left: 0px;">
							
							</div>
						</div>
							
						<div class="layui-inline" id="nextinvoicestateId" style="display: none;">
							<div class="layui-input-inline" style="width: 10px;float: left;">
								<input type="checkbox" style="width: 15px; height: 15px;" class="nextinvoicestate">
							</div>
							<sapn class="layui-form-label nextinvoicestate" style="margin-left: 0;padding-left: 0px;width: 70px !important;">不需要发票</sapn>
						</div>
				
					</div>	
						<!--<div class="layui-form-item">
							<label class="layui-form-label">服务名称</label>
							<div class="layui-input-inline">
								<input class="layui-input serviceName" type="text">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">服务金额</label>
							<div class="layui-input-inline">
								<input value="0" class="layui-input serviceMoney" type="text">
							</div>
						</div>-->
				

						<!--<br />
						<div class="layui-form-item">
							<label class="layui-form-label">加价比例</label>
							<div class="layui-input-inline" style="width: 140px;">
								<input class="layui-input salediscount" type="text" value="0">
							</div>
							<div class="layui-input-inline" style="width: 92px;margin-left:-93px;">
								%
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">整单折扣</label>
							<div class="layui-input-inline" style="width: 140px;">
								<input class="layui-input  discount" type="text" value="100">
							</div>
							<div class="layui-input-inline" style="width: 92px;margin-left:-93px;">
								%
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">整单优惠</label>
							<div class="layui-input-inline">
								<input value="0" class="layui-input youhui" type="text">
							</div>
						</div>-->
						<!--<div class="layui-form-item">
							<label class="layui-form-label">总&nbsp;金&nbsp;额&nbsp;</label>
							<div class="layui-input-inline">
								<input name="title" disabled lay-verify="title" autocomplete="off" class="layui-input totalprice" type="text" style="width: 240px;">
							</div>
						</div>-->
						
						
		
					</div>
				</div>
				<p class="title">采购核价详情</p>
				<table id="addDistribution" lay-filter="idTest"></table>
			</div>
		</div>
		
		
			<div style="position: absolute;bottom: 0px;right: 22px;" class="fixStyle">
				
				 <ul style="height: 24px;text-align: left;vertical-align: middle;line-height: 24px;">
				 	<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;"  id="producecountId"></li>
				 	<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;"  id="ordercostId"></li>

				 	<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;"  id="unitpriceId"></li>
				 	<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;"  id="notaxpriceId"></li>

			 		<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;" id="xiaoShouHeId"></li>
				 	<!--<li style="width: 73px;height: 22px;border-right:1px solid #ccc ;"  id="taxpercentageId"></li>-->
			 		<!--<li style="width: 73px;height: 22px;border-right:1px solid #ccc ;" id="untaxId"></li>-->
			 		<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;" id="untaxId"></li>
			 		<li style="width: 75px;height: 22px;border-right:1px solid #ccc ;" id="taxpreId"></li>
			 		<li style="width: 93px;height: 22px;"  id="chengBenJIaId"></li>

				 </ul>		
				 
			</div>	
			<input type="hidden" id="targetstockid" value=""/>
			
			<input type="hidden" id="reletedBkAndBhOrdernumId" value=""/>
				
			<input type="hidden" id="typeofId" value=""/>
			
			<input type="hidden" id="cankaochengbenTotal" value=""/>
			
				<input type="hidden" id="linkordernumId" value=""/>
	</body>
	<script src="../../../plugins/layui/layui.js"></script>
	<script src="../../../js/public.js"></script>
	<script>
		layui.use(['table', 'jquery', 'laydate'], function() {
			var table = layui.table;
			var $ = layui.jquery;
			var laydate = layui.laydate;
			var  oldData = [];
			$('.moreAction').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$('.action').hover(function() {
				$(".action").show();
			}, function() {
				$(".action").hide();
			});
			$(".show").click(function() {
				$(".show").hide();
				$(".hide").show();
				$(".two_inputs").hide();
				$(".title").css("margin-top", "54px");
			});
			$(".hide").click(function() {
				$(".hide").hide();
				$(".show").show();
				$(".two_inputs").show();
				$(".title").css("margin-top", "12px");
			});

			if(localStorage.isshow == "1"){
				$("#nextinvoicestateId").css("display","none");
			}

			laydate.render({
				elem: "#addDistributionDate",
				value: new Date(),
				done: function(value, date, endDate){
		    				change = true;
  				}
			})
			
					laydate.render({
				elem: "#operationdate",
				value: new Date(),
				done: function(value, date, endDate){
		    				change = true;
  				}
			})
			
			var bilvFlag = false;
			$(".bilv").change(function(){
				bilvFlag = true;
			})
			
			$(".bilv").blur(function(){
				
				var reg=  /^[0-9]*[1-9][0-9]*$/;
				var bilv = $(this).val();	
				
				if(bilv == ""){
										
				
					return false;
				}
					
			
				if(!reg.test(bilv)){
					
					layer.tips('输入非法!',this);
					
					$(this).val("");
					return false;
				}
				
			})
				
			$(".kuaisuHeJia").click(function(){
				var bilv = $(".bilv").val();	
				if(bilv == ""){
					
					layer.tips('不能为空!',$(".bilv"));
					
				
					return false;
				}
					
					
				
				var reg=  /^[0-9]*[1-9][0-9]*$/;
				
			
				if(!reg.test(bilv)){
					
					layer.tips('输入非法!',$(".bilv"));
					
				
					return false;
				}
				
					
							
				
				parent.layer.confirm('确定核价吗？', {
					icon: 3,
					zIndex: parent.layer.zIndex ,//重点1
					title: '快速核价'
				}, function(index) {
				parent.layer.close(index);
				
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1
				  success: function(layero, index){
				  		jiazaiIndex = index;
		  			}
				});
				
				
				
				
				var get_tax=$('.tax').val(); //税率

				var hejiajinge=$('.hejiajinge').val(); //核价金额
				var sumtotalrealcost=$('#cankaochengbenTotal').val(); 

				var fentanjige = Number(hejiajinge) * (Number(bilv)/100);
				change = true;
				var totalpriceHeji =0;

				for (var i=0;i<oldData.length;i++) {
					
					if(oldData[i].referprice ==0 || oldData[i].referprice == "" || oldData[i].referprice ==null){
						parent.layer.open({
							title: "提示",
							content: '有产品成本价为0，不能关联核价自动分摊',
							zIndex: layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						parent.layer.close(jiazaiIndex);

						return
					}
					
					var totalprice = 0;
					
					if((i+1)== oldData.length){
						totalprice  = Number(fentanjige) - Number(totalpriceHeji);
						
					}else{
						 totalprice = (Number(oldData[i].referpricetotal) / Number(sumtotalrealcost )) * Number(fentanjige);
						 totalpriceHeji = Number(totalpriceHeji)+ Number(totalprice);
					}					
							
					
					var unitprice = totalprice /oldData[i].producecount;

					var untax = totalprice / (1 + Number(get_tax));
					untax = untax.toFixed(3);
					var taxpre = eval(totalprice- untax).toFixed(3);
					
					var notax = unitprice/ (1 + Number(get_tax));
					notax = notax.toFixed(3);
					
//					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=notaxunitprice] div").html(notax);
//					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=untax] div").html(untax);
//					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=taxpre] div").html(taxpre);
					
					oldData[i].untax = untax;
					oldData[i].unitprice = unitprice.toFixed(3);
					oldData[i].taxpre = taxpre;
					oldData[i].notaxunitprice = notax;
					oldData[i].totalprice = totalprice.toFixed(3);
				}
				
					bilvFlag = false;
					detail(oldData);
					parent.layer.close(jiazaiIndex);

					everyFun();
			
			
				
				
				
				
				
//				$.ajax({
//					type: "get",
//					url: localStorage.serIp+"/WebDirectSettlementQuick?jsoncallback=?",
//					dataType: 'jsonp',
//					async: true,
//					data: {
//						'userId': localStorage.userId,
//						'userPw': localStorage.userPw,
//						'database': localStorage.database,
//						'orderNum':$(".BHordernum").val(),
//					},
//					success: function(res) {
//					parent.layer.close(jiazaiIndex);
//
//				
//						var desData = JSON.parse(res);
//						
//					
//						for (var i=0;i< oldData.length;i++) {
//							
//							 for (var j=0;j< desData.length;j++) {
//							 		if(oldData[i].produceid == desData[j].contractprice_productid){
//										var untax = 0;
//										var taxpre = 0;
//										var totalprice =0;
//										
//										oldData[i].unitprice = desData[j].contractprice_product_price;
//																	
//										totalprice = desData[j].contractprice_product_price * oldData[i].producecount;
//										oldData[i].totalprice = totalprice;
//										
//										untax = totalprice /  (1 + Number(get_tax));
//										
//										taxpre = eval(totalprice- untax).toFixed(3);
//		
//					
//										var notax = desData[i].unitprice/ (1 + Number(get_tax));
//										notax = notax.toFixed(3);
//										
//										oldData[i].notaxunitprice = notax;
//										oldData[i].totalprice = totalprice;
//										oldData[i].untax = untax;
//										oldData[i].taxpre = taxpre;
//										
//									}
//							 		
//							 	
//							 }
//							
//						
//		
//						}
//						
//
//						
//						detail(oldData);
//						everyFun();
//					
//
//				}
//							,
//				error: function(res) {
//					parent.layer.close(jiazaiIndex);
//					
//					parent.layer.open({
//						title: "提示",
//						content: '服务器异常!',
//							zIndex: parent.layer.zIndex //重点1
//			
//					});
//				
//				
//				}
//				})
			
				
					
				});
				
		
				
			})
							
			var jiazaiIndex;
			parent.layer.open({
			  type: 3, 
			  zIndex: parent.layer.zIndex, //重点1
			  success: function(layero, index){
			  		jiazaiIndex = index;
	  			}
			});
			
			
			var change=false;
			
			
			$("input,selected").filter(".bilv").change(function(){
				change=true;
			})
			
			
			var ordernum=	$(".layui-show", parent.document).attr("lay-item-id");
			ordernum = ordernum.substring(6,ordernum.length);
			getData(ordernum);
			
			function staffList() {
				$.ajax({
					type: "post",
					url: localStorage.serIp + "/WebGetEmployeeDropDownList?jsoncallback=?",
					async: true,
					dataType: 'jsonp',
					data: {
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid
					},
					success: function(res) {
						var data = JSON.parse(res);
						$('#salesman').bComboSelect({
							showField: 'employeename',
							keyField: 'employeesid',
							data: data
						});
					
					}
				});
			}
			
			staffList()
			
			
	
		function getData(ordernum) {
			
			change = false;
			$.ajax({
				type: "get",
				url: localStorage.serIp +"/WebGetInsettlementInfoByCGOrderNum?jsoncallback=?",
				dataType: "jsonp",
				async: true,
				data: {
					'userId': localStorage.userId,
					'userPw': localStorage.userPw,
					'database': localStorage.database,
					'orderNum': ordernum,
					'type':1
				},
				success: function(res) {
						parent.layer.close(jiazaiIndex);

					var get_data = JSON.parse(res);
					var panduan=get_data.Master.state;
					get_data_Master=JSON.parse(get_data.Master.result);

				
				
					for(var i=0;i<get_data_Master.length;i++){
						if(get_data_Master[i].insettdate && get_data_Master[i].insettdate.length > 10){
							var checkdate=get_data_Master[i].insettdate.slice(0,10);
							$("#addDistributionDate").val(checkdate);
						}
						
						if(typeof(get_data_Master[0].operationdate)!="undefined"){
								$("#operationdate").val(get_data_Master[0].operationdate);
							}


						$(".salesman ").val(get_data_Master[i].agentname)
						$(".salesman").attr('data-id',get_data_Master[i].agent)
						
						$(".unit").val(get_data_Master[i].companyname)
						$(".unit").attr('data-id',get_data_Master[i].companyid)
						
						getduiyingHeTong(get_data_Master[i].companyid,1);
					
						
						$(".contract_id").val(get_data_Master[i].contract_name)
						$(".contract_id").attr('data-id',get_data_Master[i].contractid)
						
						
						$("#targetstockid").val(get_data_Master[i].targetstockid)
						
						if(get_data_Master[i].typeof == 8){   //9产品结算
							$(".relatedDanJu").css("display","inline-block");
							
							$(".kuaisuHeJia").css("display","inline-block");
							
							$("#bilvId").css("display","inline-block");
							$("#hejiajingeId").css("display","inline-block");
							
							$(".bilv").val(get_data_Master[i].pricingpercent);
							$(".hejiajinge").val(get_data_Master[i].linkedprice);
							$("#cankaochengbenTotal").val(get_data_Master[i].sumtotalrealcost)
						}
						
						
						$("#typeofId").val(get_data_Master[i].typeof);
//						$(".type").val(get_data_Master[i].typeof)
						
						$(".notes").val(get_data_Master[i].nomo)
						
						$(".ordernum").val(get_data_Master[i].ordernum);
						if(typeof(get_data_Master[i].ordernum) !="undefined" &&get_data_Master[i].ordernum != null && get_data_Master[i].ordernum != "")
						{
							$(".zhidanren").val(get_data_Master[i].operatorname)
							$(".zhidanren").attr('data-id',get_data_Master[i].operatorsid)
						}else{
							$(".zhidanren").val(localStorage.employeeName)
							$(".zhidanren").attr('data-id',localStorage.userId)
						}
			
						
						$('.lastnum').val(get_data_Master[i].lastnum);
						
						$('#reletedBkAndBhOrdernumId').val(get_data_Master[i].jsnum);
						$('#linkordernumId').val(get_data_Master[i].linkordernum);
						$(".mynum").val(get_data_Master[i].mynum)
						
						if(typeof(get_data_Master[i].taxpercentage) != "undefined" && get_data_Master[i].taxpercentage != "") {
							$(".tax").val(get_data_Master[i].taxpercentage);
						} 
						
						if(typeof(get_data_Master[i].tickettype) != "undefined" && get_data_Master[i].tickettype != "") {
								$(".tickettype").val(get_data_Master[i].tickettype);
						}else{
								$(".tickettype").val("0");
						}
						
						
				
						$(".mynum").val(get_data_Master[i].mynum)
						
						if(get_data_Master[i].nextinvoicestate == "2") {
							$(".nextinvoicestate").prop("checked",true)
						} 
						
			       
					}
					
					
					if(get_data.Slave != null && get_data.Slave.length != 0){
						res_cong=get_data.Slave.result;
					
					
						var orderData = JSON.parse(res_cong);
						
						if(get_data.Master.state == "-2"){ //无订单
							for (var i=0;i<orderData.length;i++) {

									var totalprice = orderData[i].totalprice;
									var untax = totalprice / (1 + Number($(".tax").val()));
									untax = untax.toFixed(3);
									var taxpre = eval(totalprice- untax).toFixed(3);
									
									var notax = orderData[i].unitprice/ (1 + Number($(".tax").val()));
									notax = notax.toFixed(3);
									orderData[i].untax = untax;
									orderData[i].taxpre = taxpre;
									orderData[i].notaxunitprice = notax;
							
							}	
							
							$(".shenhe,.dsh").css("display","none");
				
						}else{
							
							$(".shenhe,.dsh").css("display","inline-block");
						}
		
						detail(orderData);	
						oldData = orderData;
		
			 
					}			
					 everyFun();

				}
								,
					error: function(res) {
						parent.layer.close(jiazaiIndex);
							
							parent.layer.open({
								title: "提示",
								content: '服务器异常!',
									zIndex: parent.layer.zIndex //重点1
					
							});
						
				
					}
			});

		}

		function detail(data) {
			//展示已知数据
			table.render({
				elem: '#addDistribution',
				data: data,
				id: 'orderTest',
				height: "full-350",
				cols: [
					[ //标题栏
						{
							checkbox: true,
							LAY_CHECKED: false,
							align: "center",
							width: 40,
						},	{
							field: 'producename',
							title: '产品名称',
							minWidth: 200, sort: true
						}, 
						{
							field: 'danwei',
							title: '规格',
							minWidth: 150, sort: true
						}, {
							field: 'producemodel',
							title: '型号',
							minWidth: 120, sort: true
						}, {
							field: 'producenum',
							title: '编号',
							minWidth: 150, sort: true
						}, {
							field: 'producecode',
							title: '主条码',
							minWidth: 200, sort: true
						}, {
							field: 'producesubbarcode',
							title: '副条码',
							edit: 'text',
							minWidth: 200, sort: true
						}, {
							field: 'produceunit',
							title: '单位',
							minWidth: 80, sort: true
						}, {
							field: 'iots',
							title: '批号',
							edit: 'text',
							minWidth: 100, sort: true
						}, {
							field: 'productiondate',
							title: '生产日期',
							minWidth: 150, sort: true
						}, {
							field: 'indate',
							title: '有效期',
							minWidth: 150, sort: true
						},
//						{
//							field: 'qs',
//							title: '合格',
//							//								edit: 'text',
//							minWidth: 80, sort: true
//						}, 
						{
							field: 'package',
							title: '包装',
							minWidth: 80, sort: true
						}
						, {
							field: 'storagecondition',
							title: '存储条件',
							minWidth: 80, sort: true
						},
						
						{
							field: 'producepropertyname',
							title: '产品种类',
							minWidth: 60, sort: true
					},
					
						{
							field: 'produceusename',
							title: '通俗名称',
							minWidth: 80, sort: true
						},{
							field: 'producettypename',
							title: '产品属性',
							minWidth: 60, sort: true
						},
					
					{
							field: 'manufacturer',
							title: '品牌',
							minWidth: 100, sort: true
						}
					,
						{
							field: 'produceseries',
							title: '产品系列',
							minWidth: 150, sort: true
						}, {
							field: 'producematerial',
							title: '材质',
							minWidth: 80, sort: true
						},{
							field: 'manufacturename',
							title: '厂家',
							minWidth: 150, sort: true
						},
						{
						field: 'regproducename',
						title: '注册证产品名称',
						minWidth: 150, sort: true
					}, {
							field: 'referencenum',
							title: '注册证号',
							minWidth: 200, sort: true
						},{
								field: 'productcertificate',
								title: '产品生产许可证编号',
								minWidth: 150,
//								sort: true
							}, {
							field: 'producecount',
							title: '数量',
//							edit: 'text',
							minWidth: 80,	fixed: 'right',
						}, {
								field: 'ordercost',
								title: '采购价格',
								minWidth: 80,	fixed: 'right',
						},{
							field: 'unitprice',
							title: '单价',
							edit: 'text',
							minWidth: 80,	fixed: 'right',
						},{
							field: 'notaxunitprice',
							title: '未税单价',
							minWidth: 80,	fixed: 'right',
						},{
							field: 'totalprice',
							title: '小计',
							minWidth: 80,	fixed: 'right',
						}
//							, {
//								field: 'taxpercentage',
//								title: '税率',
//								minWidth: 80,	fixed: 'right',
//							}
						,{
							field: 'untax',
							title: '未税小计',
							minWidth: 80,	fixed: 'right',
						},{
							field: 'taxpre',
							title: '税额小计',
							minWidth: 80,	fixed: 'right',
						},{
							field: 'referprice',
							title: '参考未税成本',
//								edit: 'text',
							minWidth: 100,	fixed: 'right',
						}
					]
				],
				skin: 'row' //表格风格
					,
				even: true,
				page: false //是否显示分页
					,
				limits: [100,200],
				limit: 10000 //每页默认显示的数量
			});
			
			$("[data-field=taxpre] div:gt(0)").each(function(i) {
				if($(this).text() == "") {
					$(this).html("0");
				}
			});
				$("[data-field=notaxunitprice]").css("background-color","#c9f2f1");	

			$("[data-field=producecount]").css("background-color","#cae1ec");
			$("[data-field=unitprice]").css("background-color","#d3ecc6");
			$("[data-field=totalprice]").css("background-color","#fee9d0");
			$("[data-field=ordercost]").css("background-color","#ffc8c8");	
			
		
			$("[data-field=untax]").css("background-color","#ffffc0");
			$("[data-field=taxpre]").css("background-color","#e1d5c2");
			$("[data-field=referprice]").css("background-color","#dacfda");
	
	
			if(localStorage.isshow == 1){
					
					if(localStorage.viewrealcost==0){
				
					$("[data-field=referprice]").css("display","none");

					$("#chengBenJIaId").css("display","none");
					}
					
			}else{
				
				$("[data-field=referprice]").css("display","none");

				$("#chengBenJIaId").css("display","none");
			}	
				
			
			
		
		}
		
		
		var check=0;
		function sendData(){
			var get_tax=$('.tax').val(); //税率
//			if(get_tax == "0"){
//				parent.layer.open({
//					title: "提示",
//					content: '请选择税率!',
//					zIndex: parent.layer.zIndex //重点1
//					,
//					success: function(layero) {
//						
//						parent.layer.setTop(layero); //重点2
//
//				
//				
//					}
//				});
//				return
//			}
					var jiazaiIndex;
				parent.layer.open({
				  type: 3, 
				  zIndex: parent.layer.zIndex, //重点1
				  success: function(layero, index){
				  		jiazaiIndex = index;
		  			}
				});
	
			var slave=[];
			
			var hejie = 0;var taxtotal=0;
			for(var i=0;i<oldData.length;i++){
				//produceid
				var produceid= oldData[i].produceid;
				//producecount
				var producecount=oldData[i].producecount;
				//unitprice
				var unitprice=oldData[i].unitprice;
				//totalprice
				var totalprice=oldData[i].totalprice;
				
				//id
				var id_=oldData[i].id;
				//untax
				var untax=oldData[i].untax;

				var taxpre = eval(totalprice) -eval(untax); //税额=销售单价-不含税价
				taxpre = taxpre;
			
				var producename=oldData[i].producename;
				var produceunit=oldData[i].produceunit;
				var realcost= oldData[i].referprice;
				realcost=realcost==undefined?oldData[i].instockcost:oldData[i].referprice;
				
				hejie += Number(totalprice);
				
				taxtotal +=Number(taxpre);
				slave.push({
					'produceid': produceid,
					"producecount": '' + producecount + '',
					'totalprice': totalprice,  //总价
					"id": '' + id_ + '',
					"taxpre": taxpre,  //税额
					"untax": untax, //不含税价
					'producename':producename,
					'produceunit':produceunit,
					'instockcost':realcost,
					'unitprice':unitprice,
					'costprice':realcost,
								'iots': oldData[i].iots,	'qs': 1,
						'indate': oldData[i].indate,
						'productiondate': oldData[i].productiondate,
						'producesubbarcode': oldData[i].producesubbarcode
				});
			}		
			var mynum = $(".mynum").val();
			var ordernum = $('.ordernum').val();
			var lastnum = $('.lastnum').val();
			var lasttype = $(".type").val();
			var nextinvoicestate = 0;
			
			　
			var a = $("#nextinvoicestateId input[type='checkbox']").is(':checked');
			if(a) {
				nextinvoicestate = 2;
			} else {
				nextinvoicestate = 0;
			}
		
			var companyid = $(".unit").attr('data-id');
			
			var outsettlementdate = $("#addDistributionDate").val();
			var agent = $("#salesman").val() ? $("#salesman").val() : $(".salesman").attr('data-id');
			var operatorsid = localStorage.userId;
			var nomo = $('.notes').val();
			

			 var contractID = $("#contract_id").val() ? $("#contract_id").val() : $(".contract_id").attr('data-id'); 

			var operationdate = $("#operationdate").val();
			var tickettype=$(".tickettype").val();
			
			var taxpercentage=$(".tax").val();
			
			var pricingpercent=$(".bilv").val();
			if(typeof(pricingpercent) == "undefined" || pricingpercent ==""){
				pricingpercent =0;
			}
			var master = {
				'ordernum': ordernum,
				'mynum': mynum,
				'lasttype': lasttype,
				'lastnum': lastnum, //分销订单单号
				'nextinvoicestate': nextinvoicestate,
				'totalprice': '' + hejie + '',
				'noinvoce': '' + hejie+ '',
				'companyid': companyid,
				'outsettlementdate': outsettlementdate,
				'operatorsid': operatorsid,
				'agent': agent,
				'nomo': '' + nomo + '',
				'taxpercentage':taxpercentage,
				'contractid':contractID,
				'isUpdateContract' : isUpdateContract,
				'tax' : taxtotal,'operationdate' : operationdate,
				'insettdate': outsettlementdate,
				'targetstockid':$("#targetstockid").val(),
				'linkordernum':$("#linkordernumId").val(),
				'typeof':$("#typeofId").val(),
				'tickettype' : tickettype,
				'pricingpercent':pricingpercent
			};
		
	
	
				$.ajax({
					type: "POST",
					url: localStorage.serIp + "/WebOperateInsettlementTable",
					async: true,
					dataType: 'json',
					crossDomain: true,
					contentType:'application/json; charset=utf-8',
					data:JSON.stringify({
						"userId": localStorage.userId,
						"userPw": localStorage.userPw,
						'database': localStorage.database,
						'groupCompanyId': localStorage.groupcompanyid,
						'master': JSON.stringify(master),
						'slave': JSON.stringify(slave),
						'check': check
					}),
					success: function(res) {
				    	parent.layer.close(jiazaiIndex);

						change=false;
						var data = JSON.parse(res);
						switch(data.SaveState.state)
						{
						case 0:
							parent.layer.open({
								title: "提示",
								content: data.SaveState.result,
								zIndex: layer.zIndex ,//重点1,
								success: function(layero) {
									parent.layer.setTop(layero); //重点2
								
								}
							});
							return;
							break;
						case 1:								
							if(data.CheckState.state == 2) {  //保存
								parent.layer.open({
									title: "提示",
									content: '保存成功',
									zIndex: layer.zIndex //重点1
									,
									success: function(layero) {
										
										parent.layer.setTop(layero); //重点2
	
								
								
									}
								});
								bilvFlag = false;

//								$(".layui-show", parent.document).attr("lay-item-id","CGHJDH"+data.SaveState.result);
								$(".ordernum").val(data.SaveState.result);
								$(".shenhe,.dsh").css("display","inline-block");
						
								return;
							} 
							if(data.CheckState.state == 1) {
								parent.layer.open({
									title: "提示",
									content: '审核成功',
									zIndex: layer.zIndex //重点1
									,
									success: function(layero) {
										parent.layer.setTop(layero); //重点2
										
										var  qk = $(".kit-tab ul.layui-tab-title li[class=layui-this]", parent.document).attr("lay-id");

										parent.tab.tabAdd({
											icon: '',
											id: 'CGHJDH'+data.SaveState.result,
											title: data.SaveState.result+'采购核价',
											url: 'views/financiaManagement/purchase/addPurchase2.html'
										});
									
										parent.layui.element.tabDelete("kitTab",qk);	
									}
								});	
					
							} 
							if(data.CheckState.state == 0) {
								parent.layer.open({
									title: "提示",
									content: '审核失败',
									zIndex: layer.zIndex //重点1
									,
									success: function(layero) {
										parent.layer.setTop(layero); //重点2
									}
								});
								return;
							} 
							if(data.CheckState.state == 3) {
								if(sessionStorage.shengheErrorData) {
									if(sessionStorage.shengheErrorData.length>0 && sessionStorage.shengheErrorData!= "[]"){
										sessionStorage.removeItem("shengheErrorData")
									}
								}
								sessionStorage.shengheErrorData = data.CheckState.result;
								parent.layer.open({
									type: 2 
										,
									title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">信息</span>',
									area: ['60%', '65%'],
				
									content: 'views/public/shengheerror.html',	
									zIndex: layer.zIndex //重点1
										,
									success: function(layero,index) {
										parent.layer.setTop(layero); //重点2
										var body = layer.getChildFrame('body', 'index');
										paentIfarame = layero.find("iframe")[0].contentWindow.document;
													
									}
								});
								return;
							} 
						break;
						case 9:
							if(sessionStorage.shouyingzizhiData) {
								if(sessionStorage.shouyingzizhiData.length>0 && sessionStorage.shouyingzizhiData!= "[]"){
									sessionStorage.removeItem("shouyingzizhiData")
								}
							}
							sessionStorage.shouyingzizhiData = data.SaveState.result;
							parent.layer.open({
								type: 2 
									,
								title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px">首营资质</span>',
								area: ['60%', '65%'],
			
								content: 'views/public/shouYingZiZhi.html',	
			
								zIndex: layer.zIndex //重点1
									,
								success: function(layero,index) {
									parent.layer.setTop(layero); //重点2
									var body = layer.getChildFrame('body', 'index');
									paentIfarame = layero.find("iframe")[0].contentWindow.document;
									$(".save", paentIfarame).click(function() {
																				$(".save", paentIfarame).attr('disabled', 'disabled');

										mark=1;
										sendDate()
										parent.layer.close(index); //再执行关闭     
									})
									
								}
							});
					  	break;
					  		  case 10: //判断是否能断帐
		  					
				  			parent.layer.open({
								title: "提示",
								content: data.SaveState.result,
								zIndex: parent.layer.zIndex //重点1
								
							});
						  break;
						}
					}
					,error: function(res) {
						parent.layer.close(jiazaiIndex);
						
						parent.layer.open({
							title: "提示",
							content: '服务器异常!',
								zIndex: parent.layer.zIndex //重点1
				
						});
	
					}
				});
		
		}
		
		
		table.on('edit(idTest)', function(obj) {
			var value = obj.value //得到修改后的值
				,
				data = obj.data //得到所在行所有键值
				,
				field = obj.field; //得到字段
				
			change = true;
			//无法判断 111ssss,类型字符串
			var re = /^[0-9]+.?[0-9]*/;
		　	if (!re.test(value)) {
				layer.tips('输入非法!',this);
				value=1;	
		　　	} 
			if(isNaN(value)){
				layer.tips('输入非法!',this);
				value=1;	
			}
			var tax; //不含税小计
			var counts;  //销售小计
			var taxpre; //税额小计
				
			if(field == 'unitprice'){    //销售单价
				
					counts = value * data.producecount;		
					counts = counts.toFixed(3);

					var tax = $(".tax").val();
					var notax = value/ (1 + Number(tax));
					notax = notax.toFixed(3);
					
					tax = counts / (1 + Number(tax))  ;
					tax = tax.toFixed(3);
					
					
					
					taxpre = eval(counts- tax).toFixed(3);
					
					var index = data.LAY_TABLE_INDEX;
					$(this).val(Number(value).toFixed(3));	
					
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=notaxunitprice] div").html(notax);

					$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=totalprice] div").html(counts);
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=untax] div").html(tax);
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=taxpre] div").html(taxpre);

						oldData[index].unitprice = value;
						oldData[index].untax = tax;
						oldData[index].taxpre = taxpre;
						oldData[index].totalprice = counts;
						oldData[index].notaxunitprice = notax;
					
//						for (var i=0;i< oldData.length;i++) {
//							if((oldData[i].produceid == data.produceid) &&(oldData[i].producesubbarcode == data.producesubbarcode) && (oldData[i].iots == data.iots) && (oldData[i].productiondate ==data.productiondate)  && (oldData[i].indate == data.indate)){
//								oldData[i].unitprice = value;
//								oldData[i].untax = tax;
//								oldData[i].taxpre = taxpre;
//								oldData[i].totalprice = counts;
//								oldData[i].notaxunitprice = notax;
//							}
//					
//						}
					
					
					everyFun();
				
			}
			
			
			if(field == 'producecount') { //数量
				var re = /^[0-9]+$/ ;
			　	if (!re.test(value)) {
					layer.tips('输入非法!',this);
					value=1;	
			　　	} 
				counts = value * data.unitprice;			
				counts = counts.toFixed(3);

				var tax = $(".tax").val();
				tax = counts / (1 + Number(tax))  ;
				tax = tax.toFixed(3);

				
				taxpre = eval(counts- tax).toFixed(3);
				
				var index = data.LAY_TABLE_INDEX;
				$(this).val(Number(value));	
				
				$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=totalprice] div").html(counts);
				$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=untax] div").html(tax);
				$(".layui-table-fixed .layui-table-body table tbody [data-index="+index+"] [data-field=taxpre] div").html(taxpre);

				oldData[index].producecount = value;
				oldData[index].untax = tax;
				oldData[index].taxpre = taxpre;
				oldData[index].totalprice = counts;
			

//					for (var i=0;i< oldData.length;i++) {
//							if((oldData[i].produceid == data.produceid) &&(oldData[i].producesubbarcode == data.producesubbarcode)){
//								oldData[i].producecount = value;
//								oldData[i].untax = tax;
//								oldData[i].taxpre = taxpre;
//								oldData[i].totalprice = counts;
//							}
//					
//					}
					everyFun();
			} 
			
	
		
		});
		
		
		//税率
		$('.tax').change(function(index) {
				var get_tax=$('.tax').val(); //税率
				
						change = true;

				for (var i=0;i<oldData.length;i++) {

					var totalprice = oldData[i].totalprice;
					var untax = totalprice / (1 + Number(get_tax));
					untax = untax.toFixed(3);
					var taxpre = eval(totalprice- untax).toFixed(3);
					
					var notax = oldData[i].unitprice/ (1 + Number(get_tax));
					notax = notax.toFixed(3);
					
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=notaxunitprice] div").html(notax);
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=untax] div").html(untax);
					$(".layui-table-fixed .layui-table-body table tbody [data-index="+i+"] [data-field=taxpre] div").html(taxpre);
					
					oldData[i].untax = untax;
					oldData[i].taxpre = taxpre;
					oldData[i].notaxunitprice = notax;
				}
				
					everyFun();
			
			})
			
			
			
		//一键核价
		$(".yijianhejia").click(function(){
				if(!checkPermissionStatus("采购核价-保存1")){
					
						parent.layer.open({
							title: "提示",
							content: localStorage.jurisdictionTips,
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return
						
				}
				
				 var contractID = $("#contract_id").val() ? $("#contract_id").val() : $(".contract_id").attr('data-id'); 
				if(typeof(contractID) == "undefined" || contractID=="") {
					parent.layer.open({
						title: "提示",
						content: '无合同信息不能核价!'
					});
					return false;
				}
				
							
				parent.layer.confirm('确定要一键核价吗！', {
						icon: 3,
						title: '提示'
				}, function(index) {
				
							
				var get_tax=$('.tax').val(); //税率
			
				$.ajax({
					type: "get",
					url: localStorage.serIp+"/WebGetProductPriceByProduceIDAndContractID?jsoncallback=?",
					dataType: 'jsonp',
					async: true,
					data: {
						'userId': localStorage.userId,
						'userPw': localStorage.userPw,
						'database': localStorage.database,			
						"contractID":contractID

					},
					success: function(res) {
						var desData = JSON.parse(res);
						
					
						for (var i=0;i< oldData.length;i++) {
							
							 for (var j=0;j< desData.length;j++) {
							 		if(oldData[i].produceid == desData[j].contractprice_productid){
										var untax = 0;
										var taxpre = 0;
										var totalprice =0;
										
										oldData[i].unitprice = desData[j].contractprice_product_price;
																	
										totalprice = desData[j].contractprice_product_price * oldData[i].producecount;
										oldData[i].totalprice = totalprice;
										
										untax = totalprice /  (1 + Number(get_tax));
										
										taxpre = eval(totalprice- untax).toFixed(3);
		
					
										var notax = desData[i].unitprice/ (1 + Number(get_tax));
										notax = notax.toFixed(3);
										
										oldData[i].notaxunitprice = notax;
										oldData[i].totalprice = totalprice;
										oldData[i].untax = untax;
										oldData[i].taxpre = taxpre;
										
									}
							 		
							 	
							 }
							
						
		
						}
						

						
						detail(oldData);
						everyFun();
					}
				});
			
					parent.layer.close(index);	

					return;
				},
				 function(index) {
	
					parent.layer.close(index);
			

					return;
				}
				);
				

			
		})
			
			
			
		$(".relatedDanJu").click(function(){
				if(sessionStorage.reletedBkAndBhOrdernum){
						sessionStorage.removeItem("reletedBkAndBhOrdernum");
				}
				sessionStorage.reletedBkAndBhOrdernum = $('#reletedBkAndBhOrdernumId').val();
				parent.layer.open({
						type: 2 //此处以iframe举例
							,
						title: '<img width="20px" src="image/logo.png" alt="" /><span style="margin-left:10px" id="huoqu_name">【直销核价】</span>',
						area: ['85%', '90%'],
						offset: "rb",
						content: 'views/financiaManagement/purchase/relatedBkAndBh.html',
						zIndex: parent.layer.zIndex //重点1
							,
						success: function(layero,index) {
				
						}	,
						end: function(layero,index) {
							if(sessionStorage.reletedBkAndBhOrdernum){
								sessionStorage.removeItem("reletedBkAndBhOrdernum");
							}
						}
					});
		})
			

			
			
		$(".preserve").click(function() {
			
//			if(bilvFlag && $(".bilv").val() != ""){
//				parent.layer.open({
//					title: "提示",
//					content: '比率发生变化，请先关联核价!'
//				});
//				return false;
//			}
//					
			if(!checkPermissionStatus("采购核价-保存1")){
				
					parent.layer.open({
						title: "提示",
						content: localStorage.jurisdictionTips,
						zIndex: parent.layer.zIndex //重点1
						,
						success: function(layero) {
							parent.layer.setTop(layero); //重点2
						}
					});
					return
					
			}	
				
				
			if($(".addDistribution .tax").val() == null ||$(".addDistribution .tax").val() == ""){
				parent.layer.open({
					title: "提示",
					content: '请选择税率'
				});
				return false;
			}
			
//			if($(".totalprice").val()=="") {
//				parent.layer.open({
//					title: "提示",
//					content: '总金额不能为空'
//				});
//				return false;
//			}
			
			sendData()
		})
		
		var isUpdateContract = 0; //0代表默认不更新，1表示更新

		 //点击审核
		$(".shenhe").click(function() {
			if(!checkPermissionStatus("采购核价-审核1")){
					
						parent.layer.open({
							title: "提示",
							content: localStorage.jurisdictionTips,
							zIndex: parent.layer.zIndex //重点1
							,
							success: function(layero) {
								parent.layer.setTop(layero); //重点2
							}
						});
						return
						
			}
					
					
			if(bilvFlag && $(".bilv").val() != ""){
				parent.layer.open({
					title: "提示",
					content: '比率发生变化，请先关联核价!'
				});
				return false;
			}
			
			if(change){
				parent.layer.open({
					title: "提示",
					content: '内容发生变化请先保存!'
				});
				return false;
			}
			check = 1;
			
				
			 var contractID =$('.contract_id').val();
			if(typeof(contractID) != "undefined"&&contractID !="" &&contractID !=null) {
					parent.layer.confirm('是否同步更新合同信息！', {
							icon: 3,
							title: '提示'
					}, function(index) {
					
						isUpdateContract =1;	
				
					sendData();
						parent.layer.close(index);	
	
					},
					 function(index) {
					 		isUpdateContract =0;
						sendData();
						parent.layer.close(index);
					
	
					}
					);
			
			}else{
				isUpdateContract =0;
					sendData();
			}
			

			
			
		
			
			
			
		});
		
		
		//判断数据
		$(".discount").change(function(){
			if(isNaN($(".discount").val()) || $(".discount").val() >100){
				parent.layer.open({
					title: "提示",
					content: '请正确输入数据',
					zIndex: layer.zIndex //重点1
				});
				$(".discount").val("100")
			}
		})

			
	//计算合计	
	function everyFun(){
		
			var producecount=0;
			var xiaoShouHe =0;  //销售合计
			var untaxId =0;
			var taxpreId =0;
			
			for(var i=0;i<oldData.length;i++){
				var currentprice =oldData[i].totalprice;
				var currentCount = oldData[i].producecount;
				var untax = oldData[i].untax;
				var taxpre = oldData[i].taxpre;
				
				if( currentprice != ""&& currentprice !=0){
					xiaoShouHe= xiaoShouHe  + Number(currentprice);
				}
				
				if( untax != ""&& untax !=0){
					untaxId= untaxId  + Number(untax);
				}
				
				if( taxpre != ""&& taxpre !=0){
					taxpreId= taxpreId  + Number(taxpre);
				}
				
				
				
				if( currentCount != ""&& currentCount !=0){
					producecount= producecount  + Number(currentCount);
				}
				
			}

			
			$(".fixStyle #producecountId").text(producecount)

			$(".fixStyle #xiaoShouHeId").text(xiaoShouHe.toFixed(3));
			
			$(".fixStyle #untaxId").text(untaxId.toFixed(3))
			
			$(".fixStyle #taxpreId").text(taxpreId.toFixed(3))
			
		}
					

//-----------------------------------------------End-------------------------------------------------------------			
			//一键清零
			$(".qingling").click(function(){
				removeLing()
			})
			function removeLing(){
				$("[data-field=unitprice] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$("[data-field=taxpercentage] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$("[data-field=untax] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$("[data-field=reducemoney] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$("[data-field=instockcost] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$("[data-field=totalprice] div:gt(0)").each(function(i) {
					$(this).text('0')
				});
				$(".tax").find("option[value=0]").attr("selected",true);
				$(".totalprice").val('0'); 
				$(".youhui").val('0')
				$(".discount").val('100')
			}
			
			
			//加价比例
			$(".salediscount").change(function(){
				var salediscount=$(this).val();
				if(isNaN(salediscount) || salediscount > 100){
					$(this).val("");
					return;
				}
				salediscount=salediscount /100 +1;
				$("[data-field=unitprice] div:gt(0)").each(function(i) {
					if($(this).html() != ""){
						var value=$(this).text($(this).html() * salediscount)
					}
				});
				for(var i=0;i<$(".addDistribution tbody tr").length;i++){
					var value=$(".addDistribution tbody tr:eq("+i+") td:eq(8) div").text() * $(".addDistribution tbody tr:eq("+i+") td:eq(15) div").text();
					$(".addDistribution tbody tr:eq("+i+") td:eq(11) div").text(value)
				}
				everyFun()
			})
			
			
						//整单优惠
			$(".youhui").change(function() {
				if(isNaN($(".youhui").val())){
					$(".youhui").val("0")
					return;
				}
				
				
				var zhengfu=eval($(".totalprice").val()) - eval($(".youhui").val());
				if(zhengfu < 0){
					parent.layer.open({
						title: "提示",
						content: '整单优惠不能大于总金额!'
					});
					
					$(".youhui").val('0');
					return;
					
				}else{
					everyFun();
				}
			});
			
			
			//整单折扣
			$(".discount").change(function(){
				if(isNaN($(".discount").val())){
					$(".discount").val("100");
					return;
				}
				
				if($(".discount").val() >100 || $(".discount").val() <= 0){
					$(".discount").val("100")
					return;
				}
				
				
				var baifenbi=$(".discount").val() * 0.01 //整单折扣

				for(var i=0;i<$(".addPurchase tbody tr").length;i++){
					
					
					var zhekoue=$(".addPurchase tbody tr:eq("+i+") td:eq(8) div").text() * (100-$(this).val()) 
					zhekoue=zhekoue/100
					
					
					var chenbenjia=$(".addPurchase tbody tr:eq("+i+") td:eq(9) div").text() - zhekoue; 
					
				}
				
				everyFun();
			})
		});
	</script>
	<script src="../../../js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/comboselect.js"></script>
	<script type="text/javascript" src="../../../js/b.comboselect.js"></script>

</html>